openapi: 3.2.0
info:
  title: Load Balancer Backends API
  description: Load Balancers are highly available and fully managed Instances that facilitate the distribution of incoming traffic across multiple servers.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Backends
  description: The Load Balancer backend object. It represents a set of backend servers that the frontend forwards requests to using the specified configuration (port, protocol, proxy protocol etc). You can create multiple backends for each of your Load Balancers. Use the backends endpoint to create backends, list, manage and update them and their healthchecks / backend servers, and delete them as required
paths:
  /lb/v1/zones/{zone}/backends/{backend_id}:
    get:
      tags:
      - Backends
      operationId: GetBackend
      summary: Get a backend of a given Load Balancer
      description: Get the full details of a given backend, specified by its backend ID. The response contains the backend's full configuration parameters including protocol, port and forwarding algorithm.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Backends
      operationId: UpdateBackend
      summary: Update a backend of a given Load Balancer
      description: Update a backend of a given Load Balancer, specified by its backend ID. Note that the request type is PUT and not PATCH. You must set all parameters.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Backend name.
                forward_protocol:
                  type: string
                  description: Protocol to be used by the backend when forwarding traffic to backend servers.
                  enum:
                  - tcp
                  - http
                  default: tcp
                forward_port:
                  type: integer
                  description: Port to be used by the backend when forwarding traffic to backend servers.
                  format: int32
                forward_port_algorithm:
                  type: string
                  description: Load balancing algorithm to be used when determining which backend server to forward new traffic to.
                  enum:
                  - roundrobin
                  - leastconn
                  - first
                  default: roundrobin
                sticky_sessions:
                  type: string
                  description: Defines whether to activate sticky sessions (binding a particular session to a particular backend server) and the method to use if so. None disables sticky sessions. Cookie-based uses an HTTP cookie to stick a session to a backend server. Table-based uses the source (client) IP address to stick a session to a backend server.
                  enum:
                  - none
                  - cookie
                  - table
                  default: none
                sticky_sessions_cookie_name:
                  type: string
                  description: Cookie name for cookie-based sticky sessions.
                send_proxy_v2:
                  type: boolean
                  description: Deprecated in favor of proxy_protocol field.
                  deprecated: true
                timeout_server:
                  type: number
                  description: Maximum allowed time for a backend server to process a request. (in milliseconds)
                timeout_connect:
                  type: number
                  description: Maximum allowed time for establishing a connection to a backend server. (in milliseconds)
                timeout_tunnel:
                  type: number
                  description: Maximum allowed tunnel inactivity time after Websocket is established (takes precedence over client and server timeout). (in milliseconds)
                on_marked_down_action:
                  type: string
                  description: Action to take when a backend server is marked as down.
                  enum:
                  - on_marked_down_action_none
                  - shutdown_sessions
                  default: on_marked_down_action_none
                proxy_protocol:
                  type: string
                  description: Protocol to use between the Load Balancer and backend servers. Allows the backend servers to be informed of the client's real IP address. The PROXY protocol must be supported by the backend servers' software.
                  enum:
                  - proxy_protocol_unknown
                  - proxy_protocol_none
                  - proxy_protocol_v1
                  - proxy_protocol_v2
                  - proxy_protocol_v2_ssl
                  - proxy_protocol_v2_ssl_cn
                  default: proxy_protocol_unknown
                failover_host:
                  type: string
                  description: Scaleway Object Storage bucket website to be served as failover if all backend servers are down, e.g. failover-website.s3-website.fr-par.scw.cloud.
                  nullable: true
                ssl_bridging:
                  type: boolean
                  description: Defines whether to enable SSL bridging between the Load Balancer and backend servers.
                  nullable: true
                ignore_ssl_server_verify:
                  type: boolean
                  description: Defines whether the server certificate verification should be ignored.
                  nullable: true
                redispatch_attempt_count:
                  type: integer
                  description: Whether to use another backend server on each attempt.
                  format: int32
                  nullable: true
                max_retries:
                  type: integer
                  description: Number of retries when a backend server connection failed.
                  format: int32
                  nullable: true
                max_connections:
                  type: integer
                  description: Maximum number of connections allowed per backend server.
                  format: int32
                  nullable: true
                timeout_queue:
                  type: string
                  description: Maximum time for a request to be left pending in queue when `max_connections` is reached. (in seconds)
                  example: 2.5s
                  nullable: true
              required:
              - name
              - forward_protocol
              - forward_port
              - forward_port_algorithm
              - sticky_sessions
              x-properties-order:
              - name
              - forward_protocol
              - forward_port
              - forward_port_algorithm
              - sticky_sessions
              - sticky_sessions_cookie_name
              - send_proxy_v2
              - timeout_server
              - timeout_connect
              - timeout_tunnel
              - on_marked_down_action
              - proxy_protocol
              - failover_host
              - ssl_bridging
              - ignore_ssl_server_verify
              - redispatch_attempt_count
              - max_retries
              - max_connections
              - timeout_queue
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"forward_port\": 42,\n    \"forward_port_algorithm\": \"roundrobin\",\n    \"forward_protocol\": \"tcp\",\n    \"name\": \"string\",\n    \"send_proxy_v2\": false,\n    \"sticky_sessions\": \"none\",\n    \"sticky_sessions_cookie_name\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  forward_port:=42 \\\n  forward_port_algorithm=\"roundrobin\" \\\n  forward_protocol=\"tcp\" \\\n  name=\"string\" \\\n  send_proxy_v2:=false \\\n  sticky_sessions=\"none\" \\\n  sticky_sessions_cookie_name=\"string\""
    delete:
      tags:
      - Backends
      operationId: DeleteBackend
      summary: Delete a backend of a given Load Balancer
      description: Delete a backend of a given Load Balancer, specified by its backend ID. This action is irreversible and cannot be undone.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: ID of the backend to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /lb/v1/zones/{zone}/backends/{backend_id}/healthcheck:
    put:
      tags:
      - Backends
      operationId: UpdateHealthCheck
      summary: Update a health check for a given backend
      description: Update the configuration of the health check performed by a given backend to verify the health of its backend servers, identified by its backend ID. Note that the request type is PUT and not PATCH. You must set all parameters.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.HealthCheck'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                port:
                  type: integer
                  description: Port to use for the backend server health check.
                  format: int32
                check_delay:
                  type: number
                  description: Time to wait between two consecutive health checks. (in milliseconds)
                check_timeout:
                  type: number
                  description: Maximum time a backend server has to reply to the health check. (in milliseconds)
                check_max_retries:
                  type: integer
                  description: Number of consecutive unsuccessful health checks after which the server will be considered dead.
                  format: int32
                check_send_proxy:
                  type: boolean
                  description: Defines whether proxy protocol should be activated for the health check.
                tcp_config:
                  type: object
                  description: Object to configure a basic TCP health check.
                  nullable: true
                  x-one-of: Config
                mysql_config:
                  type: object
                  description: Object to configure a MySQL health check. The check requires MySQL >=3.22 or <9.0. For older or newer versions, use a TCP health check.
                  properties:
                    user:
                      type: string
                      description: MySQL user to use for the health check.
                  nullable: true
                  x-properties-order:
                  - user
                  x-one-of: Config
                pgsql_config:
                  type: object
                  description: Object to configure a PostgreSQL health check.
                  properties:
                    user:
                      type: string
                      description: PostgreSQL user to use for the health check.
                  nullable: true
                  x-properties-order:
                  - user
                  x-one-of: Config
                ldap_config:
                  type: object
                  description: Object to configure an LDAP health check. The response is analyzed to find the LDAPv3 response message.
                  nullable: true
                  x-one-of: Config
                redis_config:
                  type: object
                  description: Object to configure a Redis health check. The response is analyzed to find the +PONG response message.
                  nullable: true
                  x-one-of: Config
                http_config:
                  type: object
                  description: Object to configure an HTTP health check.
                  properties:
                    uri:
                      type: string
                      description: 'HTTP path used for the health check.

                        The HTTP path to use when performing a health check on backend servers.'
                    method:
                      type: string
                      description: 'HTTP method used for the health check.

                        The HTTP method used when performing a health check on backend servers.'
                    code:
                      type: integer
                      description: 'HTTP response code expected for a successful health check.

                        The HTTP response code that should be returned for a health check to be considered successful.'
                      format: int32
                      nullable: true
                    host_header:
                      type: string
                      description: 'HTTP host header used for the health check.

                        The HTTP host header used when performing a health check on backend servers.'
                  nullable: true
                  x-properties-order:
                  - uri
                  - method
                  - code
                  - host_header
                  x-one-of: Config
                https_config:
                  type: object
                  description: Object to configure an HTTPS health check.
                  properties:
                    uri:
                      type: string
                      description: 'HTTP path used for the health check.

                        The HTTP path to use when performing a health check on backend servers.'
                    method:
                      type: string
                      description: 'HTTP method used for the health check.

                        The HTTP method used when performing a health check on backend servers.'
                    code:
                      type: integer
                      description: 'HTTP response code expected for a successful health check.

                        The HTTP response code that should be returned for a health check to be considered successful.'
                      format: int32
                      nullable: true
                    host_header:
                      type: string
                      description: 'HTTP host header used for the health check.

                        The HTTP host header used when performing a health check on backend servers.'
                    sni:
                      type: string
                      description: 'SNI used for SSL health checks.

                        The SNI value used when performing a health check on backend servers over SSL.'
                  nullable: true
                  x-properties-order:
                  - uri
                  - method
                  - code
                  - host_header
                  - sni
                  x-one-of: Config
                transient_check_delay:
                  type: string
                  description: Time to wait between two consecutive health checks when a backend server is in a transient state (going UP or DOWN). (in seconds)
                  example: 2.5s
                  nullable: true
              required:
              - port
              - check_delay
              - check_timeout
              - check_max_retries
              x-properties-order:
              - port
              - check_delay
              - check_timeout
              - check_max_retries
              - check_send_proxy
              - tcp_config
              - mysql_config
              - pgsql_config
              - ldap_config
              - redis_config
              - http_config
              - https_config
              - transient_check_delay
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"check_delay\": 42,\n    \"check_max_retries\": 42,\n    \"check_send_proxy\": false,\n    \"check_timeout\": 42,\n    \"port\": 42\n  }' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/healthcheck\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/healthcheck\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  check_delay:=42 \\\n  check_max_retries:=42 \\\n  check_send_proxy:=false \\\n  check_timeout:=42 \\\n  port:=42"
  /lb/v1/zones/{zone}/backends/{backend_id}/servers:
    post:
      tags:
      - Backends
      operationId: AddBackendServers
      summary: Add a set of backend servers to a given backend
      description: For a given backend specified by its backend ID, add a set of backend servers (identified by their IP addresses) it should forward traffic to. These will be appended to any existing set of backend servers for this backend.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                server_ip:
                  type: array
                  description: List of IP addresses to add to backend servers.
                  items:
                    type: string
              required:
              - server_ip
              x-properties-order:
              - server_ip
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"server_ip\":[\"string\"]}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  server_ip:='[\"string\"]'"
    put:
      tags:
      - Backends
      operationId: SetBackendServers
      summary: Define all backend servers for a given backend
      description: For a given backend specified by its backend ID, define the set of backend servers (identified by their IP addresses) that it should forward traffic to. Any existing backend servers configured for this backend will be removed.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                server_ip:
                  type: array
                  description: List of IP addresses for backend servers. Any other existing backend servers will be removed.
                  items:
                    type: string
              required:
              - server_ip
              x-properties-order:
              - server_ip
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"server_ip\":[\"string\"]}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  server_ip:='[\"string\"]'"
    delete:
      tags:
      - Backends
      operationId: RemoveBackendServers
      summary: Remove a set of servers for a given backend
      description: For a given backend specified by its backend ID, remove the specified backend servers (identified by their IP addresses) so that it no longer forwards traffic to them.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: backend_id
        description: Backend ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                server_ip:
                  type: array
                  description: List of IP addresses to remove from backend servers.
                  items:
                    type: string
              required:
              - server_ip
              x-properties-order:
              - server_ip
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"server_ip\":[\"string\"]}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/lb/v1/zones/{zone}/backends/{backend_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  server_ip:='[\"string\"]'"
  /lb/v1/zones/{zone}/lbs/{lb_id}/backend-stats:
    get:
      tags:
      - Backends
      operationId: ListBackendStats
      summary: List backend server statistics
      description: List information about your backend servers, including their state and the result of their last health check.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: backend_id
        description: ID of the backend.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListBackendStatsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backend-stats\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backend-stats\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /lb/v1/zones/{zone}/lbs/{lb_id}/backends:
    get:
      tags:
      - Backends
      operationId: ListBackends
      summary: List the backends of a given Load Balancer
      description: List all the backends of a Load Balancer, specified by its Load Balancer ID. By default, results are returned in ascending order by the creation date of each backend. The response is an array of backend objects, containing full details of each one including their configuration parameters such as protocol, port and forwarding algorithm.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      - in: query
        name: name
        description: Name of the backend to filter for.
        schema:
          type: string
      - in: query
        name: order_by
        description: Sort order of backends in the response.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of backends to return.
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListBackendsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backends\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backends\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Backends
      operationId: CreateBackend
      summary: Create a backend for a given Load Balancer
      description: Create a new backend for a given Load Balancer, specifying its full configuration including protocol, port and forwarding algorithm.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Backend'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the backend.
                forward_protocol:
                  type: string
                  description: Protocol to be used by the backend when forwarding traffic to backend servers.
                  enum:
                  - tcp
                  - http
                  default: tcp
                forward_port:
                  type: integer
                  description: Port to be used by the backend when forwarding traffic to backend servers.
                  format: int32
                forward_port_algorithm:
                  type: string
                  description: Load balancing algorithm to be used when determining which backend server to forward new traffic to.
                  enum:
                  - roundrobin
                  - leastconn
                  - first
                  default: roundrobin
                sticky_sessions:
                  type: string
                  description: Defines whether to activate sticky sessions (binding a particular session to a particular backend server) and the method to use if so. None disables sticky sessions. Cookie-based uses an HTTP cookie TO stick a session to a backend server. Table-based uses the source (client) IP address to stick a session to a backend server.
                  enum:
                  - none
                  - cookie
                  - table
                  default: none
                sticky_sessions_cookie_name:
                  type: string
                  description: Cookie name for cookie-based sticky sessions.
                health_check:
                  type: object
                  description: Object defining the health check to be carried out by the backend when checking the status and health of backend servers.
                  properties:
                    port:
                      type: integer
                      description: Port to use for the backend server health check.
                      format: int32
                    check_delay:
                      type: number
                      description: Time to wait between two consecutive health checks. (in milliseconds)
                      default: 3000
                    check_timeout:
                      type: number
                      description: Maximum time a backend server has to reply to the health check. (in milliseconds)
                      default: 1000
                    check_max_retries:
                      type: integer
                      description: Number of consecutive unsuccessful health checks after which the server will be considered dead.
                      format: int32
                    tcp_config:
                      type: object
                      description: Object to configure a basic TCP health check.
                      nullable: true
                      x-one-of: config
                    mysql_config:
                      type: object
                      description: Object to configure a MySQL health check. The check requires MySQL >=3.22 or <9.0. For older or newer versions, use a TCP health check.
                      properties:
                        user:
                          type: string
                          description: MySQL user to use for the health check.
                      nullable: true
                      x-properties-order:
                      - user
                      x-one-of: config
                    pgsql_config:
                      type: object
                      description: Object to configure a PostgreSQL health check.
                      properties:
                        user:
                          type: string
                          description: PostgreSQL user to use for the health check.
                      nullable: true
                      x-properties-order:
                      - user
                      x-one-of: config
                    ldap_config:
                      type: object
                      description: Object to configure an LDAP health check. The response is analyzed to find the LDAPv3 response message.
                      nullable: true
                      x-one-of: config
                    redis_config:
                      type: object
                      description: Object to configure a Redis health check. The response is analyzed to find the +PONG response message.
                      nullable: true
                      x-one-of: config
                    http_config:
                      type: object
                      description: Object to configure an HTTP health check.
                      properties:
                        uri:
                          type: string
                          description: 'HTTP path used for the health check.

                            The HTTP path to use when performing a health check on backend servers.'
                        method:
                          type: string
                          description: 'HTTP method used for the health check.

                            The HTTP method used when performing a health check on backend servers.'
                        code:
                          type: integer
                          description: 'HTTP response code expected for a successful health check.

                            The HTTP response code that should be returned for a health check to be considered successful.'
                          format: int32
                          nullable: true
                        host_header:
                          type: string
                          description: 'HTTP host header used for the health check.

                            The HTTP host header used when performing a health check on backend servers.'
                      nullable: true
                      x-properties-order:
                      - uri
                      - method
                      - code
                      - host_header
                      x-one-of: config
                    https_config:
                      type: object
                      description: Object to configure an HTTPS health check.
                      properties:
                        uri:
                          type: string
                          description: 'HTTP path used for the health check.

                            The HTTP path to use when performing a health check on backend servers.'
                        method:
                          type: string
                          description: 'HTTP method used for the health check.

                            The HTTP method used when performing a health check on backend servers.'
                        code:
                          type: integer
                          description: 'HTTP response code expected for a successful health check.

                            The HTTP response code that should be returned for a health check to be considered successful.'
                          format: int32
                          nullable: true
                        host_header:
                          type: string
                          description: 'HTTP host header used for the health check.

                            The HTTP host header used when performing a health check on backend servers.'
                        sni:
                          type: string
                          description: 'SNI used for SSL health checks.

                            The SNI value used when performing a health check on backend servers over SSL.'
                      nullable: true
                      x-properties-order:
                      - uri
                      - method
                      - code
                      - host_header
                      - sni
                      x-one-of: config
                    check_send_proxy:
                      type: boolean
                      description: Defines whether proxy protocol should be activated for the health check.
                    transient_check_delay:
                      type: string
                      description: Time to wait between two consecutive health checks when a backend server is in a transient state (going UP or DOWN). (in seconds)
                      example: 2.5s
                      nullable: true
                      default: 0.5s
                  x-properties-order:
                  - port
                  - check_delay
                  - check_timeout
                  - check_max_retries
                  - tcp_config
                  - mysql_config
                  - pgsql_config
                  - ldap_config
                  - redis_config
                  - http_config
                  - https_config
                  - check_send_proxy
                  - transient_check_delay
                server_ip:
                  type: array
                  description: List of backend server IP addresses (IPv4 or IPv6) the backend should forward traffic to.
                  items:
                    type: string
                send_proxy_v2:
                  type: boolean
                  description: Deprecated in favor of proxy_protocol field.
                  deprecated: true
                timeout_server:
                  type: number
                  description: Maximum allowed time for a backend server to process a request. (in milliseconds)
                timeout_connect:
                  type: number
                  description: Maximum allowed time for establishing a connection to a backend server. (in milliseconds)
                timeout_tunnel:
                  type: number
                  description: Maximum allowed tunnel inactivity time after Websocket is established (takes precedence over client and server timeout). (in milliseconds)
                on_marked_down_action:
                  type: string
                  description: Action to take when a backend server is marked as down.
                  enum:
                  - on_marked_down_action_none
                  - shutdown_sessions
                  default: on_marked_down_action_none
                proxy_protocol:
                  type: string
                  description: Protocol to use between the Load Balancer and backend servers. Allows the backend servers to be informed of the client's real IP address. The PROXY protocol must be supported by the backend servers' software.
                  enum:
                  - proxy_protocol_unknown
                  - proxy_protocol_none
                  - proxy_protocol_v1
                  - proxy_protocol_v2
                  - proxy_protocol_v2_ssl
                  - proxy_protocol_v2_ssl_cn
                  default: proxy_protocol_unknown
                failover_host:
                  type: string
                  description: Scaleway Object Storage bucket website to be served as failover if all backend servers are down, e.g. failover-website.s3-website.fr-par.scw.cloud.
                  nullable: true
                ssl_bridging:
                  type: boolean
                  description: Defines whether to enable SSL bridging between the Load Balancer and backend servers.
                  nullable: true
                ignore_ssl_server_verify:
                  type: boolean
                  description: Defines whether the server certificate verification should be ignored.
                  nullable: true
                redispatch_attempt_count:
                  type: integer
                  description: Whether to use another backend server on each attempt.
                  format: int32
                  nullable: true
                max_retries:
                  type: integer
                  description: Number of retries when a backend server connection failed.
                  format: int32
                  nullable: true
                max_connections:
                  type: integer
                  description: Maximum number of connections allowed per backend server.
                  format: int32
                  nullable: true
                timeout_queue:
                  type: string
                  description: Maximum time for a request to be left pending in queue when `max_connections` is reached. (in seconds)
                  example: 2.5s
                  nullable: true
              required:
              - name
              - forward_protocol
              - forward_port
              - forward_port_algorithm
              - sticky_sessions
              - health_check
              - server_ip
              x-properties-order:
              - name
              - forward_protocol
              - forward_port
              - forward_port_algorithm
              - sticky_sessions
              - sticky_sessions_cookie_name
              - health_check
              - server_ip
              - send_proxy_v2
              - timeout_server
              - timeout_connect
              - timeout_tunnel
              - on_marked_down_action
              - proxy_protocol
              - failover_host
              - ssl_bridging
              - ignore_ssl_server_verify
              - redispatch_attempt_count
              - max_retries
              - max_connections
              - timeout_queue
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"forward_port\": 42,\n    \"forward_port_algorithm\": \"roundrobin\",\n    \"forward_protocol\": \"tcp\",\n    \"health_check\": {\n        \"check_delay\": 3000,\n        \"check_max_retries\": 42,\n        \"check_send_proxy\": false,\n        \"check_timeout\": 1000,\n        \"http_config\": {\n            \"code\": 42,\n            \"host_header\": \"string\",\n            \"method\": \"string\",\n            \"uri\": \"string\"\n        },\n        \"https_config\": {\n            \"code\": 42,\n            \"host_header\": \"string\",\n            \"method\": \"string\",\n            \"sni\": \"string\",\n            \"uri\": \"string\"\n        },\n        \"ldap_config\": {},\n        \"mysql_config\": {\n            \"user\": \"string\"\n        },\n        \"pgsql_config\": {\n            \"user\": \"string\"\n        },\n        \"port\": 42,\n        \"redis_config\": {},\n        \"tcp_config\": {},\n        \"transient_check_delay\": \"2.5s\"\n    },\n    \"name\": \"string\",\n    \"send_proxy_v2\": false,\n    \"server_ip\": [\n        \"string\"\n    ],\n    \"sticky_sessions\": \"none\",\n    \"sticky_sessions_cookie_name\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backends\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/backends\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  forward_port:=42 \\\n  forward_port_algorithm=\"roundrobin\" \\\n  forward_protocol=\"tcp\" \\\n  health_check:='{\n    \"check_delay\": 3000,\n    \"check_max_retries\": 42,\n    \"check_send_proxy\": false,\n    \"check_timeout\": 1000,\n    \"http_config\": {\n        \"code\": 42,\n        \"host_header\": \"string\",\n        \"method\": \"string\",\n        \"uri\": \"string\"\n    },\n    \"https_config\": {\n        \"code\": 42,\n        \"host_header\": \"string\",\n        \"method\": \"string\",\n        \"sni\": \"string\",\n        \"uri\": \"string\"\n    },\n    \"ldap_config\": {},\n    \"mysql_config\": {\n        \"user\": \"string\"\n    },\n    \"pgsql_config\": {\n        \"user\": \"string\"\n    },\n    \"port\": 42,\n    \"redis_config\": {},\n    \"tcp_config\": {},\n    \"transient_check_delay\": \"2.5s\"\n  }' \\\n  name=\"string\" \\\n  send_proxy_v2:=false \\\n  server_ip:='[\n    \"string\"\n  ]' \\\n  sticky_sessions=\"none\" \\\n  sticky_sessions_cookie_name=\"string\""
components:
  schemas:
    scaleway.lb.v1.BackendServerStats:
      type: object
      properties:
        instance_id:
          type: string
          description: ID of your Load Balancer's underlying Instance.
        backend_id:
          type: string
          description: Backend ID.
        ip:
          type: string
          description: IPv4 or IPv6 address of the backend server.
        server_state:
          type: string
          description: Server operational state (stopped/starting/running/stopping).
          enum:
          - stopped
          - starting
          - running
          - stopping
          default: stopped
        server_state_changed_at:
          type: string
          description: Time since last operational change. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        last_health_check_status:
          type: string
          description: Last health check status (unknown/neutral/failed/passed/condpass).
          enum:
          - unknown
          - neutral
          - failed
          - passed
          - condpass
          default: unknown
      x-properties-order:
      - instance_id
      - backend_id
      - ip
      - server_state
      - server_state_changed_at
      - last_health_check_status
    scaleway.lb.v1.HealthCheck:
      type: object
      properties:
        port:
          type: integer
          description: Port to use for the backend server health check.
          format: int32
        check_delay:
          type: number
          description: Time to wait between two consecutive health checks. (in milliseconds)
          default: 3000
        check_timeout:
          type: number
          description: Maximum time a backend server has to reply to the health check. (in milliseconds)
          default: 1000
        check_max_retries:
          type: integer
          description: Number of consecutive unsuccessful health checks after which the server will be considered dead.
          format: int32
        tcp_config:
          type: object
          description: Object to configure a basic TCP health check.
          nullable: true
          x-one-of: config
        mysql_config:
          type: object
          description: Object to configure a MySQL health check. The check requires MySQL >=3.22 or <9.0. For older or newer versions, use a TCP health check.
          properties:
            user:
              type: string
              description: MySQL user to use for the health check.
          nullable: true
          x-properties-order:
          - user
          x-one-of: config
        pgsql_config:
          type: object
          description: Object to configure a PostgreSQL health check.
          properties:
            user:
              type: string
              description: PostgreSQL user to use for the health check.
          nullable: true
          x-properties-order:
          - user
          x-one-of: config
        ldap_config:
          type: object
          description: Object to configure an LDAP health check. The response is analyzed to find the LDAPv3 response message.
          nullable: true
          x-one-of: config
        redis_config:
          type: object
          description: Object to configure a Redis health check. The response is analyzed to find the +PONG response message.
          nullable: true
          x-one-of: config
        http_config:
          type: object
          description: Object to configure an HTTP health check.
          properties:
            uri:
              type: string
              description: 'HTTP path used for the health check.

                The HTTP path to use when performing a health check on backend servers.'
            method:
              type: string
              description: 'HTTP method used for the health check.

                The HTTP method used when performing a health check on backend servers.'
            code:
              type: integer
              description: 'HTTP response code expected for a successful health check.

                The HTTP response code that should be returned for a health check to be considered successful.'
              format: int32
              nullable: true
            host_header:
              type: string
              description: 'HTTP host header used for the health check.

                The HTTP host header used when performing a health check on backend servers.'
          nullable: true
          x-properties-order:
          - uri
          - method
          - code
          - host_header
          x-one-of: config
        https_config:
          type: object
          description: Object to configure an HTTPS health check.
          properties:
            uri:
              type: string
              description: 'HTTP path used for the health check.

                The HTTP path to use when performing a health check on backend servers.'
            method:
              type: string
              description: 'HTTP method used for the health check.

                The HTTP method used when performing a health check on backend servers.'
            code:
              type: integer
              description: 'HTTP response code expected for a successful health check.

                The HTTP response code that should be returned for a health check to be considered successful.'
              format: int32
              nullable: true
            host_header:
              type: string
              description: 'HTTP host header used for the health check.

                The HTTP host header used when performing a health check on backend servers.'
            sni:
              type: string
              description: 'SNI used for SSL health checks.

                The SNI value used when performing a health check on backend servers over SSL.'
          nullable: true
          x-properties-order:
          - uri
          - method
          - code
          - host_header
          - sni
          x-one-of: config
        check_send_proxy:
          type: boolean
          description: Defines whether proxy protocol should be activated for the health check.
        transient_check_delay:
          type: string
          description: Time to wait between two consecutive health checks when a backend server is in a transient state (going UP or DOWN). (in seconds)
          example: 2.5s
          nullable: true
          default: 0.5s
      x-properties-order:
      - port
      - check_delay
      - check_timeout
      - check_max_retries
      - tcp_config
      - mysql_config
      - pgsql_config
      - ldap_config
      - redis_config
      - http_config
      - https_config
      - check_send_proxy
      - transient_check_delay
    scaleway.lb.v1.Backend:
      type: object
      properties:
        id:
          type: string
          description: Backend ID.
        name:
          type: string
          description: Name of the backend.
        forward_protocol:
          type: string
          description: Protocol used by the backend when forwarding traffic to backend servers.
          enum:
          - tcp
          - http
          default: tcp
        forward_port:
          type: integer
          description: Port used by the backend when forwarding traffic to backend servers.
          format: int32
        forward_port_algorithm:
          type: string
          description: Load balancing algorithm to use when determining which backend server to forward new traffic to.
          enum:
          - roundrobin
          - leastconn
          - first
          default: roundrobin
        sticky_sessions:
          type: string
          description: Defines whether sticky sessions (binding a particular session to a particular backend server) are activated and the method to use if so. None disables sticky sessions. Cookie-based uses an HTTP cookie to stick a session to a backend server. Table-based uses the source (client) IP address to stick a session to a backend server.
          enum:
          - none
          - cookie
          - table
          default: none
        sticky_sessions_cookie_name:
          type: string
          description: Cookie name for cookie-based sticky sessions.
        health_check:
          type: object
          description: Object defining the health check to be carried out by the backend when checking the status and health of backend servers.
          properties:
            port:
              type: integer
              description: Port to use for the backend server health check.
              format: int32
            check_delay:
              type: number
              description: Time to wait between two consecutive health checks. (in milliseconds)
              default: 3000
            check_timeout:
              type: number
              description: Maximum time a backend server has to reply to the health check. (in milliseconds)
              default: 1000
            check_max_retries:
              type: integer
              description: Number of consecutive unsuccessful health checks after which the server will be considered dead.
              format: int32
            tcp_config:
              type: object
              description: Object to configure a basic TCP health check.
              nullable: true
              x-one-of: config
            mysql_config:
              type: object
              description: Object to configure a MySQL health check. The check requires MySQL >=3.22 or <9.0. For older or newer versions, use a TCP health check.
              properties:
                user:
                  type: string
                  description: MySQL user to use for the health check.
              nullable: true
              x-properties-order:
              - user
              x-one-of: config
            pgsql_config:
              type: object
              description: Object to configure a PostgreSQL health check.
              properties:
                user:
                  type: string
                  description: PostgreSQL user to use for the health check.
              nullable: true
              x-properties-order:
              - user
              x-one-of: config
            ldap_config:
              type: object
              description: Object to configure an LDAP health check. The response is analyzed to find the LDAPv3 response message.
              nullable: true
              x-one-of: config
            redis_config:
              type: object
              description: Object to configure a Redis health check. The response is analyzed to find the +PONG response message.
              nullable: true
              x-one-of: config
            http_config:
              type: object
              description: Object to configure an HTTP health check.
              properties:
                uri:
                  type: string
                  description: 'HTTP path used for the health check.

                    The HTTP path to use when performing a health check on backend servers.'
                method:
                  type: string
                  description: 'HTTP method used for the health check.

                    The HTTP method used when performing a health check on backend servers.'
                code:
                  type: integer
                  description: 'HTTP response code expected for a successful health check.

                    The HTTP response code that should be returned for a health check to be considered successful.'
                  format: int32
                  nullable: true
                host_header:
                  type: string
                  description: 'HTTP host header used for the health check.

                    The HTTP host header used when performing a health check on backend servers.'
              nullable: true
              x-properties-order:
              - uri
              - method
              - code
              - host_header
              x-one-of: config
            https_config:
              type: object
              description: Object to configure an HTTPS health check.
              properties:
                uri:
                  type: string
                  description: 'HTTP path used for the health check.

                    The HTTP path to use when performing a health check on backend servers.'
                method:
                  type: string
                  description: 'HTTP method used for the health check.

                    The HTTP method used when performing a health check on backend servers.'
                code:
                  type: integer
                  description: 'HTTP response code expected for a successful health check.

                    The HTTP response code that should be returned for a health check to be considered successful.'
                  format: int32
                  nullable: true
                host_header:
                  type: string
                  description: 'HTTP host header used for the health check.

                    The HTTP host header used when performing a health check on backend servers.'
                sni:
                  type: string
                  description: 'SNI used for SSL health checks.

                    The SNI value used when performing a health check on backend servers over SSL.'
              nullable: true
              x-properties-order:
              - uri
              - method
              - code
              - host_header
              - sni
              x-one-of: config
            check_send_proxy:
              type: boolean
              description: Defines whether proxy protocol should be activated for the health check.
            transient_check_delay:
              type: string
              description: Time to wait between two consecutive health checks when a backend server is in a transient state (going UP or DOWN). (in seconds)
              example: 2.5s
              nullable: true
              default: 0.5s
          x-properties-order:
          - port
          - check_delay
          - check_timeout
          - check_max_retries
          - tcp_config
          - mysql_config
          - pgsql_config
          - ldap_config
          - redis_config
          - http_config
          - https_config
          - check_send_proxy
          - transient_check_delay
        pool:
          type: array
          description: List of IP addresses of backend servers attached to this backend.
          items:
            type: string
        lb:
          type: object
          description: Load Balancer the backend is attached to.
          properties:
            id:
              type: string
              description: Underlying Instance ID.
            name:
              type: string
              description: Load Balancer name.
            description:
              type: string
              description: Load Balancer description.
            status:
              type: string
              description: Load Balancer status.
              enum:
              - unknown
              - ready
              - pending
              - stopped
              - error
              - locked
              - migrating
              - to_create
              - creating
              - to_delete
              - deleting
              default: unknown
            instances:
              type: array
              description: List of underlying Instances.
              items:
                $ref: '#/components/schemas/scaleway.lb.v1.Instance'
            organization_id:
              type: string
              description: Scaleway Organization ID.
            project_id:
              type: string
              description: Scaleway Project ID.
            ip:
              type: array
              description: List of IP addresses attached to the Load Balancer.
              items:
                $ref: '#/components/schemas/scaleway.lb.v1.Ip'
            tags:
              type: array
              description: Load Balancer tags.
              items:
                type: string
            frontend_count:
              type: integer
              description: Number of frontends the Load Balancer has.
              format: int32
            backend_count:
              type: integer
              description: Number of backends the Load Balancer has.
              format: int32
            type:
              type: string
              description: Load Balancer offer type.
            subscriber:
              type: object
              description: Subscriber information.
              properties:
                id:
                  type: string
                  description: Subscriber ID.
                name:
                  type: string
                  description: Subscriber name.
                email_config:
                  type: object
                  description: Email address of subscriber.
                  properties:
                    email:
                      type: string
                      description: Email address to send alerts to.
                  nullable: true
                  x-properties-order:
                  - email
                  x-one-of: config
                webhook_config:
                  type: object
                  description: Webhook URI of subscriber.
                  properties:
                    uri:
                      type: string
                      description: URI to receive POST requests.
                  nullable: true
                  x-properties-order:
                  - uri
                  x-one-of: config
              x-properties-order:
              - id
              - name
              - email_config
              - webhook_config
            ssl_compatibility_level:
              type: string
              description: Determines the minimal SSL version which needs to be supported on client side.
              enum:
              - ssl_compatibility_level_unknown
              - ssl_compatibility_level_intermediate
              - ssl_compatibility_level_modern
              - ssl_compatibility_level_old
              default: ssl_compatibility_level_unknown
            created_at:
              type: string
              description: Date on which the Load Balancer was created. (RFC 3339 format)
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
            updated_at:
              type: string
              description: Date on which the Load Balancer was last updated. (RFC 3339 format)
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
            private_network_count:
              type: integer
              description: Number of Private Networks attached to the Load Balancer.
              format: int32
            route_count:
              type: integer
              description: Number of routes configured on the Load Balancer.
              format: int32
            region:
              type: string
              description: The region the Load Balancer is in.
              deprecated: true
            zone:
              type: string
              description: The zone the Load Balancer is in.
          x-properties-order:
          - id
          - name
          - description
          - status
          - instances
          - organization_id
          - project_id
          - ip
          - tags
          - frontend_count
          - backend_count
          - type
          - subscriber
          - ssl_compatibility_level
          - created_at
          - updated_at
          - private_network_count
          - route_count
          - region
          - zone
        send_proxy_v2:
          type: boolean
          description: Deprecated in favor of proxy_protocol field.
          deprecated: true
        timeout_server:
          type: number
          description: Maximum allowed time for a backend server to process a request. (in milliseconds)
          default: 300000
        timeout_connect:
          type: number
          description: Maximum allowed time for establishing a connection to a backend server. (in milliseconds)
          default: 5000
        timeout_tunnel:
          type: number
          description: Maximum allowed tunnel inactivity time after Websocket is established (takes precedence over client and server timeout). (in milliseconds)
          default: 900000
        on_marked_down_action:
          type: string
          description: Action to take when a backend server is marked as down.
          enum:
          - on_marked_down_action_none
          - shutdown_sessions
          default: on_marked_down_action_none
        proxy_protocol:
          type: string
          description: Protocol to use between the Load Balancer and backend servers. Allows the backend servers to be informed of the client's real IP address. The PROXY protocol must be supported by the backend servers' software.
          enum:
          - proxy_protocol_unknown
          - proxy_protocol_none
          - proxy_protocol_v1
          - proxy_protocol_v2
          - proxy_protocol_v2_ssl
          - proxy_protocol_v2_ssl_cn
          default: proxy_protocol_unknown
        created_at:
          type: string
          description: Date at which the backend was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date at which the backend was updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        failover_host:
          type: string
          description: Scaleway Object Storage bucket website to be served as failover if all backend servers are down, e.g. failover-website.s3-website.fr-par.scw.cloud.
          nullable: true
        ssl_bridging:
          type: boolean
          description: Defines whether to enable SSL bridging between the Load Balancer and backend servers.
          nullable: true
        ignore_ssl_server_verify:
          type: boolean
          description: Defines whether the server certificate verification should be ignored.
          nullable: true
        redispatch_attempt_count:
          type: integer
          description: Whether to use another backend server on each attempt.
          format: int32
          nullable: true
        max_retries:
          type: integer
          description: Number of retries when a backend server connection failed.
          format: int32
          nullable: true
        max_connections:
          type: integer
          description: Maximum number of connections allowed per backend server.
          format: int32
          nullable: true
        timeout_queue:
          type: string
          description: Maximum time for a request to be left pending in queue when `max_connections` is reached. (in seconds)
          example: 2.5s
          nullable: true
      x-properties-order:
      - id
      - name
      - forward_protocol
      - forward_port
      - forward_port_algorithm
      - sticky_sessions
      - sticky_sessions_cookie_name
      - health_check
      - pool
      - lb
      - send_proxy_v2
      - timeout_server
      - timeout_connect
      - timeout_tunnel
      - on_marked_down_action
      - proxy_protocol
      - created_at
      - updated_at
      - failover_host
      - ssl_bridging
      - ignore_ssl_server_verify
      - redispatch_attempt_count
      - max_retries
      - max_connections
      - timeout_queue
    scaleway.lb.v1.Instance:
      type: object
      properties:
        id:
          type: string
          description: Underlying Instance ID.
        status:
          type: string
          description: Instance status.
          enum:
          - unknown
          - ready
          - pending
          - stopped
          - error
          - locked
          - migrating
          default: unknown
        ip_address:
          type: string
          description: Instance IP address.
        created_at:
          type: string
          description: Date on which the Instance was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the Instance was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        region:
          type: string
          description: The region the Instance is in.
          deprecated: true
        zone:
          type: string
          description: The zone the Instance is in.
      x-properties-order:
      - id
      - status
      - ip_address
      - created_at
      - updated_at
      - region
      - zone
    scaleway.lb.v1.Ip:
      type: object
      properties:
        id:
          type: string
          description: IP address ID.
        ip_address:
          type: string
          description: IP address.
        organization_id:
          type: string
          description: Organization ID of the Scaleway Organization the IP address is in.
        project_id:
          type: string
          description: Project ID of the Scaleway Project the IP address is in.
        lb_id:
          type: string
          description: Load Balancer ID.
          nullable: true
        reverse:
          type: string
          description: Reverse DNS (domain name) of the IP address.
        tags:
          type: array
          description: IP tags.
          items:
            type: string
        region:
          type: string
          description: The region the IP address is in.
          deprecated: true
        zone:
          type: string
          description: The zone the IP address is in.
      x-properties-order:
      - id
      - ip_address
      - organization_id
      - project_id
      - lb_id
      - reverse
      - tags
      - region
      - zone
    scaleway.lb.v1.ListBackendsResponse:
      type: object
      properties:
        backends:
          type: array
          description: List of backend objects of a given Load Balancer.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.Backend'
        total_count:
          type: integer
          description: Total count of backend objects, without pagination.
          format: uint32
      x-properties-order:
      - backends
      - total_count
    scaleway.lb.v1.ListBackendStatsResponse:
      type: object
      properties:
        backend_servers_stats:
          type: array
          description: List of objects containing backend server statistics.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.BackendServerStats'
        total_count:
          type: integer
          description: The total number of objects.
          format: uint32
      x-properties-order:
      - backend_servers_stats
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
