openapi: 3.2.0
info:
  title: Transactional Email Webhooks API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Webhooks
  description: Webhooks enable real-time communication and automation between systems by sending messages through all protocols supported by SNS, such as HTTP, HTTPS, and Serverless Functions, allowing for immediate updates and actions based on specific events. This feature is in beta. You can request quotas from the Scaleway betas page.
paths:
  /transactional-email/v1alpha1/regions/{region}/webhooks:
    get:
      tags:
      - Webhooks
      operationId: ListWebhooks
      summary: List Webhooks
      description: Retrieve Webhooks in a specific Project or in a specific Organization using the `region` parameter.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: order_by
        description: (Optional) List Webhooks corresponding to specific criteria.
        schema:
          type: string
          enum:
          - created_at_desc
          - created_at_asc
          default: created_at_desc
      - in: query
        name: page
        description: (Optional) Requested page number. Value must be greater or equal to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: (Optional) Requested page size. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: project_id
        description: (Optional) ID of the Project for which to list the Webhooks. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: organization_id
        description: (Optional) ID of the Organization for which to list the Webhooks. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: domain_id
        description: (Optional) ID of the Domain for which to list the Webhooks. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListWebhooksResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Webhooks
      operationId: CreateWebhook
      summary: Create a Webhook
      description: Create a new Webhook triggered by a list of event types and pushed to a Scaleway SNS ARN.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Webhook'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_id:
                  type: string
                  description: ID of the Domain to watch for triggering events. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                project_id:
                  type: string
                  description: ID of the project to which the Webhook belongs. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                name:
                  type: string
                  description: Name of the Webhook.
                event_types:
                  type: array
                  description: List of event types that will trigger an event.
                  items:
                    $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent.Type'
                sns_arn:
                  type: string
                  description: Scaleway SNS ARN topic to push the events to.
              x-properties-order:
              - domain_id
              - project_id
              - name
              - event_types
              - sns_arn
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"domain_id\": \"6170692e-7363-616c-6577-61792e636f6d\",\n    \"name\": \"string\",\n    \"project_id\": \"6170692e-7363-616c-6577-61792e636f6d\",\n    \"sns_arn\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  domain_id=\"6170692e-7363-616c-6577-61792e636f6d\" \\\n  name=\"string\" \\\n  project_id=\"6170692e-7363-616c-6577-61792e636f6d\" \\\n  sns_arn=\"string\""
  /transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      operationId: GetWebhook
      summary: Get information about a Webhook
      description: Retrieve information about a specific Webhook using the `webhook_id` and `region` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: webhook_id
        description: ID of the Webhook to check. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Webhook'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Webhooks
      operationId: UpdateWebhook
      summary: Update a Webhook
      description: Update a Webhook events type, SNS ARN or name.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: webhook_id
        description: ID of the Webhook to update. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Webhook'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the Webhook to update.
                  nullable: true
                event_types:
                  type: array
                  description: List of event types to update.
                  items:
                    $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent.Type'
                sns_arn:
                  type: string
                  description: Scaleway SNS ARN topic to update.
                  nullable: true
              x-properties-order:
              - name
              - event_types
              - sns_arn
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Webhooks
      operationId: DeleteWebhook
      summary: Delete a Webhook
      description: You must specify the Webhook you want to delete by the `region` and `webhook_id`. Deleting a Webhook is permanent and cannot be undone.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: webhook_id
        description: ID of the Webhook to delete. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}/events:
    get:
      tags:
      - Webhooks
      operationId: ListWebhookEvents
      summary: List Webhook triggered events
      description: Retrieve the list of Webhook events triggered from a specific Webhook or for a specific Project or Organization. You must specify the `region`.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: webhook_id
        description: ID of the Webhook linked to the events. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: order_by
        description: (Optional) List Webhook events corresponding to specific criteria.
        schema:
          type: string
          enum:
          - created_at_desc
          - created_at_asc
          default: created_at_desc
      - in: query
        name: page
        description: Requested page number. Value must be greater or equal to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Requested page size. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: email_id
        description: ID of the email linked to the events. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: event_types
        description: List of event types linked to the events.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent.Type'
      - in: query
        name: statuses
        description: List of event statuses.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent.Status'
      - in: query
        name: project_id
        description: ID of the webhook Project. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: organization_id
        description: ID of the webhook Organization. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: domain_id
        description: ID of the domain to watch for triggering events. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListWebhookEventsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}/events\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/webhooks/{webhook_id}/events\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.WebhookEvent:
      type: object
      properties:
        id:
          type: string
          description: ID of the Webhook Event.
        webhook_id:
          type: string
          description: ID of the Webhook that triggers the Event.
        organization_id:
          type: string
          description: ID of the Webhook Event Organization.
        project_id:
          type: string
          description: ID of the Webhook Event Project.
        domain_id:
          type: string
          description: ID of the webhook event domain.
        type:
          type: string
          description: Type of the Webhook Event.
          enum:
          - unknown_type
          - email_queued
          - email_dropped
          - email_deferred
          - email_delivered
          - email_spam
          - email_mailbox_not_found
          - email_blocklisted
          - blocklist_created
          x-enum-descriptions:
            values:
              unknown_type: If unspecified, the type of the Webhook Event is unknown by default
              email_queued: The email was received and is in preparation to be sent to the recipient servers
              email_dropped: The email was sent but hard-bounced by the recipient server
              email_deferred: The email was sent but soft-bounced by the recipient server. In this case, the sending of the email will be automatically retried
              email_delivered: The email was successfully sent
              email_spam: The email resource was identified as spam by Scaleway or by the recipient server
              email_mailbox_not_found: The email hard-bounced with a "mailbox not found" error
              email_blocklisted: The email was blocked before it was sent, as the recipient matches a blocklist
              blocklist_created: A new blocklist is created
          default: unknown_type
        status:
          type: string
          description: Status of the Webhook Event.
          enum:
          - unknown_status
          - sending
          - sent
          - failed
          x-enum-descriptions:
            values:
              unknown_status: If unspecified, the status of the Webhook event is unknown by default
              sending: The Webhook event is being sent
              sent: The Webhook event was sent
              failed: The Webhook event cannot be sent after multiple retries
          default: unknown_status
        data:
          type: string
          description: Data sent to the Webhook destination.
        created_at:
          type: string
          description: Date and time of the Webhook Event creation. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date and time of last Webhook Event updates. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        email_id:
          type: string
          description: Optional Email ID if the event is triggered by an Email resource.
          nullable: true
      x-properties-order:
      - id
      - webhook_id
      - organization_id
      - project_id
      - domain_id
      - type
      - status
      - data
      - created_at
      - updated_at
      - email_id
    scaleway.transactional_email.v1alpha1.Webhook:
      type: object
      properties:
        id:
          type: string
          description: ID of the Webhook.
        domain_id:
          type: string
          description: ID of the Domain to watch for triggering events.
        organization_id:
          type: string
          description: ID of the Webhook Organization.
        project_id:
          type: string
          description: ID of the Webhook Project.
        name:
          type: string
          description: Name of the Webhook.
        event_types:
          type: array
          description: List of event types that will trigger a Webhook Event.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent.Type'
        sns_arn:
          type: string
          description: Scaleway SNS ARN topic to push the events to.
        created_at:
          type: string
          description: Date and time of the Webhook creation. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date and time of last Webhook updates. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - id
      - domain_id
      - organization_id
      - project_id
      - name
      - event_types
      - sns_arn
      - created_at
      - updated_at
    scaleway.transactional_email.v1alpha1.WebhookEvent.Type:
      type: string
      enum:
      - unknown_type
      - email_queued
      - email_dropped
      - email_deferred
      - email_delivered
      - email_spam
      - email_mailbox_not_found
      - email_blocklisted
      - blocklist_created
      x-enum-descriptions:
        values:
          unknown_type: If unspecified, the type of the Webhook Event is unknown by default
          email_queued: The email was received and is in preparation to be sent to the recipient servers
          email_dropped: The email was sent but hard-bounced by the recipient server
          email_deferred: The email was sent but soft-bounced by the recipient server. In this case, the sending of the email will be automatically retried
          email_delivered: The email was successfully sent
          email_spam: The email resource was identified as spam by Scaleway or by the recipient server
          email_mailbox_not_found: The email hard-bounced with a "mailbox not found" error
          email_blocklisted: The email was blocked before it was sent, as the recipient matches a blocklist
          blocklist_created: A new blocklist is created
      default: unknown_type
    scaleway.transactional_email.v1alpha1.ListWebhooksResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of Webhooks matching the requested criteria.
          format: uint64
        webhooks:
          type: array
          description: Single page of Webhooks matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Webhook'
      x-properties-order:
      - total_count
      - webhooks
    scaleway.transactional_email.v1alpha1.ListWebhookEventsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of Webhook events matching the requested criteria.
          format: uint64
        webhook_events:
          type: array
          description: Single page of Webhook events matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.WebhookEvent'
      x-properties-order:
      - total_count
      - webhook_events
    scaleway.transactional_email.v1alpha1.WebhookEvent.Status:
      type: string
      enum:
      - unknown_status
      - sending
      - sent
      - failed
      x-enum-descriptions:
        values:
          unknown_status: If unspecified, the status of the Webhook event is unknown by default
          sending: The Webhook event is being sent
          sent: The Webhook event was sent
          failed: The Webhook event cannot be sent after multiple retries
      default: unknown_status
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
