openapi: 3.2.0
info:
  title: Load Balancer IP addresses API
  description: Load Balancers are highly available and fully managed Instances that facilitate the distribution of incoming traffic across multiple servers.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: IP Addresses
  description: The Load Balancer IP address object. It represents a flexible IP address which can be attached to a Load Balancer. Use this endpoint to create, list, get, update and delete your Load Balancer IP addresses.
paths:
  /lb/v1/zones/{zone}/ips:
    get:
      tags:
      - IP Addresses
      operationId: ListIPs
      summary: List IP addresses
      description: List the Load Balancer flexible IP addresses held in the account (filtered by Organization ID or Project ID). It is also possible to search for a specific IP address.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of IP addresses to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: ip_address
        description: IP address to filter for.
        schema:
          type: string
      - in: query
        name: organization_id
        description: Organization ID to filter for, only Load Balancer IP addresses from this Organization will be returned.
        schema:
          type: string
      - in: query
        name: project_id
        description: Project ID to filter for, only Load Balancer IP addresses from this Project will be returned.
        schema:
          type: string
      - in: query
        name: ip_type
        description: IP type to filter for.
        schema:
          type: string
          enum:
          - all
          - ipv4
          - ipv6
          default: all
      - in: query
        name: tags
        description: Tag to filter for, only IPs with one or more matching tags will be returned.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListIpsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/ips\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/ips\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - IP Addresses
      operationId: CreateIp
      summary: Create an IP address
      description: Create a new Load Balancer flexible IP address, in the specified Scaleway Project. This can be attached to new Load Balancers created in the future.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Ip'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
                  description: Organization ID of the Organization where the IP address should be created.
                  deprecated: true
                  nullable: true
                  x-one-of: ProjectIdentifier
                project_id:
                  type: string
                  description: Project ID of the Project where the IP address should be created.
                  nullable: true
                  x-one-of: ProjectIdentifier
                reverse:
                  type: string
                  description: Reverse DNS (domain name) for the IP address.
                  nullable: true
                is_ipv6:
                  type: boolean
                  description: If true, creates a Flexible IP with an ipv6 address.
                tags:
                  type: array
                  description: List of tags for the IP.
                  items:
                    type: string
              x-properties-order:
              - organization_id
              - project_id
              - reverse
              - is_ipv6
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"is_ipv6\":false}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/ips\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/ips\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  is_ipv6:=false"
  /lb/v1/zones/{zone}/ips/{ip_id}:
    get:
      tags:
      - IP Addresses
      operationId: GetIp
      summary: Get an IP address
      description: Retrieve the full details of a Load Balancer flexible IP address.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: ip_id
        description: IP address ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Ip'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - IP Addresses
      operationId: UpdateIp
      summary: Update an IP address
      description: Update the reverse DNS of a Load Balancer flexible IP address.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: ip_id
        description: IP address ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Ip'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reverse:
                  type: string
                  description: Reverse DNS (domain name) for the IP address.
                  nullable: true
                lb_id:
                  type: string
                  description: ID of the server on which to attach the flexible IP.
                  nullable: true
                tags:
                  type: array
                  description: List of tags for the IP.
                  nullable: true
                  items:
                    type: string
              x-properties-order:
              - reverse
              - lb_id
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - IP Addresses
      operationId: ReleaseIp
      summary: Delete an IP address
      description: Delete a Load Balancer flexible IP address. This action is irreversible, and cannot be undone.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: ip_id
        description: IP address ID.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/lb/v1/zones/{zone}/ips/{ip_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.lb.v1.ListIpsResponse:
      type: object
      properties:
        ips:
          type: array
          description: List of IP address objects.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.Ip'
        total_count:
          type: integer
          description: Total count of IP address objects, without pagination.
          format: uint32
      x-properties-order:
      - ips
      - total_count
    scaleway.lb.v1.Ip:
      type: object
      properties:
        id:
          type: string
          description: IP address ID.
        ip_address:
          type: string
          description: IP address.
        organization_id:
          type: string
          description: Organization ID of the Scaleway Organization the IP address is in.
        project_id:
          type: string
          description: Project ID of the Scaleway Project the IP address is in.
        lb_id:
          type: string
          description: Load Balancer ID.
          nullable: true
        reverse:
          type: string
          description: Reverse DNS (domain name) of the IP address.
        tags:
          type: array
          description: IP tags.
          items:
            type: string
        region:
          type: string
          description: The region the IP address is in.
          deprecated: true
        zone:
          type: string
          description: The zone the IP address is in.
      x-properties-order:
      - id
      - ip_address
      - organization_id
      - project_id
      - lb_id
      - reverse
      - tags
      - region
      - zone
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
