openapi: 3.2.0
info:
  title: IAM Permission sets API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Permission Sets
  description: Permission sets are the main components of IAM rules.
paths:
  /iam/v1alpha1/permission-sets:
    get:
      tags:
      - Permission Sets
      operationId: ListPermissionSets
      summary: List permission sets
      description: List permission sets available for given Organization. You must define the `organization_id` in the query path of your request.
      parameters:
      - in: query
        name: order_by
        description: Criteria for sorting results.
        schema:
          type: string
          enum:
          - name_asc
          - name_desc
          - created_at_asc
          - created_at_desc
          x-enum-descriptions:
            values:
              name_asc: Name ascending
              name_desc: Name descending
              created_at_asc: Creation date ascending
              created_at_desc: Creation date descending
          default: name_asc
      - in: query
        name: page_size
        description: Number of results per page. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: Page number. Value must be greater than 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: organization_id
        description: Filter by Organization ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListPermissionSetsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/permission-sets?organization_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/permission-sets\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id==string"
components:
  schemas:
    scaleway.iam.v1alpha1.ListPermissionSetsResponse:
      type: object
      properties:
        permission_sets:
          type: array
          description: List of permission sets.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.PermissionSet'
        total_count:
          type: integer
          description: Total count of permission sets.
          format: uint32
      x-properties-order:
      - permission_sets
      - total_count
    scaleway.iam.v1alpha1.PermissionSet:
      type: object
      properties:
        id:
          type: string
          description: Id of the permission set.
        name:
          type: string
          description: Name of the permission set.
        scope_type:
          type: string
          description: Scope of the permission set.
          enum:
          - unknown_scope_type
          - projects
          - organization
          - account_root_user
          x-enum-descriptions:
            values:
              unknown_scope_type: Unknown scope type
              projects: Projects
              organization: Organization
              account_root_user: Account root user
          default: unknown_scope_type
        description:
          type: string
          description: Description of the permission set.
        categories:
          type: array
          description: Categories of the permission set.
          nullable: true
          items:
            type: string
      x-properties-order:
      - id
      - name
      - scope_type
      - description
      - categories
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
