openapi: 3.2.0
info:
  title: Kubernetes Access Control List API
  description: Kubernetes is an open-source platform that enables developers to manage their containerized applications.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Access Control List
  description: Network Access Control Lists (ACLs) allow you to manage inbound network traffic by setting up ACL rules
paths:
  /k8s/v1/regions/{region}/acls/{acl_id}:
    delete:
      tags:
      - Access Control List
      operationId: DeleteACLRule
      summary: Delete an existing ACL
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: acl_id
        description: ID of the ACL rule to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/acls/{acl_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/k8s/v1/regions/{region}/acls/{acl_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /k8s/v1/regions/{region}/clusters/{cluster_id}/acls:
    get:
      tags:
      - Access Control List
      operationId: ListClusterACLRules
      summary: List ACLs
      description: List ACLs for a specific cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cluster_id
        description: ID of the cluster whose ACLs will be listed.
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Page number for the returned ACLs.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of ACLs per page.
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.ListClusterACLRulesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Access Control List
      operationId: AddClusterACLRules
      summary: Add new ACLs
      description: Add new ACL rules for a specific cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cluster_id
        description: ID of the cluster whose ACLs will be added.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.AddClusterACLRulesResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                acls:
                  type: array
                  description: ACLs to add.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.ACLRuleRequest'
              x-properties-order:
              - acls
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Access Control List
      operationId: SetClusterACLRules
      summary: Set new ACLs
      description: Set new ACL rules for a specific cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cluster_id
        description: ID of the cluster whose ACLs will be set.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.SetClusterACLRulesResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                acls:
                  type: array
                  description: ACLs to set.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.ACLRuleRequest'
              x-properties-order:
              - acls
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/acls\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.k8s.v1.ACLRule:
      type: object
      properties:
        id:
          type: string
          description: ID of the ACL rule. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        ip:
          type: string
          description: IP subnet to allow. (IP network)
          example: 1.2.3.4/32
          nullable: true
          x-one-of: allowed
        scaleway_ranges:
          type: boolean
          description: 'Allow access to cluster from all Scaleway ranges as defined in https://www.scaleway.com/en/docs/console/account/reference-content/scaleway-network-information/#ip-ranges-used-by-scaleway.

            Only one rule with this field set to true can be added.'
          nullable: true
          x-one-of: allowed
        description:
          type: string
          description: Description of the ACL.
      x-properties-order:
      - id
      - ip
      - scaleway_ranges
      - description
    scaleway.k8s.v1.ListClusterACLRulesResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of ACLs that exist for the cluster.
          format: uint64
        rules:
          type: array
          description: Paginated returned ACLs.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.ACLRule'
      x-properties-order:
      - total_count
      - rules
    scaleway.k8s.v1.ACLRuleRequest:
      type: object
      properties:
        ip:
          type: string
          description: IP subnet to allow. (IP network)
          example: 1.2.3.4/32
          nullable: true
          x-one-of: allowed
        scaleway_ranges:
          type: boolean
          description: 'Allow access to cluster from all Scaleway ranges as defined in https://www.scaleway.com/en/docs/console/account/reference-content/scaleway-network-information/#ip-ranges-used-by-scaleway.

            Only one rule with this field set to true can be added.'
          nullable: true
          x-one-of: allowed
        description:
          type: string
          description: Description of the ACL.
      x-properties-order:
      - ip
      - scaleway_ranges
      - description
    scaleway.k8s.v1.AddClusterACLRulesResponse:
      type: object
      properties:
        rules:
          type: array
          description: ACLs that were added.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.ACLRule'
      x-properties-order:
      - rules
    scaleway.k8s.v1.SetClusterACLRulesResponse:
      type: object
      properties:
        rules:
          type: array
          description: ACLs that were set.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.ACLRule'
      x-properties-order:
      - rules
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
