openapi: 3.2.0
info:
  title: Scaleway Private Networks API
  version: '1.0'
  description: 'Operations tagged Private Networks across 2 of this provider''s published API definitions: scaleway-load-balancer-openapi.yml, scaleway-vpc-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.scaleway.com
tags:
- name: Private Networks
  description: The Private Network object. It represents Scaleway Private Networks which can be attached to/detached from a Load Balancer. Use this endpoint to list the Private Networks attached to a Load Balancer, and to attach/detach a Load Balancer to/from a Private Network. To create new Private Networks, use the dedicated Private Networks API.
paths:
  /lb/v1/zones/{zone}/lbs/{lb_id}/attach-private-network:
    post:
      tags:
      - Private Networks
      operationId: AttachPrivateNetwork
      summary: Attach a Load Balancer to a Private Network
      description: Attach a specified Load Balancer to a specified Private Network, defining a static or DHCP configuration for the Load Balancer on the network.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.PrivateNetwork'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_network_id:
                  type: string
                  description: Private Network ID.
                ipam_ids:
                  type: array
                  description: IPAM ID of a pre-reserved IP address to assign to the Load Balancer on this Private Network. In the future, it will be possible to specify multiple IPs in this field (IPv4 and IPv6), for now only one ID of an IPv4 address is expected. When null, a new private IP address is created for the Load Balancer on this Private Network. (UUID format)
                  example:
                  - 6170692e-7363-616c-6577-61792e636f6d
                  items:
                    type: string
              required:
              - private_network_id
              x-properties-order:
              - private_network_id
              - ipam_ids
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"private_network_id\":\"string\"}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/attach-private-network\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/attach-private-network\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  private_network_id=\"string\""
    servers:
    - url: https://api.scaleway.com
  /lb/v1/zones/{zone}/lbs/{lb_id}/detach-private-network:
    post:
      tags:
      - Private Networks
      operationId: DetachPrivateNetwork
      summary: Detach Load Balancer from Private Network
      description: Detach a specified Load Balancer from a specified Private Network.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load balancer ID.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_network_id:
                  type: string
                  description: Set your instance private network id.
              required:
              - private_network_id
              x-properties-order:
              - private_network_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"private_network_id\":\"string\"}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/detach-private-network\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/detach-private-network\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  private_network_id=\"string\""
    servers:
    - url: https://api.scaleway.com
  /lb/v1/zones/{zone}/lbs/{lb_id}/private-networks:
    get:
      tags:
      - Private Networks
      operationId: ListLbPrivateNetworks
      summary: List Private Networks attached to a Load Balancer
      description: List the Private Networks attached to a given Load Balancer, specified by its Load Balancer ID. The response is an array of Private Network objects, giving information including the status, configuration, name and creation date of each Private Network.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      - in: query
        name: order_by
        description: Sort order of Private Network objects in the response.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          default: created_at_asc
      - in: query
        name: page_size
        description: Number of objects to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListLbPrivateNetworksResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/private-networks\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/private-networks\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /vpc/v2/regions/{region}/private-networks:
    get:
      tags:
      - Private Networks
      operationId: ListPrivateNetworks
      summary: List Private Networks
      description: List existing Private Networks in the specified region. By default, the Private Networks returned in the list are ordered by creation date in ascending order, though this can be modified via the order_by field.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: order_by
        description: Sort order of the returned Private Networks.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: page
        description: Page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of Private Networks to return per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: name
        description: Name to filter for. Only Private Networks with names containing this string will be returned.
        schema:
          type: string
      - in: query
        name: tags
        description: Tags to filter for. Only Private Networks with one or more matching tags will be returned.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: organization_id
        description: Organization ID to filter for. Only Private Networks belonging to this Organization will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: project_id
        description: Project ID to filter for. Only Private Networks belonging to this Project will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: private_network_ids
        description: Private Network IDs to filter for. Only Private Networks with one of these IDs will be returned.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: vpc_id
        description: VPC ID to filter for. Only Private Networks belonging to this VPC will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: dhcp_enabled
        description: DHCP status to filter for. When true, only Private Networks with managed DHCP enabled will be returned.
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.ListPrivateNetworksResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Private Networks
      operationId: CreatePrivateNetwork
      summary: Create a Private Network
      description: Create a new Private Network. Once created, you can attach Scaleway resources which are in the same region.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.PrivateNetwork'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the Private Network.
                project_id:
                  type: string
                  description: Scaleway Project in which to create the Private Network. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                tags:
                  type: array
                  description: Tags for the Private Network.
                  items:
                    type: string
                subnets:
                  type: array
                  description: Private Network subnets CIDR. (IP network)
                  example:
                  - 1.2.3.4/32
                  items:
                    type: string
                vpc_id:
                  type: string
                  description: VPC in which to create the Private Network. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
                default_route_propagation_enabled:
                  type: boolean
                  description: Defines whether default v4 and v6 routes are propagated for this Private Network.
              required:
              - name
              - project_id
              x-properties-order:
              - name
              - project_id
              - tags
              - subnets
              - vpc_id
              - default_route_propagation_enabled
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"default_route_propagation_enabled\": false,\n    \"name\": \"string\",\n    \"project_id\": \"6170692e-7363-616c-6577-61792e636f6d\"\n  }' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  default_route_propagation_enabled:=false \\\n  name=\"string\" \\\n  project_id=\"6170692e-7363-616c-6577-61792e636f6d\""
    servers:
    - url: https://api.scaleway.com
  /vpc/v2/regions/{region}/private-networks/{private_network_id}:
    get:
      tags:
      - Private Networks
      operationId: GetPrivateNetwork
      summary: Get a Private Network
      description: Retrieve information about an existing Private Network, specified by its Private Network ID. Its full details are returned in the response object.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.PrivateNetwork'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Private Networks
      operationId: UpdatePrivateNetwork
      summary: Update Private Network
      description: Update parameters (such as name or tags) of an existing Private Network, specified by its Private Network ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.PrivateNetwork'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the Private Network.
                  nullable: true
                tags:
                  type: array
                  description: Tags for the Private Network.
                  nullable: true
                  items:
                    type: string
                default_route_propagation_enabled:
                  type: boolean
                  description: Defines whether default v4 and v6 routes are propagated for this Private Network.
              x-properties-order:
              - name
              - tags
              - default_route_propagation_enabled
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Private Networks
      operationId: DeletePrivateNetwork
      summary: Delete a Private Network
      description: Delete an existing Private Network. Note that you must first detach all resources from the network, in order to delete it.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /vpc/v2/regions/{region}/private-networks/{private_network_id}/enable-dhcp:
    post:
      tags:
      - Private Networks
      operationId: EnableDHCP
      summary: Enable DHCP on a Private Network
      description: Enable DHCP managed on an existing Private Network. Note that you will not be able to deactivate it afterwards.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.PrivateNetwork'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/enable-dhcp\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/enable-dhcp\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
components:
  schemas:
    scaleway.lb.v1.ListLbPrivateNetworksResponse:
      type: object
      properties:
        private_network:
          type: array
          description: List of Private Network objects attached to the Load Balancer.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.PrivateNetwork'
        total_count:
          type: integer
          description: Total number of objects in the response.
          format: uint32
      x-properties-order:
      - private_network
      - total_count
    scaleway.lb.v1.PrivateNetwork:
      type: object
      properties:
        lb:
          type: object
          description: Load Balancer object which is attached to the Private Network.
          properties:
            id:
              type: string
              description: Underlying Instance ID.
            name:
              type: string
              description: Load Balancer name.
            description:
              type: string
              description: Load Balancer description.
            status:
              type: string
              description: Load Balancer status.
              enum:
              - unknown
              - ready
              - pending
              - stopped
              - error
              - locked
              - migrating
              - to_create
              - creating
              - to_delete
              - deleting
              default: unknown
            instances:
              type: array
              description: List of underlying Instances.
              items:
                $ref: '#/components/schemas/scaleway.lb.v1.Instance'
            organization_id:
              type: string
              description: Scaleway Organization ID.
            project_id:
              type: string
              description: Scaleway Project ID.
            ip:
              type: array
              description: List of IP addresses attached to the Load Balancer.
              items:
                $ref: '#/components/schemas/scaleway.lb.v1.Ip'
            tags:
              type: array
              description: Load Balancer tags.
              items:
                type: string
            frontend_count:
              type: integer
              description: Number of frontends the Load Balancer has.
              format: int32
            backend_count:
              type: integer
              description: Number of backends the Load Balancer has.
              format: int32
            type:
              type: string
              description: Load Balancer offer type.
            subscriber:
              type: object
              description: Subscriber information.
              properties:
                id:
                  type: string
                  description: Subscriber ID.
                name:
                  type: string
                  description: Subscriber name.
                email_config:
                  type: object
                  description: Email address of subscriber.
                  properties:
                    email:
                      type: string
                      description: Email address to send alerts to.
                  nullable: true
                  x-properties-order:
                  - email
                  x-one-of: config
                webhook_config:
                  type: object
                  description: Webhook URI of subscriber.
                  properties:
                    uri:
                      type: string
                      description: URI to receive POST requests.
                  nullable: true
                  x-properties-order:
                  - uri
                  x-one-of: config
              x-properties-order:
              - id
              - name
              - email_config
              - webhook_config
            ssl_compatibility_level:
              type: string
              description: Determines the minimal SSL version which needs to be supported on client side.
              enum:
              - ssl_compatibility_level_unknown
              - ssl_compatibility_level_intermediate
              - ssl_compatibility_level_modern
              - ssl_compatibility_level_old
              default: ssl_compatibility_level_unknown
            created_at:
              type: string
              description: Date on which the Load Balancer was created. (RFC 3339 format)
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
            updated_at:
              type: string
              description: Date on which the Load Balancer was last updated. (RFC 3339 format)
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
            private_network_count:
              type: integer
              description: Number of Private Networks attached to the Load Balancer.
              format: int32
            route_count:
              type: integer
              description: Number of routes configured on the Load Balancer.
              format: int32
            region:
              type: string
              description: The region the Load Balancer is in.
              deprecated: true
            zone:
              type: string
              description: The zone the Load Balancer is in.
          x-properties-order:
          - id
          - name
          - description
          - status
          - instances
          - organization_id
          - project_id
          - ip
          - tags
          - frontend_count
          - backend_count
          - type
          - subscriber
          - ssl_compatibility_level
          - created_at
          - updated_at
          - private_network_count
          - route_count
          - region
          - zone
        ipam_ids:
          type: array
          description: IPAM IDs of the booked IP addresses. (UUID format)
          example:
          - 6170692e-7363-616c-6577-61792e636f6d
          items:
            type: string
        static_config:
          type: object
          description: Object containing an array of a local IP address for the Load Balancer on this Private Network.
          deprecated: true
          properties:
            ip_address:
              type: array
              description: Array of a local IP address for the Load Balancer on this Private Network.
              deprecated: true
              items:
                type: string
          nullable: true
          x-properties-order:
          - ip_address
          x-one-of: Config
        dhcp_config:
          type: object
          description: Object containing DHCP-assigned IP addresses.
          deprecated: true
          properties:
            ip_id:
              type: string
              description: (UUID format)
              deprecated: true
              example: 6170692e-7363-616c-6577-61792e636f6d
              nullable: true
          nullable: true
          x-properties-order:
          - ip_id
          x-one-of: Config
        private_network_id:
          type: string
          description: Private Network ID.
        status:
          type: string
          description: Status of Private Network connection.
          enum:
          - unknown
          - ready
          - pending
          - error
          default: unknown
        created_at:
          type: string
          description: Date on which the Private Network was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the PN was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - lb
      - ipam_ids
      - static_config
      - dhcp_config
      - private_network_id
      - status
      - created_at
      - updated_at
    scaleway.lb.v1.Instance:
      type: object
      properties:
        id:
          type: string
          description: Underlying Instance ID.
        status:
          type: string
          description: Instance status.
          enum:
          - unknown
          - ready
          - pending
          - stopped
          - error
          - locked
          - migrating
          default: unknown
        ip_address:
          type: string
          description: Instance IP address.
        created_at:
          type: string
          description: Date on which the Instance was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the Instance was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        region:
          type: string
          description: The region the Instance is in.
          deprecated: true
        zone:
          type: string
          description: The zone the Instance is in.
      x-properties-order:
      - id
      - status
      - ip_address
      - created_at
      - updated_at
      - region
      - zone
    scaleway.lb.v1.Ip:
      type: object
      properties:
        id:
          type: string
          description: IP address ID.
        ip_address:
          type: string
          description: IP address.
        organization_id:
          type: string
          description: Organization ID of the Scaleway Organization the IP address is in.
        project_id:
          type: string
          description: Project ID of the Scaleway Project the IP address is in.
        lb_id:
          type: string
          description: Load Balancer ID.
          nullable: true
        reverse:
          type: string
          description: Reverse DNS (domain name) of the IP address.
        tags:
          type: array
          description: IP tags.
          items:
            type: string
        region:
          type: string
          description: The region the IP address is in.
          deprecated: true
        zone:
          type: string
          description: The zone the IP address is in.
      x-properties-order:
      - id
      - ip_address
      - organization_id
      - project_id
      - lb_id
      - reverse
      - tags
      - region
      - zone
    scaleway.vpc.v2.ListPrivateNetworksResponse:
      type: object
      properties:
        private_networks:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.vpc.v2.PrivateNetwork'
        total_count:
          type: integer
          format: uint32
      x-properties-order:
      - private_networks
      - total_count
    scaleway.vpc.v2.PrivateNetwork:
      type: object
      properties:
        id:
          type: string
          description: Private Network ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
          description: Private Network name.
        organization_id:
          type: string
          description: Scaleway Organization the Private Network belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        project_id:
          type: string
          description: Scaleway Project the Private Network belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        region:
          type: string
          description: Region in which the Private Network is available.
        tags:
          type: array
          description: Tags of the Private Network.
          items:
            type: string
        created_at:
          type: string
          description: Date the Private Network was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date the Private Network was last modified. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        subnets:
          type: array
          description: Private Network subnets.
          items:
            $ref: '#/components/schemas/scaleway.vpc.v2.Subnet'
        vpc_id:
          type: string
          description: VPC the Private Network belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        dhcp_enabled:
          type: boolean
          description: Defines whether managed DHCP is enabled for this Private Network.
        default_route_propagation_enabled:
          type: boolean
          description: Defines whether default v4 and v6 routes are propagated for this Private Network.
      x-properties-order:
      - id
      - name
      - organization_id
      - project_id
      - region
      - tags
      - created_at
      - updated_at
      - subnets
      - vpc_id
      - dhcp_enabled
      - default_route_propagation_enabled
    scaleway.vpc.v2.Subnet:
      type: object
      properties:
        id:
          type: string
          description: ID of the subnet. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        created_at:
          type: string
          description: Subnet creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Subnet last modification date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        subnet:
          type: string
          description: Subnet CIDR. (IP network)
          example: 1.2.3.4/32
        project_id:
          type: string
          description: Scaleway Project the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        private_network_id:
          type: string
          description: Private Network the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        vpc_id:
          type: string
          description: VPC the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
      x-properties-order:
      - id
      - created_at
      - updated_at
      - subnet
      - project_id
      - private_network_id
      - vpc_id
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
x-refined-from:
- scaleway-load-balancer-openapi.yml
- scaleway-vpc-openapi.yml
