openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Endpoints API
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Endpoints
  description: A point of connection to a Database Instance.
paths:
  /rdb/v1/regions/{region}/endpoints/{endpoint_id}:
    get:
      tags:
      - Endpoints
      operationId: GetEndpoint
      summary: Get a Database Instance endpoint
      description: Retrieve information about a Database Instance endpoint. Full details about the endpoint, like `ip`, `port`, `private_network` and `load_balancer` specifications are returned in the response.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: endpoint_id
        description: UUID of the endpoint you want to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.Endpoint'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Endpoints
      operationId: DeleteEndpoint
      summary: Delete a Database Instance endpoint
      description: Delete the endpoint of a Database Instance. You must specify the `region` and `endpoint_id` parameters of the endpoint you want to delete. Note that might need to update any environment configurations that point to the deleted endpoint.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: endpoint_id
        description: 'UUID of the endpoint you want to delete.

          This endpoint can also be used to delete a Read Replica endpoint.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /rdb/v1/regions/{region}/endpoints/{endpoint_id}/migrate:
    post:
      tags:
      - Endpoints
      operationId: MigrateEndpoint
      summary: Migrate an existing instance endpoint to another instance
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: endpoint_id
        description: UUID of the endpoint you want to migrate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.Endpoint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: UUID of the instance you want to attach the endpoint to.
              required:
              - instance_id
              x-properties-order:
              - instance_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"instance_id\":\"string\"}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}/migrate\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/endpoints/{endpoint_id}/migrate\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  instance_id=\"string\""
  /rdb/v1/regions/{region}/instances/{instance_id}/endpoints:
    post:
      tags:
      - Endpoints
      operationId: CreateEndpoint
      summary: Create a new Database Instance endpoint
      description: Create a new endpoint for a Database Instance. You can add `load_balancer` and `private_network` specifications to the body of the request.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance you to which you want to add an endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.Endpoint'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint_spec:
                  type: object
                  description: Specification of the endpoint you want to create.
                  properties:
                    load_balancer:
                      type: object
                      description: Load balancer endpoint specifications. Public endpoint for Database Instance which is systematically present. One per RDB instance.
                      nullable: true
                      x-one-of: spec
                    private_network:
                      type: object
                      description: Private Network endpoint specifications. One maximum per Database Instance or Read Replica (a Database Instance and its Read Replica can have different Private Networks). Cannot be updated (has to be deleted and recreated).
                      properties:
                        private_network_id:
                          type: string
                          description: UUID of the Private Network to be connected to the Database Instance. (UUID format)
                          example: 6170692e-7363-616c-6577-61792e636f6d
                        service_ip:
                          type: string
                          description: Endpoint IPv4 address with a CIDR notation. Refer to the official Scaleway documentation to learn more about IP and subnet limitations. (IP network)
                          example: 1.2.3.4/32
                          nullable: true
                          x-one-of: config
                        ipam_config:
                          type: object
                          description: Automated configuration of your Private Network endpoint with Scaleway IPAM service. One at the most per Database Instance or Read Replica (a Database Instance and its Read Replica can have different Private Networks). Cannot be updated (has to be deleted and recreated).
                          nullable: true
                          x-one-of: config
                      nullable: true
                      x-properties-order:
                      - private_network_id
                      - service_ip
                      - ipam_config
                      x-one-of: spec
                  x-properties-order:
                  - load_balancer
                  - private_network
              x-properties-order:
              - endpoint_spec
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/endpoints\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/endpoints\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.rdb.v1.Endpoint:
      type: object
      properties:
        id:
          type: string
          description: UUID of the endpoint. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        ip:
          type: string
          description: IPv4 address of the endpoint. (IP address)
          example: 1.2.3.4
          nullable: true
          x-one-of: address
        port:
          type: integer
          description: TCP port of the endpoint.
          format: uint32
        name:
          type: string
          description: Name of the endpoint.
          nullable: true
        private_network:
          type: object
          description: Private Network details. One maximum per Database Instance or Read Replica (a Database Instance and its Read Replica can have different Private Networks). Cannot be updated (has to be deleted and recreated).
          properties:
            private_network_id:
              type: string
              description: UUID of the private network. (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            service_ip:
              type: string
              description: CIDR notation of the endpoint IPv4 address. (IP network)
              example: 1.2.3.4/32
            zone:
              type: string
              description: Private network zone.
            provisioning_mode:
              type: string
              description: How endpoint ips are provisioned.
              enum:
              - static
              - ipam
              default: static
          nullable: true
          x-properties-order:
          - private_network_id
          - service_ip
          - zone
          - provisioning_mode
          x-one-of: details
        load_balancer:
          type: object
          description: Load balancer details. Public endpoint for Database Instance which is systematically present. One per Database Instance.
          nullable: true
          x-one-of: details
        direct_access:
          type: object
          description: Direct access details. Public endpoint reserved for Read Replicas. One per Read Replica.
          nullable: true
          x-one-of: details
        hostname:
          type: string
          description: Hostname of the endpoint.
          nullable: true
          x-one-of: address
      x-properties-order:
      - id
      - ip
      - port
      - name
      - private_network
      - load_balancer
      - direct_access
      - hostname
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
