openapi: 3.2.0
info:
  title: VPC Routes API
  description: VPC allows you to build your own **V**irtual **P**rivate **C**loud on top of Scaleway’s shared public cloud.
  version: v2
servers:
- url: https://api.scaleway.com
tags:
- name: Routes
  description: Custom routes that will be pushed to your private networks resources.
paths:
  /vpc/v2/regions/{region}/routes:
    post:
      tags:
      - Routes
      operationId: CreateRoute
      summary: Create a Route
      description: Create a new custom Route.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.Route'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Route description.
                tags:
                  type: array
                  description: Tags of the Route.
                  items:
                    type: string
                vpc_id:
                  type: string
                  description: VPC the Route belongs to. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                destination:
                  type: string
                  description: Destination of the Route. (IP network)
                  example: 1.2.3.4/32
                nexthop_resource_id:
                  type: string
                  description: ID of the nexthop resource. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
                nexthop_private_network_id:
                  type: string
                  description: ID of the nexthop private network. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
                nexthop_vpc_connector_id:
                  type: string
                  description: ID of the nexthop VPC Connector. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
              x-properties-order:
              - description
              - tags
              - vpc_id
              - destination
              - nexthop_resource_id
              - nexthop_private_network_id
              - nexthop_vpc_connector_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"description\": \"string\",\n    \"destination\": \"1.2.3.4/32\",\n    \"vpc_id\": \"6170692e-7363-616c-6577-61792e636f6d\"\n  }' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/routes\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/vpc/v2/regions/{region}/routes\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  description=\"string\" \\\n  destination=\"1.2.3.4/32\" \\\n  vpc_id=\"6170692e-7363-616c-6577-61792e636f6d\""
  /vpc/v2/regions/{region}/routes/{route_id}:
    get:
      tags:
      - Routes
      operationId: GetRoute
      summary: Get a Route
      description: Retrieve details of an existing Route, specified by its Route ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: route_id
        description: Route ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.Route'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Routes
      operationId: UpdateRoute
      summary: Update Route
      description: Update parameters of the specified Route.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: route_id
        description: Route ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.Route'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Route description.
                  nullable: true
                tags:
                  type: array
                  description: Tags of the Route.
                  nullable: true
                  items:
                    type: string
                destination:
                  type: string
                  description: Destination of the Route. (IP network)
                  example: 1.2.3.4/32
                  nullable: true
                nexthop_resource_id:
                  type: string
                  description: ID of the nexthop resource. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
                nexthop_private_network_id:
                  type: string
                  description: ID of the nexthop private network. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
                nexthop_vpc_connector_id:
                  type: string
                  description: ID of the nexthop VPC connector. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                  nullable: true
              x-properties-order:
              - description
              - tags
              - destination
              - nexthop_resource_id
              - nexthop_private_network_id
              - nexthop_vpc_connector_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Routes
      operationId: DeleteRoute
      summary: Delete a Route
      description: Delete a Route specified by its Route ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: route_id
        description: Route ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/vpc/v2/regions/{region}/routes/{route_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.vpc.v2.Route:
      type: object
      properties:
        id:
          type: string
          description: Route ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        description:
          type: string
          description: Route description.
        tags:
          type: array
          description: Tags of the Route.
          items:
            type: string
        vpc_id:
          type: string
          description: VPC the Route belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        destination:
          type: string
          description: Destination of the Route. (IP network)
          example: 1.2.3.4/32
        nexthop_resource_id:
          type: string
          description: ID of the nexthop resource. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
          nullable: true
        nexthop_private_network_id:
          type: string
          description: ID of the nexthop private network. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
          nullable: true
        nexthop_vpc_connector_id:
          type: string
          description: ID of the nexthop VPC connector. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
          nullable: true
        created_at:
          type: string
          description: Date the Route was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date the Route was last modified. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        is_read_only:
          type: boolean
          description: Defines whether the route can be modified or deleted by the user.
        type:
          type: string
          description: Type of the Route.
          enum:
          - unknown_route_type
          - subnet
          - default
          - custom
          - interlink
          - s2s_vpn
          default: unknown_route_type
        region:
          type: string
          description: Region of the Route.
      x-properties-order:
      - id
      - description
      - tags
      - vpc_id
      - destination
      - nexthop_resource_id
      - nexthop_private_network_id
      - nexthop_vpc_connector_id
      - created_at
      - updated_at
      - is_read_only
      - type
      - region
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
