openapi: 3.2.0
info:
  title: Serverless Functions Tokens API
  description: Deploying applications to the cloud becomes simpler with Serverless Functions.
  version: v1beta1
servers:
- url: https://api.scaleway.com
tags:
- name: Tokens
  description: Tokens allow you to manage access control to your function.
paths:
  /functions/v1beta1/regions/{region}/tokens:
    get:
      tags:
      - Tokens
      operationId: ListTokens
      summary: List all tokens
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of tokens per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        description: Sort order for the tokens.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          default: created_at_asc
      - in: query
        name: function_id
        description: UUID of the function the token is associated with.
        schema:
          type: string
      - in: query
        name: namespace_id
        description: UUID of the namespace the token is associated with.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListTokensResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Tokens
      operationId: CreateToken
      summary: Create a new revocable token
      description: Deprecated in favor of IAM authentication.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                function_id:
                  type: string
                  description: UUID of the function to associate the token with.
                  nullable: true
                  x-one-of: scope
                namespace_id:
                  type: string
                  description: UUID of the namespace to associate the token with.
                  nullable: true
                  x-one-of: scope
                description:
                  type: string
                  description: Description of the token.
                  nullable: true
                expires_at:
                  type: string
                  description: Date on which the token expires. (RFC 3339 format)
                  format: date-time
                  example: '2022-03-22T12:34:56.123456Z'
                  nullable: true
              x-properties-order:
              - function_id
              - namespace_id
              - description
              - expires_at
      security:
      - scaleway: []
      deprecated: true
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /functions/v1beta1/regions/{region}/tokens/{token_id}:
    get:
      tags:
      - Tokens
      operationId: GetToken
      summary: Get a token
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: token_id
        description: UUID of the token to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Token'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens/{token_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens/{token_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Tokens
      operationId: DeleteToken
      summary: Delete a token
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: token_id
        description: UUID of the token to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Token'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens/{token_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/functions/v1beta1/regions/{region}/tokens/{token_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.functions.v1beta1.ListTokensResponse:
      type: object
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Token'
        total_count:
          type: integer
          format: uint32
      x-properties-order:
      - tokens
      - total_count
    scaleway.functions.v1beta1.Token:
      type: object
      properties:
        id:
          type: string
          description: UUID of the token.
        token:
          type: string
          description: String of the token.
        function_id:
          type: string
          description: UUID of the function the token is associated with.
          nullable: true
          x-one-of: scope
        namespace_id:
          type: string
          description: UUID of the namespace the token is associated with.
          nullable: true
          x-one-of: scope
        public_key:
          type: string
          description: Public key of the token.
          deprecated: true
        status:
          type: string
          description: Status of the token.
          enum:
          - unknown
          - ready
          - deleting
          - error
          - creating
          default: unknown
        description:
          type: string
          description: Description of the token.
          nullable: true
        expires_at:
          type: string
          description: Date on which the token expires. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - id
      - token
      - function_id
      - namespace_id
      - public_key
      - status
      - description
      - expires_at
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
