openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Node Types API
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: NodeTypes
  description: 'Two node type ranges are available:


    * **General Purpose:** production-grade nodes designed for scalable database infrastructures.

    * **Development:** sandbox environments and reliable performance for development and testing purposes.'
paths:
  /rdb/v1/regions/{region}/node-types:
    get:
      tags:
      - NodeTypes
      operationId: ListNodeTypes
      summary: List available node types
      description: List all available node types. By default, the node types returned in the list are ordered by creation date in ascending order, though this can be modified via the `order_by` field.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: include_disabled_types
        description: Defines whether or not to include disabled types.
        required: true
        schema:
          type: boolean
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ListNodeTypesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/node-types?include_disabled_types=false\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/node-types\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  include_disabled_types==false"
components:
  schemas:
    scaleway.rdb.v1.NodeType:
      type: object
      properties:
        name:
          type: string
          description: Node Type name identifier.
        stock_status:
          type: string
          description: Current stock status for the Node Type.
          enum:
          - unknown
          - low_stock
          - out_of_stock
          - available
          default: unknown
        description:
          type: string
          description: Current specs of the offer.
        vcpus:
          type: integer
          description: Number of virtual CPUs.
          format: uint32
        memory:
          type: integer
          description: Quantity of RAM. (in bytes)
          format: uint64
        volume_constraint:
          type: object
          description: '[deprecated] Node Type volume constraints.'
          deprecated: true
          properties:
            min_size:
              type: integer
              description: '[deprecated] Minimum size required for the Volume. (in bytes)'
              format: uint64
            max_size:
              type: integer
              description: '[deprecated] Maximum size required for the Volume. (in bytes)'
              format: uint64
          x-properties-order:
          - min_size
          - max_size
        is_bssd_compatible:
          type: boolean
          description: The Node Type is compliant with Block Storage.
          deprecated: true
        disabled:
          type: boolean
          description: The Node Type is currently disabled.
        beta:
          type: boolean
          description: The Node Type is currently in beta.
        available_volume_types:
          type: array
          description: Available storage options for the Node Type.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.NodeType.VolumeType'
        is_ha_required:
          type: boolean
          description: The Node Type can be used only with high availability option.
        generation:
          type: string
          description: Generation associated with the NodeType offer.
          enum:
          - unknown_generation
          - generation_v1
          - generation_v2
          - generation_v3
          default: unknown_generation
        instance_range:
          type: string
          description: Instance range associated with the NodeType offer.
        region:
          type: string
          description: Region the Node Type is in.
      x-properties-order:
      - name
      - stock_status
      - description
      - vcpus
      - memory
      - volume_constraint
      - is_bssd_compatible
      - disabled
      - beta
      - available_volume_types
      - is_ha_required
      - generation
      - instance_range
      - region
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.rdb.v1.ListNodeTypesResponse:
      type: object
      properties:
        node_types:
          type: array
          description: Types of the node.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.NodeType'
        total_count:
          type: integer
          description: Total count of node-types available.
          format: uint32
      x-properties-order:
      - node_types
      - total_count
    scaleway.rdb.v1.NodeType.VolumeType:
      type: object
      properties:
        type:
          type: string
          description: Volume Type.
          enum:
          - lssd
          - bssd
          - sbs_5k
          - sbs_15k
          default: lssd
        description:
          type: string
          description: The description of the Volume.
        min_size:
          type: integer
          description: Minimum size required for the Volume. (in bytes)
          format: uint64
        max_size:
          type: integer
          description: Maximum size required for the Volume. (in bytes)
          format: uint64
        chunk_size:
          type: integer
          description: Minimum increment level for a Block Storage volume size. (in bytes)
          format: uint64
        class:
          type: string
          description: The storage class of the volume.
          enum:
          - unknown_storage_class
          - lssd
          - bssd
          - sbs
          default: unknown_storage_class
      x-properties-order:
      - type
      - description
      - min_size
      - max_size
      - chunk_size
      - class
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
