openapi: 3.2.0
info:
  title: IAM Logs API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Logs
  description: Logs provide a record of all events and errors that take place during the lifecycle of your IAM resources (IAM users, applications, groups, API keys, and policies). Logs represent a source of visibility if you want to know when a problem occurred, or which events correlate with it.
paths:
  /iam/v1alpha1/logs:
    get:
      tags:
      - Logs
      operationId: ListLogs
      summary: List logs
      description: List logs available for given Organization. You must define the `organization_id` in the query path of your request.
      parameters:
      - in: query
        name: order_by
        description: Criteria for sorting results.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          x-enum-descriptions:
            values:
              created_at_asc: Creation date ascending
              created_at_desc: Creation date descending
          default: created_at_asc
      - in: query
        name: organization_id
        description: Filter by Organization ID.
        schema:
          type: string
      - in: query
        name: page_size
        description: Number of results per page. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: Page number. Value must be greater to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: created_after
        description: Defined whether or not to filter out logs created after this timestamp. (RFC 3339 format)
        schema:
          type: string
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
      - in: query
        name: created_before
        description: Defined whether or not to filter out logs created before this timestamp. (RFC 3339 format)
        schema:
          type: string
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
      - in: query
        name: action
        description: Defined whether or not to filter out by a specific action.
        schema:
          type: string
          enum:
          - unknown_action
          - created
          - updated
          - deleted
          x-enum-descriptions:
            values:
              unknown_action: Unknown action
              created: Created
              updated: Updated
              deleted: Deleted
          default: unknown_action
      - in: query
        name: resource_type
        description: Defined whether or not to filter out by a specific type of resource.
        schema:
          type: string
          enum:
          - unknown_resource_type
          - api_key
          - user
          - application
          - group
          - policy
          x-enum-descriptions:
            values:
              unknown_resource_type: Unknown resource type
              api_key: API Key
              user: User
              application: Application
              group: Group
              policy: Policy
          default: unknown_resource_type
      - in: query
        name: search
        description: Defined whether or not to filter out log by bearer ID or resource ID.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListLogsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/logs?organization_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/logs\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id==string"
  /iam/v1alpha1/logs/{log_id}:
    get:
      tags:
      - Logs
      operationId: GetLog
      summary: Get a log
      description: Retrieve information about a log, specified by the `log_id` parameter. The log's full details, including `id`, `ip`, `user_agent`, `action`, `bearer_id`, `resource_type` and `resource_id` are returned in the response.
      parameters:
      - in: path
        name: log_id
        description: ID of the log.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.Log'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/logs/{log_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/logs/{log_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.iam.v1alpha1.ListLogsResponse:
      type: object
      properties:
        logs:
          type: array
          description: List of logs.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.Log'
        total_count:
          type: integer
          description: Total count of logs.
          format: uint64
      x-properties-order:
      - logs
      - total_count
    scaleway.iam.v1alpha1.Log:
      type: object
      properties:
        id:
          type: string
          description: Log ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        created_at:
          type: string
          description: Creation date of the log. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        ip:
          type: string
          description: IP address of the HTTP request linked to the log. (IP address)
          example: 1.2.3.4
        user_agent:
          type: string
          description: User-Agent of the HTTP request linked to the log.
        action:
          type: string
          description: Action linked to the log.
          enum:
          - unknown_action
          - created
          - updated
          - deleted
          x-enum-descriptions:
            values:
              unknown_action: Unknown action
              created: Created
              updated: Updated
              deleted: Deleted
          default: unknown_action
        bearer_id:
          type: string
          description: ID of the principal at the origin of the log. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        organization_id:
          type: string
          description: ID of Organization linked to the log. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        resource_type:
          type: string
          description: Type of the resource linked to the log.
          enum:
          - unknown_resource_type
          - api_key
          - user
          - application
          - group
          - policy
          x-enum-descriptions:
            values:
              unknown_resource_type: Unknown resource type
              api_key: API Key
              user: User
              application: Application
              group: Group
              policy: Policy
          default: unknown_resource_type
        resource_id:
          type: string
          description: ID of the resource linked  to the log.
      x-properties-order:
      - id
      - created_at
      - ip
      - user_agent
      - action
      - bearer_id
      - organization_id
      - resource_type
      - resource_id
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
