openapi: 3.2.0
info:
  title: Serverless Functions API
  description: Deploying applications to the cloud becomes simpler with Serverless Functions.
  version: v1beta1
servers:
- url: https://api.scaleway.com
tags:
- name: Functions
  description: A function defines a procedure on how to change one element into another. The function remains static, while the variables that pass through it can vary.
paths:
  /functions/v1beta1/regions/{region}/functions:
    get:
      tags:
      - Functions
      operationId: ListFunctions
      summary: List all your functions
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of functions per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        description: Order of the functions.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: namespace_id
        description: UUID of the namespace the function belongs to.
        required: true
        schema:
          type: string
      - in: query
        name: name
        description: Name of the function.
        schema:
          type: string
      - in: query
        name: organization_id
        description: UUID of the Organization the function belongs to.
        schema:
          type: string
      - in: query
        name: project_id
        description: UUID of the Project the function belongs to.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListFunctionsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions?namespace_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  namespace_id==string"
    post:
      tags:
      - Functions
      operationId: CreateFunction
      summary: Create a new function
      description: Create a new function in the specified region for a specified Organization or Project.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the function to create.
                namespace_id:
                  type: string
                  description: UUID of the namespace the function will be created in.
                environment_variables:
                  type: object
                  description: Environment variables of the function.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                min_scale:
                  type: integer
                  description: Minimum number of instances to scale the function to.
                  format: uint32
                  nullable: true
                max_scale:
                  type: integer
                  description: Maximum number of instances to scale the function to.
                  format: uint32
                  nullable: true
                runtime:
                  type: string
                  description: Runtime to use with the function.
                  enum:
                  - unknown_runtime
                  - golang
                  - python
                  - python3
                  - node8
                  - node10
                  - node14
                  - node16
                  - node17
                  - python37
                  - python38
                  - python39
                  - python310
                  - go113
                  - go117
                  - go118
                  - node18
                  - rust165
                  - go119
                  - python311
                  - php82
                  - node19
                  - go120
                  - node20
                  - go121
                  - node22
                  - python312
                  - php83
                  - go122
                  - rust179
                  - go123
                  - go124
                  - python313
                  - rust185
                  - php84
                  default: unknown_runtime
                memory_limit:
                  type: integer
                  description: Memory limit of the function in MB.
                  format: uint32
                  nullable: true
                timeout:
                  type: string
                  description: Request processing time limit for the function. (in seconds)
                  example: 2.5s
                  nullable: true
                handler:
                  type: string
                  description: Handler to use with the function.
                  nullable: true
                privacy:
                  type: string
                  description: Privacy setting of the function.
                  enum:
                  - unknown_privacy
                  - public
                  - private
                  default: unknown_privacy
                description:
                  type: string
                  description: Description of the function.
                  nullable: true
                secret_environment_variables:
                  type: array
                  items:
                    $ref: '#/components/schemas/scaleway.functions.v1beta1.Secret'
                http_option:
                  type: string
                  description: "Configure how HTTP and HTTPS requests are handled.\nPossible values:\n - redirected: Responds to HTTP request with a 301 redirect to ask the clients to use HTTPS.\n - enabled: Serve both HTTP and HTTPS traffic."
                  enum:
                  - unknown_http_option
                  - enabled
                  - redirected
                  default: unknown_http_option
                sandbox:
                  type: string
                  description: Execution environment of the function.
                  enum:
                  - unknown_sandbox
                  - v1
                  - v2
                  x-enum-descriptions:
                    values:
                      unknown_sandbox: Unknown sandbox
                      v1: Legacy sandboxing with slower cold starts. Fully supports the Linux system call interface
                      v2: Recommended sandboxing with faster cold starts
                  default: unknown_sandbox
                tags:
                  type: array
                  description: Tags of the Serverless Function.
                  items:
                    type: string
                private_network_id:
                  type: string
                  description: 'ID of the Private Network the function is connected to.

                    When connected to a Private Network, the function can access other Scaleway resources in this Private Network.'
                  nullable: true
              x-properties-order:
              - name
              - namespace_id
              - environment_variables
              - min_scale
              - max_scale
              - runtime
              - memory_limit
              - timeout
              - handler
              - privacy
              - description
              - secret_environment_variables
              - http_option
              - sandbox
              - tags
              - private_network_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"string\",\"namespace_id\":\"string\"}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\" \\\n  namespace_id=\"string\""
  /functions/v1beta1/regions/{region}/functions/{function_id}:
    get:
      tags:
      - Functions
      operationId: GetFunction
      summary: Get a function
      description: Get the function associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Functions
      operationId: UpdateFunction
      summary: Update an existing function
      description: 'Update the function associated with the specified ID.


        When updating a function, the function is automatically redeployed to apply the changes.

        This behavior can be changed by setting the `redeploy` field to `false` in the request.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment_variables:
                  type: object
                  description: Environment variables of the function to update.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                min_scale:
                  type: integer
                  description: Minimum number of instances to scale the function to.
                  format: uint32
                  nullable: true
                max_scale:
                  type: integer
                  description: Maximum number of instances to scale the function to.
                  format: uint32
                  nullable: true
                runtime:
                  type: string
                  description: Runtime to use with the function.
                  enum:
                  - unknown_runtime
                  - golang
                  - python
                  - python3
                  - node8
                  - node10
                  - node14
                  - node16
                  - node17
                  - python37
                  - python38
                  - python39
                  - python310
                  - go113
                  - go117
                  - go118
                  - node18
                  - rust165
                  - go119
                  - python311
                  - php82
                  - node19
                  - go120
                  - node20
                  - go121
                  - node22
                  - python312
                  - php83
                  - go122
                  - rust179
                  - go123
                  - go124
                  - python313
                  - rust185
                  - php84
                  default: unknown_runtime
                memory_limit:
                  type: integer
                  description: Memory limit of the function in MB.
                  format: uint32
                  nullable: true
                timeout:
                  type: string
                  description: Processing time limit for the function. (in seconds)
                  example: 2.5s
                  nullable: true
                redeploy:
                  type: boolean
                  description: Redeploy failed function.
                  nullable: true
                handler:
                  type: string
                  description: Handler to use with the function.
                  nullable: true
                privacy:
                  type: string
                  description: Privacy setting of the function.
                  enum:
                  - unknown_privacy
                  - public
                  - private
                  default: unknown_privacy
                description:
                  type: string
                  description: Description of the function.
                  nullable: true
                secret_environment_variables:
                  type: array
                  description: "Secret environment variables of the function.\nDuring an update, secret environment variables that are not specified in this field will be kept unchanged.\n\nIn order to delete a specific secret environment variable, you must reference its key, but not provide any value for it.\nFor example, the following payload will delete the `TO_DELETE` secret environment variable:\n\n```json\n{\n \"secret_environment_variables\":[\n   {\"key\":\"TO_DELETE\"}\n ]\n}\n```."
                  items:
                    $ref: '#/components/schemas/scaleway.functions.v1beta1.Secret'
                http_option:
                  type: string
                  description: "Configure how HTTP and HTTPS requests are handled.\nPossible values:\n - redirected: Responds to HTTP request with a 301 redirect to ask the clients to use HTTPS.\n - enabled: Serve both HTTP and HTTPS traffic."
                  enum:
                  - unknown_http_option
                  - enabled
                  - redirected
                  default: unknown_http_option
                sandbox:
                  type: string
                  description: Execution environment of the function.
                  enum:
                  - unknown_sandbox
                  - v1
                  - v2
                  x-enum-descriptions:
                    values:
                      unknown_sandbox: Unknown sandbox
                      v1: Legacy sandboxing with slower cold starts. Fully supports the Linux system call interface
                      v2: Recommended sandboxing with faster cold starts
                  default: unknown_sandbox
                tags:
                  type: array
                  description: Tags of the Serverless Function.
                  nullable: true
                  items:
                    type: string
                private_network_id:
                  type: string
                  description: 'ID of the Private Network the function is connected to.

                    When connected to a Private Network, the function can access other Scaleway resources in this Private Network.'
                  nullable: true
              x-properties-order:
              - environment_variables
              - min_scale
              - max_scale
              - runtime
              - memory_limit
              - timeout
              - redeploy
              - handler
              - privacy
              - description
              - secret_environment_variables
              - http_option
              - sandbox
              - tags
              - private_network_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Functions
      operationId: DeleteFunction
      summary: Delete a function
      description: Delete the function associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /functions/v1beta1/regions/{region}/functions/{function_id}/deploy:
    post:
      tags:
      - Functions
      operationId: DeployFunction
      summary: Deploy a function
      description: Deploy a function associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function to deploy.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/deploy\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/deploy\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /functions/v1beta1/regions/{region}/functions/{function_id}/download-url:
    get:
      tags:
      - Functions
      operationId: GetFunctionDownloadURL
      summary: Get a download URL of a function
      description: Get a download URL for a function associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function to get the download URL for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.DownloadURL'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/download-url\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/download-url\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /functions/v1beta1/regions/{region}/functions/{function_id}/upload-url:
    get:
      tags:
      - Functions
      operationId: GetFunctionUploadURL
      summary: Get an upload URL of a function
      description: Get an upload URL of a function associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: function_id
        description: UUID of the function to get the upload URL for.
        required: true
        schema:
          type: string
      - in: query
        name: content_length
        description: Size of the archive to upload in bytes.
        required: true
        schema:
          type: integer
          format: uint64
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.UploadURL'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/upload-url?content_length=42\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/functions/{function_id}/upload-url\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  content_length==42"
  /functions/v1beta1/regions/{region}/runtimes:
    get:
      tags:
      - Functions
      operationId: ListFunctionRuntimes
      summary: List function runtimes
      description: List available function runtimes.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListFunctionRuntimesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/runtimes\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/runtimes\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.std.StringsValue:
      type: array
      nullable: true
      items:
        type: string
    google.protobuf.StringValue:
      type: string
      nullable: true
    scaleway.functions.v1beta1.Function:
      type: object
      properties:
        id:
          type: string
          description: UUID of the function.
        name:
          type: string
          description: Name of the function.
        namespace_id:
          type: string
          description: UUID of the namespace the function belongs to.
        status:
          type: string
          description: Status of the function.
          enum:
          - unknown
          - ready
          - deleting
          - error
          - locked
          - creating
          - pending
          - created
          default: unknown
        environment_variables:
          type: object
          description: Environment variables of the function.
          properties:
            <environment_variableKey>:
              type: string
              description: Environment variables of the function.
          additionalProperties: true
        min_scale:
          type: integer
          description: Minimum number of instances to scale the function to.
          format: uint32
        max_scale:
          type: integer
          description: Maximum number of instances to scale the function to.
          format: uint32
        runtime:
          type: string
          description: Runtime of the function.
          enum:
          - unknown_runtime
          - golang
          - python
          - python3
          - node8
          - node10
          - node14
          - node16
          - node17
          - python37
          - python38
          - python39
          - python310
          - go113
          - go117
          - go118
          - node18
          - rust165
          - go119
          - python311
          - php82
          - node19
          - go120
          - node20
          - go121
          - node22
          - python312
          - php83
          - go122
          - rust179
          - go123
          - go124
          - python313
          - rust185
          - php84
          default: unknown_runtime
        memory_limit:
          type: integer
          description: Memory limit of the function in MB.
          format: uint32
        cpu_limit:
          type: integer
          description: CPU limit of the function.
          format: uint32
        timeout:
          type: string
          description: Request processing time limit for the function. (in seconds)
          example: 2.5s
          nullable: true
        handler:
          type: string
          description: Handler to use for the function.
        error_message:
          type: string
          description: Error message if the function is in "error" state.
          nullable: true
        build_message:
          type: string
          description: Description of the current build step.
          nullable: true
        privacy:
          type: string
          description: Privacy setting of the function.
          enum:
          - unknown_privacy
          - public
          - private
          default: unknown_privacy
        description:
          type: string
          description: Description of the function.
          nullable: true
        domain_name:
          type: string
          description: Domain name associated with the function.
        secret_environment_variables:
          type: array
          description: Secret environment variables of the function.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.SecretHashedValue'
        region:
          type: string
          description: Region in which the function is deployed.
        http_option:
          type: string
          description: "Configuration for handling of HTTP and HTTPS requests.\nPossible values:\n - redirected: Responds to HTTP request with a 301 redirect to ask the clients to use HTTPS.\n - enabled: Serve both HTTP and HTTPS traffic."
          enum:
          - unknown_http_option
          - enabled
          - redirected
          default: enabled
        runtime_message:
          type: string
        sandbox:
          type: string
          description: Execution environment of the function.
          enum:
          - unknown_sandbox
          - v1
          - v2
          x-enum-descriptions:
            values:
              unknown_sandbox: Unknown sandbox
              v1: Legacy sandboxing with slower cold starts. Fully supports the Linux system call interface
              v2: Recommended sandboxing with faster cold starts
          default: unknown_sandbox
        created_at:
          type: string
          description: Creation date of the function. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Last update date of the function. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        ready_at:
          type: string
          description: Last date when the function was successfully deployed and set to ready. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        tags:
          type: array
          description: List of tags applied to the Serverless Function.
          items:
            type: string
        private_network_id:
          type: string
          description: 'ID of the Private Network the function is connected to.

            When connected to a Private Network, the function can access other Scaleway resources in this Private Network.'
          nullable: true
      x-properties-order:
      - id
      - name
      - namespace_id
      - status
      - environment_variables
      - min_scale
      - max_scale
      - runtime
      - memory_limit
      - cpu_limit
      - timeout
      - handler
      - error_message
      - build_message
      - privacy
      - description
      - domain_name
      - secret_environment_variables
      - region
      - http_option
      - runtime_message
      - sandbox
      - created_at
      - updated_at
      - ready_at
      - tags
      - private_network_id
    scaleway.functions.v1beta1.SecretHashedValue:
      type: object
      properties:
        key:
          type: string
        hashed_value:
          type: string
      x-properties-order:
      - key
      - hashed_value
    scaleway.functions.v1beta1.ListFunctionRuntimesResponse:
      type: object
      properties:
        runtimes:
          type: array
          description: Array of runtimes available.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Runtime'
        total_count:
          type: integer
          description: Total number of runtimes.
          format: uint32
      x-properties-order:
      - runtimes
      - total_count
    scaleway.functions.v1beta1.ListFunctionsResponse:
      type: object
      properties:
        functions:
          type: array
          description: Array of functions.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Function'
        total_count:
          type: integer
          description: Total number of functions.
          format: uint32
      x-properties-order:
      - functions
      - total_count
    scaleway.functions.v1beta1.Runtime:
      type: object
      properties:
        name:
          type: string
        language:
          type: string
        version:
          type: string
        default_handler:
          type: string
        code_sample:
          type: string
        status:
          $ref: '#/components/schemas/scaleway.functions.v1beta1.Runtime.Status'
        status_message:
          type: string
        extension:
          type: string
        implementation:
          type: string
        logo_url:
          type: string
      x-properties-order:
      - name
      - language
      - version
      - default_handler
      - code_sample
      - status
      - status_message
      - extension
      - implementation
      - logo_url
    scaleway.functions.v1beta1.DownloadURL:
      type: object
      properties:
        url:
          type: string
        headers:
          type: object
          properties:
            <headerKey>:
              $ref: '#/components/schemas/scaleway.std.StringsValue'
          additionalProperties: true
      x-properties-order:
      - url
      - headers
    scaleway.functions.v1beta1.Secret:
      type: object
      properties:
        key:
          type: string
        value:
          $ref: '#/components/schemas/google.protobuf.StringValue'
      x-properties-order:
      - key
      - value
    scaleway.functions.v1beta1.Runtime.Status:
      type: string
      enum:
      - unknown_status
      - beta
      - available
      - deprecated
      - end_of_support
      - end_of_life
      default: unknown_status
    scaleway.functions.v1beta1.UploadURL:
      type: object
      properties:
        url:
          type: string
          description: Upload URL to upload the function to.
        headers:
          type: object
          description: HTTP headers.
          properties:
            <headerKey>:
              type: array
              description: HTTP headers.
              nullable: true
              items:
                type: string
          additionalProperties: true
      x-properties-order:
      - url
      - headers
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
