openapi: 3.2.0
info:
  title: Instance API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Instance
paths:
  /instance/v1/zones/{zone}/block-migration/check-organization-quotas:
    post:
      operationId: CheckBlockMigrationOrganizationQuotas
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      responses:
        '204':
          description: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: string
              x-properties-order:
              - organization
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"organization\":\"string\"}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/block-migration/check-organization-quotas\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/instance/v1/zones/{zone}/block-migration/check-organization-quotas\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization=\"string\""
      tags:
      - Instance
      summary: Check block migration organization quotas
      x-summary-source: derived
  /instance/v1/zones/{zone}/dashboard:
    get:
      operationId: GetDashboard
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: organization
        schema:
          $ref: '#/components/schemas/google.protobuf.StringValue'
      - in: query
        name: project
        schema:
          $ref: '#/components/schemas/google.protobuf.StringValue'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetDashboardResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/dashboard\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/dashboard\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
      tags:
      - Instance
      summary: Get dashboard
      x-summary-source: derived
components:
  schemas:
    scaleway.instance.v1.GetDashboardResponse:
      type: object
      properties:
        dashboard:
          $ref: '#/components/schemas/scaleway.instance.v1.Dashboard'
      x-properties-order:
      - dashboard
    scaleway.instance.v1.Dashboard:
      type: object
      properties:
        volumes_count:
          type: integer
          format: uint32
        running_servers_count:
          type: integer
          format: uint32
        servers_by_types:
          type: object
          properties:
            <servers_by_typeKey>:
              type: integer
              format: uint32
          additionalProperties: true
        images_count:
          type: integer
          format: uint32
        snapshots_count:
          type: integer
          format: uint32
        servers_count:
          type: integer
          format: uint32
        ips_count:
          type: integer
          format: uint32
        security_groups_count:
          type: integer
          format: uint32
        ips_unused:
          type: integer
          format: uint32
        volumes_l_ssd_count:
          type: integer
          format: uint32
        volumes_l_ssd_total_size:
          type: integer
          description: (in bytes)
          format: uint64
        private_nics_count:
          type: integer
          format: uint32
        placement_groups_count:
          type: integer
          format: uint32
        volumes_scratch_count:
          type: integer
          format: uint32
        volumes_b_ssd_count:
          type: integer
          deprecated: true
          format: uint32
        volumes_b_ssd_total_size:
          type: integer
          description: (in bytes)
          deprecated: true
          format: uint64
      x-properties-order:
      - volumes_count
      - running_servers_count
      - servers_by_types
      - images_count
      - snapshots_count
      - servers_count
      - ips_count
      - security_groups_count
      - ips_unused
      - volumes_l_ssd_count
      - volumes_l_ssd_total_size
      - private_nics_count
      - placement_groups_count
      - volumes_scratch_count
      - volumes_b_ssd_count
      - volumes_b_ssd_total_size
    google.protobuf.StringValue:
      type: string
      nullable: true
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
