openapi: 3.2.0
info:
  title: Load Balancer Alert Subscribers API
  description: Load Balancers are highly available and fully managed Instances that facilitate the distribution of incoming traffic across multiple servers.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Alert Subscribers
  description: The Alert Subscribers object. It represents a subscription to alerts about Scaleway incidents impacting a given Load Balancer. Use this endpoint to create subscribers (email addresses or webhooks), subscribe / unsubscribe them to alerts for a particular Load Balancer, and update, list, get and delete subscribers.
paths:
  /lb/v1/zones/{zone}/lb/{lb_id}/subscribe:
    post:
      tags:
      - Alert Subscribers
      operationId: SubscribeToLb
      summary: Subscribe a subscriber to alerts for a given Load Balancer
      description: Subscribe an existing subscriber to alerts for a given Load Balancer.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Lb'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscriber_id:
                  type: string
                  description: Subscriber ID.
              required:
              - subscriber_id
              x-properties-order:
              - subscriber_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"subscriber_id\":\"string\"}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/{lb_id}/subscribe\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/{lb_id}/subscribe\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  subscriber_id=\"string\""
  /lb/v1/zones/{zone}/lb/{lb_id}/unsubscribe:
    delete:
      tags:
      - Alert Subscribers
      operationId: UnsubscribeFromLb
      summary: Unsubscribe a subscriber from alerts for a given Load Balancer
      description: Unsubscribe a subscriber from alerts for a given Load Balancer. The subscriber is not deleted, and can be resubscribed in the future if necessary.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Lb'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/{lb_id}/unsubscribe\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/{lb_id}/unsubscribe\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /lb/v1/zones/{zone}/lb/subscription/{subscriber_id}:
    delete:
      tags:
      - Alert Subscribers
      operationId: DeleteSubscriber
      summary: Delete a subscriber
      description: Delete an existing subscriber, specified by its subscriber ID. Deleting a subscriber is permanent, and cannot be undone.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: subscriber_id
        description: Subscriber ID.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/subscription/{subscriber_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/lb/v1/zones/{zone}/lb/subscription/{subscriber_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /lb/v1/zones/{zone}/subscribers:
    get:
      tags:
      - Alert Subscribers
      operationId: ListSubscriber
      summary: List all subscribers
      description: List all subscribers to Load Balancer alerts. By default, returns all subscribers to Load Balancer alerts for the Organization associated with the authentication token used for the request.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: query
        name: order_by
        description: Sort order of subscribers in the response.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: The number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: name
        description: Subscriber name to search for.
        schema:
          type: string
      - in: query
        name: organization_id
        description: Filter subscribers by Organization ID.
        schema:
          type: string
      - in: query
        name: project_id
        description: Filter subscribers by Project ID.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListSubscriberResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers?name=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name==string"
    post:
      tags:
      - Alert Subscribers
      operationId: CreateSubscriber
      summary: Create a subscriber
      description: Create a new subscriber, either with an email configuration or a webhook configuration, for a specified Scaleway Project.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Subscriber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Subscriber name.
                email_config:
                  type: object
                  description: Email address configuration.
                  properties:
                    email:
                      type: string
                      description: Email address to send alerts to.
                  nullable: true
                  x-properties-order:
                  - email
                  x-one-of: config
                webhook_config:
                  type: object
                  description: WebHook URI configuration.
                  properties:
                    uri:
                      type: string
                      description: URI to receive POST requests.
                  nullable: true
                  x-properties-order:
                  - uri
                  x-one-of: config
                organization_id:
                  type: string
                  description: Organization ID to create the subscriber in.
                  deprecated: true
                  nullable: true
                  x-one-of: ProjectIdentifier
                project_id:
                  type: string
                  description: Project ID to create the subscriber in.
                  nullable: true
                  x-one-of: ProjectIdentifier
              required:
              - name
              x-properties-order:
              - name
              - email_config
              - webhook_config
              - organization_id
              - project_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\""
  /lb/v1/zones/{zone}/subscribers/{subscriber_id}:
    get:
      tags:
      - Alert Subscribers
      operationId: GetSubscriber
      summary: Get a subscriber
      description: Retrieve information about an existing subscriber, specified by its subscriber ID. Its full details, including name and email/webhook configuration, are returned in the response object.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: subscriber_id
        description: Subscriber ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Subscriber'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers/{subscriber_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers/{subscriber_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Alert Subscribers
      operationId: UpdateSubscriber
      summary: Update a subscriber
      description: Update the parameters of a given subscriber (e.g. name, webhook configuration, email configuration), specified by its subscriber ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: subscriber_id
        description: Subscriber ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.Subscriber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Subscriber name.
                email_config:
                  type: object
                  description: Email address configuration.
                  properties:
                    email:
                      type: string
                      description: Email address to send alerts to.
                  nullable: true
                  x-properties-order:
                  - email
                  x-one-of: config
                webhook_config:
                  type: object
                  description: Webhook URI configuration.
                  properties:
                    uri:
                      type: string
                      description: URI to receive POST requests.
                  nullable: true
                  x-properties-order:
                  - uri
                  x-one-of: config
              required:
              - name
              x-properties-order:
              - name
              - email_config
              - webhook_config
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers/{subscriber_id}\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/lb/v1/zones/{zone}/subscribers/{subscriber_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\""
components:
  schemas:
    scaleway.lb.v1.Lb:
      type: object
      properties:
        id:
          type: string
          description: Underlying Instance ID.
        name:
          type: string
          description: Load Balancer name.
        description:
          type: string
          description: Load Balancer description.
        status:
          type: string
          description: Load Balancer status.
          enum:
          - unknown
          - ready
          - pending
          - stopped
          - error
          - locked
          - migrating
          - to_create
          - creating
          - to_delete
          - deleting
          default: unknown
        instances:
          type: array
          description: List of underlying Instances.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.Instance'
        organization_id:
          type: string
          description: Scaleway Organization ID.
        project_id:
          type: string
          description: Scaleway Project ID.
        ip:
          type: array
          description: List of IP addresses attached to the Load Balancer.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.Ip'
        tags:
          type: array
          description: Load Balancer tags.
          items:
            type: string
        frontend_count:
          type: integer
          description: Number of frontends the Load Balancer has.
          format: int32
        backend_count:
          type: integer
          description: Number of backends the Load Balancer has.
          format: int32
        type:
          type: string
          description: Load Balancer offer type.
        subscriber:
          type: object
          description: Subscriber information.
          properties:
            id:
              type: string
              description: Subscriber ID.
            name:
              type: string
              description: Subscriber name.
            email_config:
              type: object
              description: Email address of subscriber.
              properties:
                email:
                  type: string
                  description: Email address to send alerts to.
              nullable: true
              x-properties-order:
              - email
              x-one-of: config
            webhook_config:
              type: object
              description: Webhook URI of subscriber.
              properties:
                uri:
                  type: string
                  description: URI to receive POST requests.
              nullable: true
              x-properties-order:
              - uri
              x-one-of: config
          x-properties-order:
          - id
          - name
          - email_config
          - webhook_config
        ssl_compatibility_level:
          type: string
          description: Determines the minimal SSL version which needs to be supported on client side.
          enum:
          - ssl_compatibility_level_unknown
          - ssl_compatibility_level_intermediate
          - ssl_compatibility_level_modern
          - ssl_compatibility_level_old
          default: ssl_compatibility_level_unknown
        created_at:
          type: string
          description: Date on which the Load Balancer was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the Load Balancer was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        private_network_count:
          type: integer
          description: Number of Private Networks attached to the Load Balancer.
          format: int32
        route_count:
          type: integer
          description: Number of routes configured on the Load Balancer.
          format: int32
        region:
          type: string
          description: The region the Load Balancer is in.
          deprecated: true
        zone:
          type: string
          description: The zone the Load Balancer is in.
      x-properties-order:
      - id
      - name
      - description
      - status
      - instances
      - organization_id
      - project_id
      - ip
      - tags
      - frontend_count
      - backend_count
      - type
      - subscriber
      - ssl_compatibility_level
      - created_at
      - updated_at
      - private_network_count
      - route_count
      - region
      - zone
    scaleway.lb.v1.Subscriber:
      type: object
      properties:
        id:
          type: string
          description: Subscriber ID.
        name:
          type: string
          description: Subscriber name.
        email_config:
          type: object
          description: Email address of subscriber.
          properties:
            email:
              type: string
              description: Email address to send alerts to.
          nullable: true
          x-properties-order:
          - email
          x-one-of: config
        webhook_config:
          type: object
          description: Webhook URI of subscriber.
          properties:
            uri:
              type: string
              description: URI to receive POST requests.
          nullable: true
          x-properties-order:
          - uri
          x-one-of: config
      x-properties-order:
      - id
      - name
      - email_config
      - webhook_config
    scaleway.lb.v1.ListSubscriberResponse:
      type: object
      properties:
        subscribers:
          type: array
          description: List of subscriber objects.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.Subscriber'
        total_count:
          type: integer
          description: The total number of objects.
          format: uint32
      x-properties-order:
      - subscribers
      - total_count
    scaleway.lb.v1.Ip:
      type: object
      properties:
        id:
          type: string
          description: IP address ID.
        ip_address:
          type: string
          description: IP address.
        organization_id:
          type: string
          description: Organization ID of the Scaleway Organization the IP address is in.
        project_id:
          type: string
          description: Project ID of the Scaleway Project the IP address is in.
        lb_id:
          type: string
          description: Load Balancer ID.
          nullable: true
        reverse:
          type: string
          description: Reverse DNS (domain name) of the IP address.
        tags:
          type: array
          description: IP tags.
          items:
            type: string
        region:
          type: string
          description: The region the IP address is in.
          deprecated: true
        zone:
          type: string
          description: The zone the IP address is in.
      x-properties-order:
      - id
      - ip_address
      - organization_id
      - project_id
      - lb_id
      - reverse
      - tags
      - region
      - zone
    scaleway.lb.v1.Instance:
      type: object
      properties:
        id:
          type: string
          description: Underlying Instance ID.
        status:
          type: string
          description: Instance status.
          enum:
          - unknown
          - ready
          - pending
          - stopped
          - error
          - locked
          - migrating
          default: unknown
        ip_address:
          type: string
          description: Instance IP address.
        created_at:
          type: string
          description: Date on which the Instance was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the Instance was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        region:
          type: string
          description: The region the Instance is in.
          deprecated: true
        zone:
          type: string
          description: The zone the Instance is in.
      x-properties-order:
      - id
      - status
      - ip_address
      - created_at
      - updated_at
      - region
      - zone
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
