openapi: 3.2.0
info:
  title: Transactional Email Project Settings API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Project Settings
  description: Project settings allow you to manage the configuration of your projects.
paths:
  /transactional-email/v1alpha1/regions/{region}/project/{project_id}/settings:
    get:
      tags:
      - Project Settings
      operationId: GetProjectSettings
      summary: List project settings
      description: Retrieve the project settings including periodic reports.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: project_id
        description: ID of the project. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ProjectSettings'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project/{project_id}/settings\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project/{project_id}/settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Project Settings
      operationId: UpdateProjectSettings
      summary: Update project settings
      description: Update the project settings including periodic reports.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: project_id
        description: ID of the project. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ProjectSettings'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                periodic_report:
                  type: object
                  description: Periodic report update details - all fields are optional.
                  properties:
                    enabled:
                      type: boolean
                      description: (Optional) Enable or disable periodic report notifications.
                    frequency:
                      type: string
                      description: (Optional) Frequency at which you receive periodic report notifications.
                      enum:
                      - unknown_frequency
                      - monthly
                      - weekly
                      - daily
                      x-enum-descriptions:
                        values:
                          unknown_frequency: If unspecified, the frequency is unknown by default
                          monthly: The periodic report is sent once a month
                          weekly: The periodic report is sent once a week
                          daily: The periodic report is sent once a day
                      default: unknown_frequency
                    sending_hour:
                      type: integer
                      description: (Optional) Hour at which you receive periodic report notifications.
                      format: uint32
                    sending_day:
                      type: integer
                      description: (Optional) On which day you receive periodic report notifications (1-7 weekly, 1-28 monthly).
                      format: uint32
                  x-properties-order:
                  - enabled
                  - frequency
                  - sending_hour
                  - sending_day
              x-properties-order:
              - periodic_report
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project/{project_id}/settings\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project/{project_id}/settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.ProjectSettings:
      type: object
      properties:
        periodic_report:
          type: object
          description: Information about your periodic report.
          properties:
            enabled:
              type: boolean
              description: Enable or disable periodic report notifications.
            frequency:
              type: string
              description: At which frequency you receive periodic report notifications.
              enum:
              - unknown_frequency
              - monthly
              - weekly
              - daily
              x-enum-descriptions:
                values:
                  unknown_frequency: If unspecified, the frequency is unknown by default
                  monthly: The periodic report is sent once a month
                  weekly: The periodic report is sent once a week
                  daily: The periodic report is sent once a day
              default: unknown_frequency
            sending_hour:
              type: integer
              description: At which hour you receive periodic report notifications.
              format: uint32
            sending_day:
              type: integer
              description: On which day you receive periodic report notifications (1-7 weekly, 1-28 monthly).
              format: uint32
          x-properties-order:
          - enabled
          - frequency
          - sending_hour
          - sending_day
      x-properties-order:
      - periodic_report
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
