openapi: 3.2.0
info:
  title: Secret Manager Secret Versions API
  description: Scaleway’s Secret Manager allows you to conveniently store, access and share sensitive data such as passwords, API keys and certificates.
  version: v1beta1
servers:
- url: https://api.scaleway.com
tags:
- name: Secret Versions
  description: Versions store the sensitive data contained in your secrets (API keys, passwords, or certificates)
paths:
  /secret-manager/v1beta1/regions/{region}/secrets-by-path/versions/{revision}/access:
    get:
      tags:
      - Secret Versions
      operationId: AccessSecretVersionByPath
      summary: Access a secret's version using the secret's name and path
      description: Access sensitive data in a secret's version specified by the `region`, `secret_name`, `secret_path` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - an integer (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      - in: query
        name: secret_path
        description: Secret's path.
        required: true
        schema:
          type: string
      - in: query
        name: secret_name
        description: Secret's name.
        required: true
        schema:
          type: string
      - in: query
        name: project_id
        description: ID of the Project to target. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.AccessSecretVersionResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets-by-path/versions/{revision}/access?project_id=6170692e-7363-616c-6577-61792e636f6d&secret_name=string&secret_path=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets-by-path/versions/{revision}/access\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  project_id==6170692e-7363-616c-6577-61792e636f6d \\\n  secret_name==string \\\n  secret_path==string"
  /secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions:
    get:
      tags:
      - Secret Versions
      operationId: ListSecretVersions
      summary: List versions of a secret using the secret's ID
      description: Retrieve the list of a given secret's versions specified by the `secret_id` and `region` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      - in: query
        name: status
        description: Filter results by status.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion.Status'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.ListSecretVersionsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Secret Versions
      operationId: CreateSecretVersion
      summary: Create a version
      description: Create a version of a given secret specified by the `region` and `secret_id` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The base64-encoded secret payload of the version.
                description:
                  type: string
                  description: Description of the version.
                  nullable: true
                disable_previous:
                  type: boolean
                  description: 'Disable the previous secret version.

                    (Optional.) If there is no previous version or if the previous version was already disabled, does nothing.'
                  nullable: true
                data_crc32:
                  type: integer
                  description: '(Optional.) The CRC32 checksum of the data as a base-10 integer.

                    If specified, Secret Manager will verify the integrity of the data received against the given CRC32 checksum. An error is returned if the CRC32 does not match. If, however, the CRC32 matches, it will be stored and returned along with the SecretVersion on future access requests.'
                  format: uint32
                  nullable: true
              x-properties-order:
              - data
              - description
              - disable_previous
              - data_crc32
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"data\":\"string\"}' \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  data=\"string\""
  /secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}:
    get:
      tags:
      - Secret Versions
      operationId: GetSecretVersion
      summary: Get metadata of a secret's version using the secret's ID
      description: Retrieve the metadata of a secret's given version specified by the `region`, `secret_id` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Secret Versions
      operationId: UpdateSecretVersion
      summary: Update metadata of a version
      description: Edit the metadata of a secret's given version, specified by the `region`, `secret_id` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the version.
                  nullable: true
                ephemeral_properties:
                  type: object
                  description: 'Ephemeral properties of the version.

                    (Optional.) Properties that defines the version''s expiration date, whether it expires after being accessed once, and the action to perform (disable or delete) once the version expires.'
                  properties:
                    expires_at:
                      type: string
                      description: 'The version''s expiration date.

                        (Optional.) If not specified, the version does not have an expiration date. (RFC 3339 format)'
                      format: date-time
                      example: '2022-03-22T12:34:56.123456Z'
                      nullable: true
                    expires_once_accessed:
                      type: boolean
                      description: 'Returns `true` if the version expires after a single user access.

                        (Optional.) If not specified, the version can be accessed an unlimited amount of times.'
                      nullable: true
                    action:
                      type: string
                      description: 'Action to perform when the version of a secret expires.

                        See `EphemeralPolicy.Action` enum for a description of values.'
                      enum:
                      - unknown_action
                      - delete
                      - disable
                      x-enum-descriptions:
                        values:
                          delete: The version is deleted once it expires.
                          disable: The version is disabled once it expires.
                      default: unknown_action
                  x-properties-order:
                  - expires_at
                  - expires_once_accessed
                  - action
              x-properties-order:
              - description
              - ephemeral_properties
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Secret Versions
      operationId: DeleteSecretVersion
      summary: Delete a version
      description: Delete a secret's version and the sensitive data contained in it. Deleting a version is permanent and cannot be undone.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/access:
    get:
      tags:
      - Secret Versions
      operationId: AccessSecretVersion
      summary: Access a secret's version using the secret's ID
      description: Access sensitive data in a secret's version specified by the `region`, `secret_id` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.AccessSecretVersionResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/access\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/access\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/disable:
    post:
      tags:
      - Secret Versions
      operationId: DisableSecretVersion
      summary: Disable a version
      description: Make a specific version inaccessible. You must specify the `region`, `secret_id` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/disable\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/disable\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/enable:
    post:
      tags:
      - Secret Versions
      operationId: EnableSecretVersion
      summary: Enable a version
      description: Make a specific version accessible. You must specify the `region`, `secret_id` and `revision` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: secret_id
        description: ID of the secret. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: revision
        description: 'Version number.

          The first version of the secret is numbered 1, and all subsequent revisions augment by 1. Value can be either:

          - a number (the revision number)

          - "latest" (the latest revision)

          - "latest_enabled" (the latest enabled revision).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/enable\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/secret-manager/v1beta1/regions/{region}/secrets/{secret_id}/versions/{revision}/enable\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.secret_manager.v1beta1.SecretVersion:
      type: object
      properties:
        revision:
          type: integer
          description: 'Version number.

            The first version of the secret is numbered 1, and all subsequent revisions augment by 1.'
          format: uint32
        secret_id:
          type: string
          description: ID of the secret. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        status:
          type: string
          description: 'Current status of the version.

            * `unknown_status`: the version is in an invalid state.

            * `enabled`: the version is accessible.

            * `disabled`: the version is not accessible but can be enabled.

            * `scheduled_for_deletion`: the version is scheduled for deletion. It will be deleted in 7 days.

            * `deleted`: the version is permanently deleted. It is not possible to recover it.'
          enum:
          - unknown_status
          - enabled
          - disabled
          - deleted
          - scheduled_for_deletion
          default: unknown_status
        created_at:
          type: string
          description: Date and time of the version's creation. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Last update of the version. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        deleted_at:
          type: string
          description: Date and time of the version's deletion. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        description:
          type: string
          description: Description of the version.
          nullable: true
        latest:
          type: boolean
          description: Returns `true` if the version is the latest.
        ephemeral_properties:
          type: object
          description: 'Properties of the ephemeral version.

            Returns the version''s expiration date, whether it expires after being accessed once, and the action to perform (disable or delete) once the version expires.'
          properties:
            expires_at:
              type: string
              description: 'The version''s expiration date.

                (Optional.) If not specified, the version does not have an expiration date. (RFC 3339 format)'
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
            expires_once_accessed:
              type: boolean
              description: 'Returns `true` if the version expires after a single user access.

                (Optional.) If not specified, the version can be accessed an unlimited amount of times.'
              nullable: true
            action:
              type: string
              description: 'Action to perform when the version of a secret expires.

                See `EphemeralPolicy.Action` enum for a description of values.'
              enum:
              - unknown_action
              - delete
              - disable
              x-enum-descriptions:
                values:
                  delete: The version is deleted once it expires.
                  disable: The version is disabled once it expires.
              default: unknown_action
          x-properties-order:
          - expires_at
          - expires_once_accessed
          - action
        deletion_requested_at:
          type: string
          description: Returns the time at which deletion was requested. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        region:
          type: string
          description: Region of the version.
      x-properties-order:
      - revision
      - secret_id
      - status
      - created_at
      - updated_at
      - deleted_at
      - description
      - latest
      - ephemeral_properties
      - deletion_requested_at
      - region
    scaleway.secret_manager.v1beta1.ListSecretVersionsResponse:
      type: object
      properties:
        versions:
          type: array
          description: Single page of versions.
          items:
            $ref: '#/components/schemas/scaleway.secret_manager.v1beta1.SecretVersion'
        total_count:
          type: integer
          description: Number of versions.
          format: uint64
      x-properties-order:
      - versions
      - total_count
    scaleway.secret_manager.v1beta1.AccessSecretVersionResponse:
      type: object
      properties:
        secret_id:
          type: string
          description: ID of the secret. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        revision:
          type: integer
          description: 'Version number.

            The first version of the secret is numbered 1, and all subsequent revisions augment by 1.'
          format: uint32
        data:
          type: string
          description: The base64-encoded secret payload of the version.
        data_crc32:
          type: integer
          description: 'The CRC32 checksum of the data as a base-10 integer.

            This field is only available if a CRC32 was supplied during the creation of the version.'
          format: uint32
          nullable: true
        type:
          type: string
          description: 'Type of the secret.

            See the `Secret.Type` enum for a description of values.'
          enum:
          - unknown_type
          - opaque
          - certificate
          - key_value
          - basic_credentials
          - database_credentials
          - ssh_key
          x-enum-descriptions:
            values:
              opaque: Default type.
              certificate: List of concatenated PEM blocks. They can contain certificates, private keys or any other PEM block types.
              key_value: Flat JSON that allows you to set as many first level keys and scalar types as values (string, numeric, boolean) as you need.
              basic_credentials: Flat JSON that allows you to set a username and a password.
              database_credentials: Flat JSON that allows you to set an engine, username, password, host, database name, and port.
              ssh_key: Flat JSON that allows you to set an SSH key.
          default: unknown_type
      x-properties-order:
      - secret_id
      - revision
      - data
      - data_crc32
      - type
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.secret_manager.v1beta1.SecretVersion.Status:
      type: string
      enum:
      - unknown_status
      - enabled
      - disabled
      - deleted
      - scheduled_for_deletion
      default: unknown_status
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
