openapi: 3.2.0
info:
  title: Scaleway Namespaces API
  version: '1.0'
  description: 'Operations tagged Namespaces across 2 of this provider''s published API definitions: scaleway-serverless-containers-openapi.yml, scaleway-serverless-functions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.scaleway.com
tags:
- name: Namespaces
  description: 'A namespace is a logical concept that allows you to group your containers.


    Containers in the same namespace can share environment variables, defined only once, at the namespace level.'
paths:
  /containers/v1/regions/{region}/namespaces:
    get:
      tags:
      - Namespaces
      operationId: ListNamespaces
      summary: List all namespaces the caller can access (read permission)
      description: 'By default, the namespaces listed are ordered by creation date in ascending order. This can be modified via the `order_by` field.


        Additional parameters can be set in the query to filter, such as `organization_id`, `project_id`, and `name`.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        schema:
          $ref: '#/components/schemas/scaleway.containers.v1.ListNamespacesRequest.OrderBy'
      - in: query
        name: organization_id
        schema:
          type: string
      - in: query
        name: project_id
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.ListNamespacesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Namespaces
      operationId: CreateNamespace
      summary: Create a new namespace
      description: Namespace name must be unique inside a project.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: string
                  description: Unique ID of the Project the namespace belongs to.
                name:
                  type: string
                  description: Namespace name.
                description:
                  type: string
                  description: Namespace description.
                environment_variables:
                  type: object
                  description: Namespace environment variables.
                  properties:
                    <environment_variableKey>:
                      type: string
                      description: Namespace environment variables.
                  additionalProperties: true
                secret_environment_variables:
                  type: object
                  description: Namespace secret environment variables.
                  properties:
                    <secret_environment_variableKey>:
                      type: string
                      description: Namespace secret environment variables.
                  additionalProperties: true
                tags:
                  type: array
                  description: A list of arbitrary tags associated with the namespace.
                  items:
                    type: string
              required:
              - project_id
              - name
              x-properties-order:
              - project_id
              - name
              - description
              - environment_variables
              - secret_environment_variables
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"environment_variables\": {\n        \"<environment_variableKey>\": \"string\"\n    },\n    \"name\": \"string\",\n    \"project_id\": \"string\",\n    \"secret_environment_variables\": {\n        \"<secret_environment_variableKey>\": \"string\"\n    }\n  }' \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  environment_variables:='{\n    \"<environment_variableKey>\": \"string\"\n  }' \\\n  name=\"string\" \\\n  project_id=\"string\" \\\n  secret_environment_variables:='{\n    \"<secret_environment_variableKey>\": \"string\"\n  }'"
    servers:
    - url: https://api.scaleway.com
  /containers/v1/regions/{region}/namespaces/{namespace_id}:
    get:
      tags:
      - Namespaces
      operationId: GetNamespace
      summary: Get the namespace associated with the specified ID
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Namespace'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Namespaces
      operationId: UpdateNamespace
      summary: Update the namespace associated with the specified ID
      description: Only fields present in the request are updated; others are left untouched.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        description: UUID of the namespace to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Namespace description.
                environment_variables:
                  type: object
                  description: Namespace environment variables.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                secret_environment_variables:
                  type: object
                  description: Namespace secret environment variables.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                tags:
                  type: array
                  description: A list of arbitrary tags associated with the namespace.
                  nullable: true
                  items:
                    type: string
              x-properties-order:
              - description
              - environment_variables
              - secret_environment_variables
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Namespaces
      operationId: DeleteNamespace
      summary: Delete the namespace associated with the specified ID
      description: 'It also deletes in cascade any resource inside the namespace.


        This action **cannot** be undone.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        description: UUID of the namespace to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Namespace'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/containers/v1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /functions/v1beta1/regions/{region}/namespaces:
    get:
      tags:
      - Namespaces
      operationId: ListNamespaces
      summary: List all your namespaces
      description: List all existing namespaces in the specified region.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of namespaces per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        description: Order of the namespaces.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: name
        description: Name of the namespace.
        schema:
          type: string
      - in: query
        name: organization_id
        description: UUID of the Organization the namespace belongs to.
        schema:
          type: string
      - in: query
        name: project_id
        description: UUID of the Project the namespace belongs to.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListNamespacesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Namespaces
      operationId: CreateNamespace
      summary: Create a new namespace
      description: Create a new namespace in a specified Organization or Project.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                environment_variables:
                  type: object
                  description: Environment variables of the namespace.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                project_id:
                  type: string
                  description: UUID of the project in which the namespace will be created.
                description:
                  type: string
                  description: Description of the namespace.
                  nullable: true
                secret_environment_variables:
                  type: array
                  description: Secret environment variables of the namespace.
                  items:
                    $ref: '#/components/schemas/scaleway.functions.v1beta1.Secret'
                tags:
                  type: array
                  description: Tags of the Serverless Function Namespace.
                  items:
                    type: string
                activate_vpc_integration:
                  type: boolean
                  description: '[DEPRECATED] By default, as of 2025/08/20, all namespaces are now compatible with VPC.

                    Setting this field to true doesn''t matter anymore. It will be removed in a near future.'
                  deprecated: true
              x-properties-order:
              - name
              - environment_variables
              - project_id
              - description
              - secret_environment_variables
              - tags
              - activate_vpc_integration
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"activate_vpc_integration\": false,\n    \"name\": \"string\",\n    \"project_id\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  activate_vpc_integration:=false \\\n  name=\"string\" \\\n  project_id=\"string\""
    servers:
    - url: https://api.scaleway.com
  /functions/v1beta1/regions/{region}/namespaces/{namespace_id}:
    get:
      tags:
      - Namespaces
      operationId: GetNamespace
      summary: Get a namespace
      description: Get the namespace associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        description: UUID of the namespace.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Namespace'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Namespaces
      operationId: UpdateNamespace
      summary: Update an existing namespace
      description: Update the namespace associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        description: UUID of the namespapce.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Namespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment_variables:
                  type: object
                  description: Environment variables of the namespace.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                description:
                  type: string
                  description: Description of the namespace.
                  nullable: true
                secret_environment_variables:
                  type: array
                  description: Secret environment variables of the namespace.
                  items:
                    $ref: '#/components/schemas/scaleway.functions.v1beta1.Secret'
                tags:
                  type: array
                  description: Tags of the Serverless Function Namespace.
                  nullable: true
                  items:
                    type: string
              x-properties-order:
              - environment_variables
              - description
              - secret_environment_variables
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Namespaces
      operationId: DeleteNamespace
      summary: Delete an existing namespace
      description: Delete the namespace associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: namespace_id
        description: UUID of the namespace.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Namespace'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/functions/v1beta1/regions/{region}/namespaces/{namespace_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
components:
  schemas:
    scaleway.containers.v1.ListNamespacesResponse:
      type: object
      properties:
        namespaces:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.containers.v1.Namespace'
        total_count:
          type: integer
          format: uint64
      x-properties-order:
      - namespaces
      - total_count
    scaleway.containers.v1.ListNamespacesRequest.OrderBy:
      type: string
      enum:
      - created_at_asc
      - created_at_desc
      - name_asc
      - name_desc
      default: created_at_asc
    scaleway.containers.v1.Namespace:
      type: object
      properties:
        id:
          type: string
          description: Namespace unique ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
          description: Namespace name.
        organization_id:
          type: string
          description: Unique ID of the Organization the namespace belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        project_id:
          type: string
          description: Unique ID of the Project the namespace belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        description:
          type: string
          description: Namespace description.
        status:
          type: string
          description: Namespace status.
          enum:
          - unknown_status
          - updating
          - deleting
          - locking
          - ready
          - error
          - locked
          - creating
          - upgrading
          x-enum-descriptions:
            values:
              unknown_status: Unknown status
              updating: Updating status. Resource is being redeployed to match the desired configuration
              deleting: Deleting status
              locking: Locking status
              ready: Ready status
              error: Error status
              locked: Locked status. Resource cannot be modified
              creating: Creating status. Resource is being created
              upgrading: Upgrading status. Resource is being upgraded as part of a planned maintenance. No downtime is expected
          default: unknown_status
        error_message:
          type: string
          description: Namespace last error message.
        environment_variables:
          type: object
          description: Namespace environment variables.
          properties:
            <environment_variableKey>:
              type: string
              description: Namespace environment variables.
          additionalProperties: true
        secret_environment_variables:
          type: object
          description: Namespace secret environment variables.
          properties:
            <secret_environment_variableKey>:
              type: string
              description: Namespace secret environment variables.
          additionalProperties: true
        tags:
          type: array
          description: A list of arbitrary tags associated with the namespace.
          items:
            type: string
        created_at:
          type: string
          description: Namespace creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Namespace last update date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        region:
          type: string
          description: Region in which the namespace will be created.
      x-properties-order:
      - id
      - name
      - organization_id
      - project_id
      - description
      - status
      - error_message
      - environment_variables
      - secret_environment_variables
      - tags
      - created_at
      - updated_at
      - region
    scaleway.functions.v1beta1.SecretHashedValue:
      type: object
      properties:
        key:
          type: string
        hashed_value:
          type: string
      x-properties-order:
      - key
      - hashed_value
    google.protobuf.StringValue:
      type: string
      nullable: true
    scaleway.functions.v1beta1.ListNamespacesResponse:
      type: object
      properties:
        namespaces:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Namespace'
        total_count:
          type: integer
          description: Total number of namespaces.
          format: uint32
      x-properties-order:
      - namespaces
      - total_count
    scaleway.functions.v1beta1.Namespace:
      type: object
      properties:
        id:
          type: string
          description: UUID of the namespace.
        name:
          type: string
          description: Name of the namespace.
        environment_variables:
          type: object
          description: Environment variables of the namespace.
          properties:
            <environment_variableKey>:
              type: string
              description: Environment variables of the namespace.
          additionalProperties: true
        organization_id:
          type: string
          description: UUID of the Organization the namespace belongs to.
        project_id:
          type: string
          description: UUID of the Project the namespace belongs to.
        status:
          type: string
          description: Status of the namespace.
          enum:
          - unknown
          - ready
          - deleting
          - error
          - locked
          - creating
          - pending
          default: unknown
        registry_namespace_id:
          type: string
          description: UUID of the registry namespace.
        error_message:
          type: string
          description: Error message if the namespace is in "error" state.
          nullable: true
        registry_endpoint:
          type: string
          description: Registry endpoint of the namespace.
        description:
          type: string
          description: Description of the namespace.
          nullable: true
        secret_environment_variables:
          type: array
          description: Secret environment variables of the namespace.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.SecretHashedValue'
        region:
          type: string
          description: Region in which the namespace is located.
        tags:
          type: array
          description: List of tags applied to the Serverless Function Namespace.
          items:
            type: string
        created_at:
          type: string
          description: Creation date of the namespace. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Last update date of the namespace. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        vpc_integration_activated:
          type: boolean
          description: '[DEPRECATED] By default, as of 2025/08/20, all namespaces are now compatible with VPC.

            The value of this field doesn''t matter anymore, and will be removed in a near future.'
          deprecated: true
      x-properties-order:
      - id
      - name
      - environment_variables
      - organization_id
      - project_id
      - status
      - registry_namespace_id
      - error_message
      - registry_endpoint
      - description
      - secret_environment_variables
      - region
      - tags
      - created_at
      - updated_at
      - vpc_integration_activated
    scaleway.functions.v1beta1.Secret:
      type: object
      properties:
        key:
          type: string
        value:
          $ref: '#/components/schemas/google.protobuf.StringValue'
      x-properties-order:
      - key
      - value
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
x-refined-from:
- scaleway-serverless-containers-openapi.yml
- scaleway-serverless-functions-openapi.yml
