openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Instance Settings…
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Instance Settings
  description: Advanced Database Instance settings allow you to tune the behavior of your database engines to better fit your needs.
paths:
  /rdb/v1/regions/{region}/instances/{instance_id}/settings:
    post:
      tags:
      - Instance Settings
      operationId: AddInstanceSettings
      summary: Add Database Instance advanced settings
      description: Add an advanced setting to a Database Instance. You must set the `name` and the `value` of each setting.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance you want to add settings to.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.AddInstanceSettingsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  description: Settings to add to the Database Instance.
                  items:
                    $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
              required:
              - settings
              x-properties-order:
              - settings
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"settings\":[\"\"]}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  settings:='[\"\"]'"
    put:
      tags:
      - Instance Settings
      operationId: SetInstanceSettings
      summary: Set Database Instance advanced settings
      description: Update an advanced setting for a Database Instance. Settings added upon database engine initialization can only be defined once, and cannot, therefore, be updated.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance where the settings must be set.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.SetInstanceSettingsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  description: Settings to define for the Database Instance.
                  items:
                    $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
              required:
              - settings
              x-properties-order:
              - settings
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"settings\":[\"\"]}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  settings:='[\"\"]'"
    delete:
      tags:
      - Instance Settings
      operationId: DeleteInstanceSettings
      summary: Delete Database Instance advanced settings
      description: Delete an advanced setting in a Database Instance. You must specify the names of the settings you want to delete in the request.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance to delete settings from.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.DeleteInstanceSettingsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                setting_names:
                  type: array
                  description: Settings names to delete.
                  items:
                    type: string
              required:
              - setting_names
              x-properties-order:
              - setting_names
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"setting_names\":[\"string\"]}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  setting_names:='[\"string\"]'"
components:
  schemas:
    scaleway.rdb.v1.SetInstanceSettingsResponse:
      type: object
      properties:
        settings:
          type: array
          description: Settings configured for a Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
      x-properties-order:
      - settings
    scaleway.rdb.v1.AddInstanceSettingsResponse:
      type: object
      properties:
        settings:
          type: array
          description: Settings available on the Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
      x-properties-order:
      - settings
    scaleway.rdb.v1.DeleteInstanceSettingsResponse:
      type: object
      properties:
        settings:
          type: array
          description: Settings names to delete from the Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
      x-properties-order:
      - settings
    scaleway.rdb.v1.InstanceSetting:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      x-properties-order:
      - name
      - value
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
