openapi: 3.2.0
info:
  title: Instance Volume Types API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Volume Types
  description: 'All volume types available in a specified zone.

    Each of these types will contains all the capabilities and constraints of the volume (min size, max size, snapshot).'
paths:
  /instance/v1/zones/{zone}/products/volumes:
    get:
      tags:
      - Volume Types
      operationId: ListVolumesTypes
      summary: List volume types
      description: List all volume types and their technical details.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: per_page
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListVolumesTypesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/products/volumes\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/products/volumes\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.instance.v1.VolumeType.Constraints:
      type: object
      properties:
        min:
          type: integer
          description: (in bytes)
          format: uint64
        max:
          type: integer
          description: (in bytes)
          format: uint64
      x-properties-order:
      - min
      - max
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.instance.v1.VolumeType.Capabilities:
      type: object
      properties:
        snapshot:
          type: boolean
      x-properties-order:
      - snapshot
    scaleway.instance.v1.ListVolumesTypesResponse:
      type: object
      properties:
        volumes:
          type: object
          description: Map of volume types.
          properties:
            <volumeKey>:
              type: object
              description: Map of volume types.
              properties:
                display_name:
                  type: string
                capabilities:
                  $ref: '#/components/schemas/scaleway.instance.v1.VolumeType.Capabilities'
                constraints:
                  $ref: '#/components/schemas/scaleway.instance.v1.VolumeType.Constraints'
              x-properties-order:
              - display_name
              - capabilities
              - constraints
          additionalProperties: true
      x-properties-order:
      - volumes
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
