openapi: 3.2.0
info:
  title: Transactional Email Statistics API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Statistics
  description: This section gives you information about your emails' statuses.
paths:
  /transactional-email/v1alpha1/regions/{region}/statistics:
    get:
      tags:
      - Statistics
      operationId: GetStatistics
      summary: Email statuses
      description: Get information on your emails' statuses.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: project_id
        description: (Optional) Number of emails for this Project. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: domain_id
        description: (Optional) Number of emails sent from this domain (must be coherent with the `project_id` and the `organization_id`). (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: since
        description: (Optional) Number of emails created after this date. (RFC 3339 format)
        schema:
          type: string
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
      - in: query
        name: until
        description: (Optional) Number of emails created before this date. (RFC 3339 format)
        schema:
          type: string
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
      - in: query
        name: mail_from
        description: (Optional) Number of emails sent with this sender's email address.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Statistics'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/statistics\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/statistics\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.Statistics:
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of emails matching the requested criteria.
          format: uint32
        new_count:
          type: integer
          description: Number of emails still in the `new` transient state. This means emails received from the API but not yet processed.
          format: uint32
        sending_count:
          type: integer
          description: Number of emails still in the `sending` transient state. This means emails received from the API but not yet in their final status.
          format: uint32
        sent_count:
          type: integer
          description: Number of emails in the final `sent` state. This means emails that have been delivered to the target mail system.
          format: uint32
        failed_count:
          type: integer
          description: Number of emails in the final `failed` state. This means emails that have been refused by the target mail system with a final error status.
          format: uint32
        canceled_count:
          type: integer
          description: Number of emails in the final `canceled` state. This means emails that have been canceled upon request.
          format: uint32
      x-properties-order:
      - total_count
      - new_count
      - sending_count
      - sent_count
      - failed_count
      - canceled_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
