openapi: 3.2.0
info:
  title: Instance Private NICs API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Private NICs
  description: 'A Private NIC is the network interface that connects an Instance to a

    Private Network. An Instance can have multiple private NICs at the same

    time, but each NIC must belong to a different Private Network.'
paths:
  /instance/v1/zones/{zone}/servers/{server_id}/private_nics:
    get:
      tags:
      - Private NICs
      operationId: ListPrivateNICs
      summary: List all private NICs
      description: List all private NICs of a specified Instance.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: Instance to which the private NIC is attached.
        required: true
        schema:
          type: string
      - in: query
        name: tags
        description: Private NIC tags.
        schema:
          type: string
      - in: query
        name: per_page
        description: A positive integer lower or equal to 100 to select the number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: A positive integer to choose the page to return.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListPrivateNICsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Private NICs
      operationId: CreatePrivateNIC
      summary: Create a private NIC connecting an Instance to a Private Network
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance the private NIC will be attached to.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.CreatePrivateNICResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_network_id:
                  type: string
                  description: UUID of the private network where the private NIC will be attached.
                tags:
                  type: array
                  description: Private NIC tags.
                  items:
                    type: string
                ipam_ip_ids:
                  type: array
                  description: UUID of IPAM ips, to be attached to the instance in the requested private network. (UUID format)
                  example:
                  - 6170692e-7363-616c-6577-61792e636f6d
                  items:
                    type: string
              required:
              - private_network_id
              x-properties-order:
              - private_network_id
              - tags
              - ipam_ip_ids
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"private_network_id\":\"string\"}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  private_network_id=\"string\""
  /instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}:
    get:
      tags:
      - Private NICs
      operationId: GetPrivateNIC
      summary: Get a private NIC
      description: Get private NIC properties.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: Instance to which the private NIC is attached.
        required: true
        schema:
          type: string
      - in: path
        name: private_nic_id
        description: Private NIC unique ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetPrivateNICResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Private NICs
      operationId: UpdatePrivateNIC
      summary: Update a private NIC
      description: Update one or more parameter(s) of a specified private NIC.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance the private NIC will be attached to.
        required: true
        schema:
          type: string
      - in: path
        name: private_nic_id
        description: Private NIC unique ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.PrivateNIC'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  description: Tags used to select private NIC/s.
                  nullable: true
                  items:
                    type: string
              x-properties-order:
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Private NICs
      operationId: DeletePrivateNIC
      summary: Delete a private NIC
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: Instance to which the private NIC is attached.
        required: true
        schema:
          type: string
      - in: path
        name: private_nic_id
        description: Private NIC unique ID.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/private_nics/{private_nic_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.instance.v1.GetPrivateNICResponse:
      type: object
      properties:
        private_nic:
          $ref: '#/components/schemas/scaleway.instance.v1.PrivateNIC'
      x-properties-order:
      - private_nic
    scaleway.instance.v1.CreatePrivateNICResponse:
      type: object
      properties:
        private_nic:
          $ref: '#/components/schemas/scaleway.instance.v1.PrivateNIC'
      x-properties-order:
      - private_nic
    scaleway.instance.v1.ListPrivateNICsResponse:
      type: object
      properties:
        private_nics:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.PrivateNIC'
        total_count:
          type: integer
          format: uint64
      x-properties-order:
      - private_nics
      - total_count
    scaleway.instance.v1.PrivateNIC:
      type: object
      properties:
        id:
          type: string
          description: Private NIC unique ID.
        server_id:
          type: string
          description: Instance to which the private NIC is attached.
        private_network_id:
          type: string
          description: Private Network the private NIC is attached to.
        mac_address:
          type: string
          description: Private NIC MAC address.
        state:
          type: string
          description: Private NIC state.
          enum:
          - available
          - syncing
          - syncing_error
          default: available
        tags:
          type: array
          description: Private NIC tags.
          items:
            type: string
        creation_date:
          type: string
          description: Private NIC creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        zone:
          type: string
          description: The zone in which the Private NIC is located.
      x-properties-order:
      - id
      - server_id
      - private_network_id
      - mac_address
      - state
      - tags
      - creation_date
      - zone
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
