openapi: 3.2.0
info:
  title: IAM Quotas API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Quotas
  description: Every Scaleway Organization detains a certain number of resource quotas, which are limits on the number of Scaleway resources these Organizations can use.
paths:
  /iam/v1alpha1/quota:
    get:
      tags:
      - Quotas
      operationId: ListQuota
      summary: List all quotas in the Organization
      description: List all product and features quota for an Organization, with their associated limits. By default, the quota listed are ordered by creation date in ascending order. This can be modified via the `order_by` field. You must define the `organization_id` in the query path of your request.
      parameters:
      - in: query
        name: order_by
        description: Criteria for sorting results.
        schema:
          type: string
          enum:
          - name_asc
          - name_desc
          x-enum-descriptions:
            values:
              name_asc: Name ascending
              name_desc: Name descending
          default: name_asc
      - in: query
        name: page_size
        description: Number of results per page. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: Page number. Value must be greater than 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: organization_id
        description: Filter by Organization ID.
        required: true
        schema:
          type: string
      - in: query
        name: quotum_names
        description: List of quotum names to filter from.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListQuotaResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/quota?organization_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/quota\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id==string"
  /iam/v1alpha1/quota/{quotum_name}:
    get:
      tags:
      - Quotas
      operationId: GetQuotum
      summary: Get a quota in the Organization
      description: Retrieve information about a resource quota, specified by the `quotum_name` parameter. The quota's `limit`, or whether it is unlimited, is returned in the response.
      parameters:
      - in: path
        name: quotum_name
        description: Name of the quota to get.
        required: true
        schema:
          type: string
      - in: query
        name: organization_id
        description: ID of the Organization.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.Quotum'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/quota/{quotum_name}?organization_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/quota/{quotum_name}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id==string"
components:
  schemas:
    scaleway.iam.v1alpha1.Quotum:
      type: object
      properties:
        name:
          type: string
          description: Name of the quota.
        limit:
          type: integer
          description: Maximum limit of the quota.
          deprecated: true
          format: uint64
          nullable: true
          x-one-of: value
        unlimited:
          type: boolean
          description: Defines whether or not the quota is unlimited.
          deprecated: true
          nullable: true
          x-one-of: value
        pretty_name:
          type: string
          description: A human-readable name for the quota.
        unit:
          type: string
          description: The unit in which the quota is expressed.
        description:
          type: string
          description: Details about the quota.
        locality_type:
          type: string
          description: Whether this quotum is applied on at the zone level, region level, or globally.
          enum:
          - global
          - region
          - zone
          default: global
        limits:
          type: array
          description: Limits per locality.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.Quotum.Limit'
      x-properties-order:
      - name
      - limit
      - unlimited
      - pretty_name
      - unit
      - description
      - locality_type
      - limits
    scaleway.iam.v1alpha1.ListQuotaResponse:
      type: object
      properties:
        quota:
          type: array
          description: List of quota.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.Quotum'
        total_count:
          type: integer
          description: Total count of quota.
          format: uint64
      x-properties-order:
      - quota
      - total_count
    scaleway.iam.v1alpha1.Quotum.Limit:
      type: object
      properties:
        global:
          type: boolean
          description: Whether or not the limit is applied globally.
          nullable: true
          x-one-of: locality
        region:
          type: string
          description: The region on which the limit is applied.
          nullable: true
          x-one-of: locality
        zone:
          type: string
          description: The zone on which the limit is applied.
          nullable: true
          x-one-of: locality
        limit:
          type: integer
          description: Maximum locality limit.
          format: uint64
          nullable: true
          x-one-of: value
        unlimited:
          type: boolean
          description: Whether or not the quota per locality is unlimited.
          nullable: true
          x-one-of: value
      x-properties-order:
      - global
      - region
      - zone
      - limit
      - unlimited
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
