openapi: 3.2.0
info:
  title: Instance User Data API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: User Data
  description: User data is a key/value store you can use to provide your instance with introspective data.
paths:
  /instance/v1/zones/{zone}/servers/{server_id}/user_data:
    get:
      tags:
      - User Data
      operationId: ListServerUserData
      summary: List user data
      description: List all user data keys registered on a specified Instance.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListServerUserDataResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}:
    get:
      tags:
      - User Data
      operationId: GetServerUserData
      summary: Get user data
      description: Get the content of a user data with the specified key on an Instance.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance.
        required: true
        schema:
          type: string
      - in: path
        name: key
        description: Key of the user data to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.std.File'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - User Data
      operationId: SetServerUserData
      summary: Add/set user data
      description: Add or update a user data with the specified key on an Instance.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance.
        required: true
        schema:
          type: string
      - in: path
        name: key
        description: Key of the user data to set.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      requestBody:
        required: true
        content:
          '*/*':
            schema:
              type: string
              format: binary
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - User Data
      operationId: DeleteServerUserData
      summary: Delete user data
      description: Delete the specified key from an Instance's user data.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: server_id
        description: UUID of the Instance.
        required: true
        schema:
          type: string
      - in: path
        name: key
        description: Key of the user data to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/instance/v1/zones/{zone}/servers/{server_id}/user_data/{key}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.instance.v1.ListServerUserDataResponse:
      type: object
      properties:
        user_data:
          type: array
          items:
            type: string
      x-properties-order:
      - user_data
    scaleway.std.File:
      type: object
      properties:
        name:
          type: string
        content_type:
          type: string
        content:
          type: string
      x-properties-order:
      - name
      - content_type
      - content
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
