openapi: 3.2.0
info:
  title: Instance Security Groups API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Security Groups
  description: 'A security group is a set of firewall rules on a set of Instances.

    Security groups enable you to create rules that either drop or allow incoming traffic from certain ports of your Instances.


    Security groups are stateful by default which means return traffic is automatically allowed, regardless of any rules.

    As a contrary, you have to switch in a stateless mode to define explicitly allowed.'
paths:
  /instance/v1/zones/{zone}/security_groups:
    get:
      tags:
      - Security Groups
      operationId: ListSecurityGroups
      summary: List security groups
      description: List all existing security groups.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: name
        description: Name of the security group.
        schema:
          type: string
      - in: query
        name: organization
        description: Security group Organization ID.
        schema:
          type: string
      - in: query
        name: project
        description: Security group Project ID.
        schema:
          type: string
      - in: query
        name: tags
        description: List security groups with these exact tags (to filter with several tags, use commas to separate them).
        schema:
          type: string
      - in: query
        name: project_default
        description: Filter security groups with this value for project_default.
        schema:
          type: boolean
      - in: query
        name: per_page
        description: A positive integer lower or equal to 100 to select the number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: A positive integer to choose the page to return.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListSecurityGroupsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Security Groups
      operationId: CreateSecurityGroup
      summary: Create a security group
      description: Create a security group with a specified name and description.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.CreateSecurityGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the security group.
                description:
                  type: string
                  description: Description of the security group.
                organization:
                  type: string
                  description: Organization ID the security group belongs to.
                  deprecated: true
                  nullable: true
                  x-one-of: ProjectIdentifier
                project:
                  type: string
                  description: Project ID the security group belong to.
                  nullable: true
                  x-one-of: ProjectIdentifier
                tags:
                  type: array
                  description: Tags of the security group.
                  items:
                    type: string
                organization_default:
                  type: boolean
                  description: Defines whether this security group becomes the default security group for new Instances.
                  deprecated: true
                  nullable: true
                  x-one-of: DefaultIdentifier
                project_default:
                  type: boolean
                  description: Whether this security group becomes the default security group for new Instances.
                  nullable: true
                  x-one-of: DefaultIdentifier
                stateful:
                  type: boolean
                  description: Whether the security group is stateful or not.
                inbound_default_policy:
                  type: string
                  description: Default policy for inbound rules.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                outbound_default_policy:
                  type: string
                  description: Default policy for outbound rules.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                enable_default_security:
                  type: boolean
                  description: True to block SMTP on IPv4 and IPv6. This feature is read only, please open a support ticket if you need to make it configurable.
                  nullable: true
              required:
              - name
              x-properties-order:
              - name
              - description
              - organization
              - project
              - tags
              - organization_default
              - project_default
              - stateful
              - inbound_default_policy
              - outbound_default_policy
              - enable_default_security
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"description\": \"string\",\n    \"name\": \"string\",\n    \"stateful\": false\n  }' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  description=\"string\" \\\n  name=\"string\" \\\n  stateful:=false"
  /instance/v1/zones/{zone}/security_groups/{id}:
    put:
      tags:
      - Security Groups
      operationId: SetSecurityGroup
      summary: Update a security group
      description: Replace all security group properties with a security group message.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: id
        description: UUID of the security group.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.SetSecurityGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the security group.
                tags:
                  type: array
                  description: Tags of the security group.
                  nullable: true
                  items:
                    type: string
                creation_date:
                  type: string
                  description: Creation date of the security group (will be ignored). (RFC 3339 format)
                  format: date-time
                  example: '2022-03-22T12:34:56.123456Z'
                  nullable: true
                modification_date:
                  type: string
                  description: Modification date of the security group (will be ignored). (RFC 3339 format)
                  format: date-time
                  example: '2022-03-22T12:34:56.123456Z'
                  nullable: true
                description:
                  type: string
                  description: Description of the security group.
                enable_default_security:
                  type: boolean
                  description: True to block SMTP on IPv4 and IPv6. This feature is read only, please open a support ticket if you need to make it configurable.
                inbound_default_policy:
                  type: string
                  description: Default inbound policy.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                outbound_default_policy:
                  type: string
                  description: Default outbound policy.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                organization:
                  type: string
                  description: Security groups Organization ID.
                project:
                  type: string
                  description: Security group Project ID.
                organization_default:
                  type: boolean
                  description: Please use project_default instead.
                  deprecated: true
                project_default:
                  type: boolean
                  description: True use this security group for future Instances created in this project.
                servers:
                  type: array
                  description: Instances attached to this security group.
                  items:
                    $ref: '#/components/schemas/scaleway.instance.v1.ServerSummary'
                stateful:
                  type: boolean
                  description: True to set the security group as stateful.
              x-properties-order:
              - name
              - tags
              - creation_date
              - modification_date
              - description
              - enable_default_security
              - inbound_default_policy
              - outbound_default_policy
              - organization
              - project
              - organization_default
              - project_default
              - servers
              - stateful
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"description\": \"string\",\n    \"enable_default_security\": false,\n    \"name\": \"string\",\n    \"organization\": \"string\",\n    \"organization_default\": false,\n    \"project\": \"string\",\n    \"project_default\": false,\n    \"stateful\": false\n  }' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{id}\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  description=\"string\" \\\n  enable_default_security:=false \\\n  name=\"string\" \\\n  organization=\"string\" \\\n  organization_default:=false \\\n  project=\"string\" \\\n  project_default:=false \\\n  stateful:=false"
  /instance/v1/zones/{zone}/security_groups/{security_group_id}:
    get:
      tags:
      - Security Groups
      operationId: GetSecurityGroup
      summary: Get a security group
      description: Get the details of a security group with the specified ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group you want to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetSecurityGroupResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Security Groups
      operationId: UpdateSecurityGroup
      summary: Update a security group
      description: Update the properties of security group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.UpdateSecurityGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the security group.
                  nullable: true
                description:
                  type: string
                  description: Description of the security group.
                  nullable: true
                enable_default_security:
                  type: boolean
                  description: True to block SMTP on IPv4 and IPv6. This feature is read only, please open a support ticket if you need to make it configurable.
                  nullable: true
                inbound_default_policy:
                  type: string
                  description: Default inbound policy.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                tags:
                  type: array
                  description: Tags of the security group.
                  nullable: true
                  items:
                    type: string
                organization_default:
                  type: boolean
                  description: Please use project_default instead.
                  deprecated: true
                  nullable: true
                project_default:
                  type: boolean
                  description: True use this security group for future Instances created in this project.
                  nullable: true
                outbound_default_policy:
                  type: string
                  description: Default outbound policy.
                  enum:
                  - unknown_policy
                  - accept
                  - drop
                  default: unknown_policy
                stateful:
                  type: boolean
                  description: True to set the security group as stateful.
                  nullable: true
              x-properties-order:
              - name
              - description
              - enable_default_security
              - inbound_default_policy
              - tags
              - organization_default
              - project_default
              - outbound_default_policy
              - stateful
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Security Groups
      operationId: DeleteSecurityGroup
      summary: Delete a security group
      description: Delete a security group with the specified ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group you want to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/security_groups/{security_group_id}/rules:
    get:
      tags:
      - Security Groups
      operationId: ListSecurityGroupRules
      summary: List rules
      description: List the rules of the a specified security group ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group.
        required: true
        schema:
          type: string
      - in: query
        name: per_page
        description: A positive integer lower or equal to 100 to select the number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: A positive integer to choose the page to return.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListSecurityGroupRulesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Security Groups
      operationId: CreateSecurityGroupRule
      summary: Create rule
      description: Create a rule in the specified security group ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.CreateSecurityGroupRuleResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                protocol:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Protocol'
                direction:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Direction'
                action:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Action'
                ip_range:
                  type: string
                  description: (IP network)
                  example: 1.2.3.4/32
                dest_port_from:
                  type: integer
                  description: Beginning of the range of ports to apply this rule to (inclusive).
                  format: uint32
                  nullable: true
                dest_port_to:
                  type: integer
                  description: End of the range of ports to apply this rule to (inclusive).
                  format: uint32
                  nullable: true
                position:
                  type: integer
                  description: Position of this rule in the security group rules list.
                  format: uint32
                editable:
                  type: boolean
                  description: Indicates if this rule is editable (will be ignored).
              required:
              - protocol
              - direction
              - action
              - ip_range
              x-properties-order:
              - protocol
              - direction
              - action
              - ip_range
              - dest_port_from
              - dest_port_to
              - position
              - editable
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"action\": \"unknown_action\",\n    \"direction\": \"unknown_direction\",\n    \"editable\": false,\n    \"ip_range\": \"1.2.3.4/32\",\n    \"position\": 42,\n    \"protocol\": \"unknown_protocol\"\n  }' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  action=\"unknown_action\" \\\n  direction=\"unknown_direction\" \\\n  editable:=false \\\n  ip_range=\"1.2.3.4/32\" \\\n  position:=42 \\\n  protocol=\"unknown_protocol\""
    put:
      tags:
      - Security Groups
      operationId: SetSecurityGroupRules
      summary: Update all the rules of a security group
      description: Replaces the existing rules of the security group with the rules provided. This endpoint supports the update of existing rules, creation of new rules and deletion of existing rules when they are not passed in the request.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group to update the rules on.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.SetSecurityGroupRulesResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  description: List of rules to update in the security group.
                  items:
                    $ref: '#/components/schemas/scaleway.instance.v1.SetSecurityGroupRulesRequest.Rule'
              x-properties-order:
              - rules
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}:
    get:
      tags:
      - Security Groups
      operationId: GetSecurityGroupRule
      summary: Get rule
      description: Get details of a security group rule with the specified ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        required: true
        schema:
          type: string
      - in: path
        name: security_group_rule_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetSecurityGroupRuleResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Security Groups
      operationId: SetSecurityGroupRule
      summary: Set security group rule
      description: Replace all the properties of a rule from a specified security group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        required: true
        schema:
          type: string
      - in: path
        name: security_group_rule_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.SetSecurityGroupRuleResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                protocol:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Protocol'
                direction:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Direction'
                action:
                  $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Action'
                ip_range:
                  type: string
                  description: (IP network)
                  example: 1.2.3.4/32
                dest_port_from:
                  $ref: '#/components/schemas/google.protobuf.UInt32Value'
                dest_port_to:
                  $ref: '#/components/schemas/google.protobuf.UInt32Value'
                position:
                  type: integer
                  format: uint32
                editable:
                  type: boolean
              x-properties-order:
              - id
              - protocol
              - direction
              - action
              - ip_range
              - dest_port_from
              - dest_port_to
              - position
              - editable
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"editable\": false,\n    \"id\": \"string\",\n    \"ip_range\": \"1.2.3.4/32\",\n    \"position\": 42\n  }' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  editable:=false \\\n  id=\"string\" \\\n  ip_range=\"1.2.3.4/32\" \\\n  position:=42"
    patch:
      tags:
      - Security Groups
      operationId: UpdateSecurityGroupRule
      summary: Update security group rule
      description: Update the properties of a rule from a specified security group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        description: UUID of the security group. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: path
        name: security_group_rule_id
        description: UUID of the rule. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.UpdateSecurityGroupRuleResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                protocol:
                  type: string
                  description: Protocol family this rule applies to.
                  enum:
                  - unknown_protocol
                  - TCP
                  - UDP
                  - ICMP
                  - ANY
                  default: unknown_protocol
                direction:
                  type: string
                  description: Direction the rule applies to.
                  enum:
                  - unknown_direction
                  - inbound
                  - outbound
                  default: unknown_direction
                action:
                  type: string
                  description: Action to apply when the rule matches a packet.
                  enum:
                  - unknown_action
                  - accept
                  - drop
                  default: unknown_action
                ip_range:
                  type: string
                  description: Range of IP addresses these rules apply to. (IP network)
                  example: 1.2.3.4/32
                  nullable: true
                dest_port_from:
                  type: integer
                  description: Beginning of the range of ports this rule applies to (inclusive). If 0 is provided, unset the parameter.
                  format: uint32
                  nullable: true
                dest_port_to:
                  type: integer
                  description: End of the range of ports this rule applies to (inclusive). If 0 is provided, unset the parameter.
                  format: uint32
                  nullable: true
                position:
                  type: integer
                  description: Position of this rule in the security group rules list.
                  format: uint32
                  nullable: true
              x-properties-order:
              - protocol
              - direction
              - action
              - ip_range
              - dest_port_from
              - dest_port_to
              - position
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Security Groups
      operationId: DeleteSecurityGroupRule
      summary: Delete rule
      description: Delete a security group rule with the specified ID.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: security_group_id
        required: true
        schema:
          type: string
      - in: path
        name: security_group_rule_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/{security_group_id}/rules/{security_group_rule_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/security_groups/default/rules:
    get:
      tags:
      - Security Groups
      operationId: ListDefaultSecurityGroupRules
      summary: Get default rules
      description: Lists the default rules applied to all the security groups.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListSecurityGroupRulesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/default/rules\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/security_groups/default/rules\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.instance.v1.SetSecurityGroupResponse:
      type: object
      properties:
        security_group:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroup'
      x-properties-order:
      - security_group
    scaleway.instance.v1.SecurityGroupRule.Action:
      type: string
      enum:
      - unknown_action
      - accept
      - drop
      default: unknown_action
    scaleway.instance.v1.SetSecurityGroupRulesRequest.Rule:
      type: object
      properties:
        id:
          type: string
          description: UUID of the security rule to update. If no value is provided, a new rule will be created.
          nullable: true
        action:
          type: string
          description: Action to apply when the rule matches a packet.
          enum:
          - unknown_action
          - accept
          - drop
          default: unknown_action
        protocol:
          type: string
          description: Protocol family this rule applies to.
          enum:
          - unknown_protocol
          - TCP
          - UDP
          - ICMP
          - ANY
          default: unknown_protocol
        direction:
          type: string
          description: Direction the rule applies to.
          enum:
          - unknown_direction
          - inbound
          - outbound
          default: unknown_direction
        ip_range:
          type: string
          description: Range of IP addresses these rules apply to. (IP network)
          example: 1.2.3.4/32
        dest_port_from:
          type: integer
          description: Beginning of the range of ports this rule applies to (inclusive). This value will be set to null if protocol is ICMP or ANY.
          format: uint32
          nullable: true
        dest_port_to:
          type: integer
          description: End of the range of ports this rule applies to (inclusive). This value will be set to null if protocol is ICMP or ANY, or if it is equal to dest_port_from.
          format: uint32
          nullable: true
        position:
          type: integer
          description: Position of this rule in the security group rules list. If several rules are passed with the same position, the resulting order is undefined.
          format: uint32
        editable:
          type: boolean
          description: Indicates if this rule is editable. Rules with the value false will be ignored.
          nullable: true
        zone:
          type: string
          description: Zone of the rule. This field is ignored.
      x-properties-order:
      - id
      - action
      - protocol
      - direction
      - ip_range
      - dest_port_from
      - dest_port_to
      - position
      - editable
      - zone
    scaleway.instance.v1.SetSecurityGroupRulesResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rules
    scaleway.instance.v1.UpdateSecurityGroupRuleResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rule
    scaleway.instance.v1.UpdateSecurityGroupResponse:
      type: object
      properties:
        security_group:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroup'
      x-properties-order:
      - security_group
    scaleway.instance.v1.SecurityGroupRule.Protocol:
      type: string
      enum:
      - unknown_protocol
      - TCP
      - UDP
      - ICMP
      - ANY
      default: unknown_protocol
    scaleway.instance.v1.ListSecurityGroupRulesResponse:
      type: object
      properties:
        rules:
          type: array
          description: List of security rules.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rules
    scaleway.instance.v1.ListSecurityGroupsResponse:
      type: object
      properties:
        security_groups:
          type: array
          description: List of security groups.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroup'
      x-properties-order:
      - security_groups
    scaleway.instance.v1.CreateSecurityGroupRuleResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rule
    scaleway.instance.v1.GetSecurityGroupResponse:
      type: object
      properties:
        security_group:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroup'
      x-properties-order:
      - security_group
    scaleway.instance.v1.SecurityGroupRule:
      type: object
      properties:
        id:
          type: string
        protocol:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Protocol'
        direction:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Direction'
        action:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule.Action'
        ip_range:
          type: string
          description: (IP network)
          example: 1.2.3.4/32
        dest_port_from:
          $ref: '#/components/schemas/google.protobuf.UInt32Value'
        dest_port_to:
          $ref: '#/components/schemas/google.protobuf.UInt32Value'
        position:
          type: integer
          format: uint32
        editable:
          type: boolean
        zone:
          type: string
          description: The zone you want to target
      x-properties-order:
      - id
      - protocol
      - direction
      - action
      - ip_range
      - dest_port_from
      - dest_port_to
      - position
      - editable
      - zone
    scaleway.instance.v1.CreateSecurityGroupResponse:
      type: object
      properties:
        security_group:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroup'
      x-properties-order:
      - security_group
    scaleway.instance.v1.SecurityGroupRule.Direction:
      type: string
      enum:
      - unknown_direction
      - inbound
      - outbound
      default: unknown_direction
    scaleway.instance.v1.ServerSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      x-properties-order:
      - id
      - name
    scaleway.instance.v1.SetSecurityGroupRuleResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rule
    scaleway.instance.v1.SecurityGroup:
      type: object
      properties:
        id:
          type: string
          description: Security group unique ID.
        name:
          type: string
          description: Security group name.
        description:
          type: string
          description: Security group description.
        enable_default_security:
          type: boolean
          description: True if SMTP is blocked on IPv4 and IPv6. This feature is read only, please open a support ticket if you need to make it configurable.
        inbound_default_policy:
          type: string
          description: Default inbound policy.
          enum:
          - unknown_policy
          - accept
          - drop
          default: unknown_policy
        outbound_default_policy:
          type: string
          description: Default outbound policy.
          enum:
          - unknown_policy
          - accept
          - drop
          default: unknown_policy
        organization:
          type: string
          description: Security group Organization ID.
        project:
          type: string
          description: Security group Project ID.
        tags:
          type: array
          description: Security group tags.
          items:
            type: string
        organization_default:
          type: boolean
          description: True if it is your default security group for this Organization ID.
          deprecated: true
        project_default:
          type: boolean
          description: True if it is your default security group for this Project ID.
        creation_date:
          type: string
          description: Security group creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        modification_date:
          type: string
          description: Security group modification date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        servers:
          type: array
          description: List of Instances attached to this security group.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.ServerSummary'
        stateful:
          type: boolean
          description: Defines whether the security group is stateful.
        state:
          type: string
          description: Security group state.
          enum:
          - available
          - syncing
          - syncing_error
          default: available
        zone:
          type: string
          description: Zone in which the security group is located.
      x-properties-order:
      - id
      - name
      - description
      - enable_default_security
      - inbound_default_policy
      - outbound_default_policy
      - organization
      - project
      - tags
      - organization_default
      - project_default
      - creation_date
      - modification_date
      - servers
      - stateful
      - state
      - zone
    scaleway.instance.v1.GetSecurityGroupRuleResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/scaleway.instance.v1.SecurityGroupRule'
      x-properties-order:
      - rule
    google.protobuf.UInt32Value:
      type: integer
      format: uint32
      nullable: true
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
