openapi: 3.2.0
info:
  title: VPC Connectors API
  description: VPC allows you to build your own **V**irtual **P**rivate **C**loud on top of Scaleway’s shared public cloud.
  version: v2
servers:
- url: https://api.scaleway.com
tags:
- name: VPC Connectors
  description: A VPC peering connector constitutes one side of a VPC peering connection. It represents an intent to peer with another VPC. Two matching, compatible VPC connectors create a VPC peering connection.
paths:
  /vpc/v2/regions/{region}/vpc-connectors:
    get:
      tags:
      - VPC Connectors
      operationId: ListVPCConnectors
      summary: List VPC connectors
      description: List existing VPC connectors in the specified region.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: order_by
        description: Sort order of the returned VPC connectors.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - name_asc
          - name_desc
          default: created_at_asc
      - in: query
        name: page
        description: Page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of VPC connectors to return per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: name
        description: Name to filter for. Only connectors with names containing this string will be returned.
        schema:
          type: string
      - in: query
        name: tags
        description: Tags to filter for. Only connectors with one or more matching tags will be returned.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: organization_id
        description: Organization ID to filter for. Only connectors belonging to this Organization will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: project_id
        description: Project ID to filter for. Only connectors belonging to this Project will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: vpc_id
        description: VPC ID to filter for. Only connectors belonging to this VPC will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: target_vpc_id
        description: Target VPC ID to filter for. Only connectors belonging to this target VPC will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: status
        description: Status of the VPC connector.
        schema:
          type: string
          enum:
          - unknown_vpc_connector_status
          - orphan
          - peered
          - conflict
          default: unknown_vpc_connector_status
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.ListVPCConnectorsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - VPC Connectors
      operationId: CreateVPCConnector
      summary: Create a VPC connector
      description: Create a new VPC connector in the specified region.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.VPCConnector'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the VPC connector.
                tags:
                  type: array
                  description: Tags for the VPC connector.
                  items:
                    type: string
                vpc_id:
                  type: string
                  description: VPC ID to filter for. Only connectors belonging to this VPC will be returned. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                target_vpc_id:
                  type: string
                  description: Target VPC ID to filter for. Only connectors belonging to this target VPC will be returned. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
              required:
              - name
              x-properties-order:
              - name
              - tags
              - vpc_id
              - target_vpc_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"string\",\n    \"target_vpc_id\": \"6170692e-7363-616c-6577-61792e636f6d\",\n    \"vpc_id\": \"6170692e-7363-616c-6577-61792e636f6d\"\n  }' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\" \\\n  target_vpc_id=\"6170692e-7363-616c-6577-61792e636f6d\" \\\n  vpc_id=\"6170692e-7363-616c-6577-61792e636f6d\""
  /vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}:
    get:
      tags:
      - VPC Connectors
      operationId: GetVPCConnector
      summary: Get a VPC connector
      description: Retrieve details of an existing VPC connector, specified by its VPC connector ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: vpc_connector_id
        description: VPC connector ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.VPCConnector'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - VPC Connectors
      operationId: UpdateVPCConnector
      summary: Update VPC connector
      description: Update parameters including name and tags of the specified VPC connector.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: vpc_connector_id
        description: VPC connector ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.VPCConnector'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the VPC connector.
                  nullable: true
                tags:
                  type: array
                  description: Tags for the VPC connector.
                  nullable: true
                  items:
                    type: string
              x-properties-order:
              - name
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - VPC Connectors
      operationId: DeleteVPCConnector
      summary: Delete a VPC connector
      description: Delete a VPC connector specified by its VPC connector ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: vpc_connector_id
        description: VPC connector ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}/subnet-overlaps:
    get:
      tags:
      - VPC Connectors
      operationId: ListSubnetOverlaps
      summary: List subnet overlaps
      description: List subnet overlaps between the VPCConnector VPC and the target VPC or for a specific subnet if specified.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: vpc_connector_id
        description: VPCConnector ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: order_by
        description: Sort order of the returned Subnet overlaps.
        schema:
          type: string
          enum:
          - subnet_asc
          - subnet_desc
          - target_subnet_asc
          - target_subnet_desc
          default: subnet_asc
      - in: query
        name: page
        description: Page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of Subnet overlaps to return per page.
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.ListSubnetOverlapsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}/subnet-overlaps\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/vpc-connectors/{vpc_connector_id}/subnet-overlaps\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.vpc.v2.ListVPCConnectorsResponse:
      type: object
      properties:
        vpc_connectors:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.vpc.v2.VPCConnector'
        total_count:
          type: integer
          format: uint32
      x-properties-order:
      - vpc_connectors
      - total_count
    scaleway.vpc.v2.ListSubnetOverlapsResponse:
      type: object
      properties:
        subnet_overlaps:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.vpc.v2.ListSubnetOverlapsResponse.SubnetOverlap'
        total_count:
          type: integer
          format: uint64
      x-properties-order:
      - subnet_overlaps
      - total_count
    scaleway.vpc.v2.ListSubnetOverlapsResponse.SubnetOverlap:
      type: object
      properties:
        subnet_id:
          type: string
          description: (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        subnet:
          type: string
          description: (IP network)
          example: 1.2.3.4/32
        target_subnet_id:
          type: string
          description: (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        target_subnet:
          type: string
          description: (IP network)
          example: 1.2.3.4/32
      x-properties-order:
      - subnet_id
      - subnet
      - target_subnet_id
      - target_subnet
    scaleway.vpc.v2.VPCConnector:
      type: object
      properties:
        id:
          type: string
          description: VPC connector ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
          description: VPC connector name.
        organization_id:
          type: string
          description: Scaleway Organization the VPC connector belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        project_id:
          type: string
          description: Scaleway Project the VPC connector belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        vpc_id:
          type: string
          description: VPC the VPC connector belongs to (origin VPC). (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        target_vpc_id:
          type: string
          description: VPC with which the VPC connector is peered (target VPC). (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        status:
          type: string
          description: Status of the VPC connector.
          enum:
          - unknown_vpc_connector_status
          - orphan
          - peered
          - conflict
          default: unknown_vpc_connector_status
        peer_info:
          type: object
          description: Peer info of target VPC. Available when status is Peered.
          properties:
            organization_id:
              type: string
              description: (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            project_id:
              type: string
              description: (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            vpc_name:
              type: string
          x-properties-order:
          - organization_id
          - project_id
          - vpc_name
        region:
          type: string
          description: Region of the VPC connector.
        tags:
          type: array
          description: Tags for the VPC connector.
          items:
            type: string
        created_at:
          type: string
          description: Date the VPC connector was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date the VPC connector was last modified. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - id
      - name
      - organization_id
      - project_id
      - vpc_id
      - target_vpc_id
      - status
      - peer_info
      - region
      - tags
      - created_at
      - updated_at
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
