openapi: 3.2.0
info:
  title: IAM SAML API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: SAML
  description: Scaleway supports Identity Federation to provide your teams with secure access to their accounts via Single Sign-On (SSO). Depending on your organization's requirements, you can use either built-in OAuth2 providers or configure SAML for centralized identity management.
paths:
  /iam/v1alpha1/organizations/{organization_id}/saml:
    get:
      tags:
      - SAML
      operationId: GetOrganizationSaml
      summary: Get SAML Identity Provider configuration of an Organization
      parameters:
      - in: path
        name: organization_id
        description: ID of the Organization.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.Saml'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/saml\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/saml\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - SAML
      operationId: EnableOrganizationSaml
      summary: Enable SAML Identity Provider for an Organization
      parameters:
      - in: path
        name: organization_id
        description: ID of the Organization.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.Saml'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/saml\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/saml\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /iam/v1alpha1/saml-certificates/{certificate_id}:
    get:
      tags:
      - SAML
      operationId: GetSamlCertificate
      summary: Get a SAML certificate
      parameters:
      - in: path
        name: certificate_id
        description: ID of the certificate to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.SamlCertificate'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml-certificates/{certificate_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/saml-certificates/{certificate_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - SAML
      operationId: DeleteSamlCertificate
      summary: Delete a SAML certificate
      parameters:
      - in: path
        name: certificate_id
        description: ID of the certificate to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml-certificates/{certificate_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/iam/v1alpha1/saml-certificates/{certificate_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /iam/v1alpha1/saml/{saml_id}:
    patch:
      tags:
      - SAML
      operationId: UpdateSaml
      summary: Update SAML Identity Provider configuration
      parameters:
      - in: path
        name: saml_id
        description: ID of the SAML configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.Saml'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  description: Entity ID of the SAML Identity Provider.
                single_sign_on_url:
                  type: string
                  description: Single Sign-On URL of the SAML Identity Provider.
              x-properties-order:
              - entity_id
              - single_sign_on_url
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - SAML
      operationId: DeleteSaml
      summary: Disable SAML Identity Provider for an Organization
      parameters:
      - in: path
        name: saml_id
        description: ID of the SAML configuration.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /iam/v1alpha1/saml/{saml_id}/certificates:
    get:
      tags:
      - SAML
      operationId: ListSamlCertificates
      summary: List SAML certificates
      parameters:
      - in: path
        name: saml_id
        description: ID of the SAML configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListSamlCertificatesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}/certificates\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}/certificates\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - SAML
      operationId: AddSamlCertificate
      summary: Add a SAML certificate
      parameters:
      - in: path
        name: saml_id
        description: ID of the SAML configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.SamlCertificate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Type of the SAML certificate.
                  enum:
                  - unknown_certificate_type
                  - signing
                  - encryption
                  x-enum-descriptions:
                    values:
                      unknown_certificate_type: Unknown certificate type
                      signing: Signing certificate
                      encryption: Encryption certificate
                  default: unknown_certificate_type
                content:
                  type: string
                  description: Content of the SAML certificate.
              required:
              - type
              - content
              x-properties-order:
              - type
              - content
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"content\":\"string\",\"type\":\"unknown_certificate_type\"}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}/certificates\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/saml/{saml_id}/certificates\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  content=\"string\" \\\n  type=\"unknown_certificate_type\""
components:
  schemas:
    scaleway.iam.v1alpha1.Saml:
      type: object
      properties:
        id:
          type: string
          description: ID of the SAML configuration.
        status:
          type: string
          description: Status of the SAML configuration.
          enum:
          - unknown_saml_status
          - valid
          - missing_certificate
          - missing_entity_id
          - missing_single_sign_on_url
          default: unknown_saml_status
        service_provider:
          type: object
          description: Service Provider information.
          properties:
            entity_id:
              type: string
            assertion_consumer_service_url:
              type: string
          x-properties-order:
          - entity_id
          - assertion_consumer_service_url
        entity_id:
          type: string
          description: Entity ID of the SAML Identity Provider.
        single_sign_on_url:
          type: string
          description: Single Sign-On URL of the SAML Identity Provider.
      x-properties-order:
      - id
      - status
      - service_provider
      - entity_id
      - single_sign_on_url
    scaleway.iam.v1alpha1.SamlCertificate:
      type: object
      properties:
        id:
          type: string
          description: ID of the SAML certificate.
        type:
          type: string
          description: Type of the SAML certificate.
          enum:
          - unknown_certificate_type
          - signing
          - encryption
          x-enum-descriptions:
            values:
              unknown_certificate_type: Unknown certificate type
              signing: Signing certificate
              encryption: Encryption certificate
          default: unknown_certificate_type
        origin:
          type: string
          description: Origin of the SAML certificate.
          enum:
          - unknown_certificate_origin
          - scaleway
          - identity_provider
          x-enum-descriptions:
            values:
              unknown_certificate_origin: Unknown certificate origin
              scaleway: Certificate from Scaleway
              identity_provider: Certificate from Identity Provider
          default: unknown_certificate_origin
        content:
          type: string
          description: Content of the SAML certificate.
        expires_at:
          type: string
          description: Date and time of the SAML certificate expiration. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - id
      - type
      - origin
      - content
      - expires_at
    scaleway.iam.v1alpha1.ListSamlCertificatesResponse:
      type: object
      properties:
        certificates:
          type: array
          description: List of SAML certificates.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.SamlCertificate'
      x-properties-order:
      - certificates
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
