openapi: 3.2.0
info:
  title: Kubernetes Versions API
  description: Kubernetes is an open-source platform that enables developers to manage their containerized applications.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Versions
  description: 'A version is a vanilla Kubernetes version like `x.y.z`

    It comprises a major version `x`, a minor version `y`, and a patch version `z`. At the minimum, Kapsule (Scaleway''s managed Kubernetes), will support the last patch version for the past three minor releases. Also, each version has a different set of CNIs, eventually container runtimes, feature gates, and admission plugins available. See our Version Support Policy.'
paths:
  /k8s/v1/regions/{region}/versions:
    get:
      tags:
      - Versions
      operationId: ListVersions
      summary: List all available Versions
      description: List all available versions for the creation of a new Kubernetes cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.ListVersionsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/versions\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/versions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /k8s/v1/regions/{region}/versions/{version_name}:
    get:
      tags:
      - Versions
      operationId: GetVersion
      summary: Get a Version
      description: Retrieve a specific Kubernetes version and its details.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: version_name
        description: Requested version name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Version'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/versions/{version_name}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/versions/{version_name}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.k8s.v1.Runtime:
      type: string
      enum:
      - unknown_runtime
      - docker
      - containerd
      - crio
      x-enum-descriptions:
        values:
          containerd: Containerd Runtime will be configured (https://github.com/containerd/containerd)
      default: unknown_runtime
    scaleway.k8s.v1.CNI:
      type: string
      enum:
      - unknown_cni
      - cilium
      - calico
      - weave
      - flannel
      - kilo
      - none
      - cilium_native
      x-enum-descriptions:
        values:
          cilium: Cilium CNI will be configured (https://github.com/cilium/cilium)
          calico: Calico CNI will be configured (https://github.com/projectcalico/calico)
          kilo: Kilo CNI will be configured (https://github.com/squat/kilo/). Note that this CNI is only available for Kosmos clusters
          none: Does not install any CNI. This feature is only available through a ticket and is not covered by support.
          cilium_native: Cilium CNI will be configured in native routing mode (https://docs.cilium.io/en/stable/network/concepts/routing/#native-routing)
      default: unknown_cni
    scaleway.k8s.v1.Version:
      type: object
      properties:
        name:
          type: string
          description: Name of the Kubernetes version.
        label:
          type: string
          description: Label of the Kubernetes version.
        region:
          type: string
          description: Region in which this version is available.
        available_cnis:
          type: array
          description: Supported Container Network Interface (CNI) plugins for this version.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.CNI'
        available_container_runtimes:
          type: array
          description: Supported container runtimes for this version.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.Runtime'
        available_feature_gates:
          type: array
          description: Supported feature gates for this version.
          items:
            type: string
        available_admission_plugins:
          type: array
          description: Supported admission plugins for this version.
          items:
            type: string
        available_kubelet_args:
          type: object
          description: Supported kubelet arguments for this version.
          properties:
            <available_kubelet_argKey>:
              type: string
              description: Supported kubelet arguments for this version.
          additionalProperties: true
        deprecated_at:
          type: string
          description: Date from which this version will no longer be available for provisioning. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        end_of_life_at:
          type: string
          description: Date from which any remaining clusters on this version will begin to be forcibly upgraded to the next minor version. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        released_at:
          type: string
          description: Date at which this version was made available by Kapsule product. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - name
      - label
      - region
      - available_cnis
      - available_container_runtimes
      - available_feature_gates
      - available_admission_plugins
      - available_kubelet_args
      - deprecated_at
      - end_of_life_at
      - released_at
    scaleway.k8s.v1.ListVersionsResponse:
      type: object
      properties:
        versions:
          type: array
          description: Available Kubernetes versions.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.Version'
      x-properties-order:
      - versions
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
