openapi: 3.2.0
info:
  title: VPC Subnets API
  description: VPC allows you to build your own **V**irtual **P**rivate **C**loud on top of Scaleway’s shared public cloud.
  version: v2
servers:
- url: https://api.scaleway.com
tags:
- name: Subnets
  description: CIDR subnet management for your Private Networks.
paths:
  /vpc/v2/regions/{region}/private-networks/{private_network_id}/subnets:
    post:
      tags:
      - Subnets
      operationId: AddSubnets
      summary: Add subnets to a Private Network
      description: Add new subnets to an existing Private Network.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.AddSubnetsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subnets:
                  type: array
                  description: Private Network subnets CIDR. (IP network)
                  example:
                  - 1.2.3.4/32
                  items:
                    type: string
              x-properties-order:
              - subnets
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/subnets\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/subnets\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Subnets
      operationId: DeleteSubnets
      summary: Delete subnets from a Private Network
      description: Delete the specified subnets from a Private Network.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: private_network_id
        description: Private Network ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.DeleteSubnetsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subnets:
                  type: array
                  description: Private Network subnets CIDR. (IP network)
                  example:
                  - 1.2.3.4/32
                  items:
                    type: string
              x-properties-order:
              - subnets
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/subnets\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/vpc/v2/regions/{region}/private-networks/{private_network_id}/subnets\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /vpc/v2/regions/{region}/subnets:
    get:
      tags:
      - Subnets
      operationId: ListSubnets
      summary: List subnets
      description: List any Private Network's subnets. See ListPrivateNetworks to list a specific Private Network's subnets.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: order_by
        description: Sort order of the returned subnets.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          default: created_at_asc
      - in: query
        name: page
        description: Page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of Private Networks to return per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: organization_id
        description: Organization ID to filter for. Only subnets belonging to this Organization will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: project_id
        description: Project ID to filter for. Only subnets belonging to this Project will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: subnet_ids
        description: Subnet IDs to filter for. Only subnets matching the specified IDs will be returned.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: vpc_id
        description: VPC ID to filter for. Only subnets belonging to this VPC will be returned. (UUID format)
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.vpc.v2.ListSubnetsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/vpc/v2/regions/{region}/subnets\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/vpc/v2/regions/{region}/subnets\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.vpc.v2.AddSubnetsResponse:
      type: object
      properties:
        subnets:
          type: array
          description: (IP network)
          example:
          - 1.2.3.4/32
          items:
            type: string
      x-properties-order:
      - subnets
    scaleway.vpc.v2.DeleteSubnetsResponse:
      type: object
      properties:
        subnets:
          type: array
          description: (IP network)
          example:
          - 1.2.3.4/32
          items:
            type: string
      x-properties-order:
      - subnets
    scaleway.vpc.v2.Subnet:
      type: object
      properties:
        id:
          type: string
          description: ID of the subnet. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        created_at:
          type: string
          description: Subnet creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Subnet last modification date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        subnet:
          type: string
          description: Subnet CIDR. (IP network)
          example: 1.2.3.4/32
        project_id:
          type: string
          description: Scaleway Project the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        private_network_id:
          type: string
          description: Private Network the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        vpc_id:
          type: string
          description: VPC the subnet belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
      x-properties-order:
      - id
      - created_at
      - updated_at
      - subnet
      - project_id
      - private_network_id
      - vpc_id
    scaleway.vpc.v2.ListSubnetsResponse:
      type: object
      properties:
        subnets:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.vpc.v2.Subnet'
        total_count:
          type: integer
          format: uint32
      x-properties-order:
      - subnets
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
