openapi: 3.2.0
info:
  title: Instance Types API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Instance Types
  description: 'All Instance types available in a specified zone.

    Each type contains all the features of the Instance (CPU, RAM, Storage) as well as their associated pricing.'
paths:
  /instance/v1/zones/{zone}/products/servers:
    get:
      tags:
      - Instance Types
      operationId: ListServersTypes
      summary: List Instance types
      description: List available Instance types and their technical details.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: per_page
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListServersTypesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/products/servers\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/products/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/products/servers/availability:
    get:
      tags:
      - Instance Types
      operationId: GetServerTypesAvailability
      summary: Get availability
      description: Get availability for all Instance types.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: per_page
        description: A positive integer lower or equal to 100 to select the number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: A positive integer to choose the page to return.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetServerTypesAvailabilityResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/products/servers/availability\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/products/servers/availability\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.instance.v1.BootType:
      type: string
      enum:
      - local
      - bootscript
      - rescue
      default: local
    scaleway.instance.v1.ListServersTypesResponse:
      type: object
      properties:
        servers:
          type: object
          description: List of Instance types.
          properties:
            <serverKey>:
              type: object
              description: List of Instance types.
              properties:
                monthly_price:
                  type: number
                  description: Estimated monthly price, for a 30 days month, in Euro.
                  deprecated: true
                  format: float
                hourly_price:
                  type: number
                  description: Hourly price in Euro.
                  format: float
                alt_names:
                  type: array
                  description: Alternative Instance name, if any.
                  items:
                    type: string
                per_volume_constraint:
                  type: object
                  description: Additional volume constraints.
                  properties:
                    l_ssd:
                      type: object
                      description: Local SSD volumes.
                      properties:
                        min_size:
                          type: integer
                          description: Minimum volume size in bytes. (in bytes)
                          format: uint64
                        max_size:
                          type: integer
                          description: Maximum volume size in bytes. (in bytes)
                          format: uint64
                      x-properties-order:
                      - min_size
                      - max_size
                  x-properties-order:
                  - l_ssd
                volumes_constraint:
                  type: object
                  description: Initial volume constraints.
                  properties:
                    min_size:
                      type: integer
                      description: Minimum volume size in bytes. (in bytes)
                      format: uint64
                    max_size:
                      type: integer
                      description: Maximum volume size in bytes. (in bytes)
                      format: uint64
                  x-properties-order:
                  - min_size
                  - max_size
                ncpus:
                  type: integer
                  description: Number of CPU.
                  format: uint32
                gpu:
                  type: integer
                  description: Number of GPU.
                  format: uint64
                  nullable: true
                ram:
                  type: integer
                  description: Available RAM in bytes.
                  format: uint64
                gpu_info:
                  type: object
                  description: GPU information.
                  properties:
                    gpu_manufacturer:
                      type: string
                      description: GPU manufacturer.
                    gpu_name:
                      type: string
                      description: GPU model name.
                    gpu_memory:
                      type: integer
                      description: RAM of a single GPU, in bytes. (in bytes)
                      format: uint64
                  x-properties-order:
                  - gpu_manufacturer
                  - gpu_name
                  - gpu_memory
                arch:
                  type: string
                  description: CPU architecture.
                  enum:
                  - unknown_arch
                  - x86_64
                  - arm
                  - arm64
                  default: unknown_arch
                network:
                  type: object
                  description: Network available for the Instance.
                  properties:
                    interfaces:
                      type: array
                      description: List of available network interfaces.
                      items:
                        $ref: '#/components/schemas/scaleway.instance.v1.ServerType.Network.Interface'
                    sum_internal_bandwidth:
                      type: integer
                      description: Total maximum internal bandwidth in bits per seconds.
                      format: uint64
                      nullable: true
                    sum_internet_bandwidth:
                      type: integer
                      description: Total maximum internet bandwidth in bits per seconds.
                      format: uint64
                      nullable: true
                    ipv6_support:
                      type: boolean
                      description: True if IPv6 is enabled.
                  x-properties-order:
                  - interfaces
                  - sum_internal_bandwidth
                  - sum_internet_bandwidth
                  - ipv6_support
                capabilities:
                  type: object
                  description: Capabilities.
                  properties:
                    block_storage:
                      type: boolean
                      description: Defines whether the Instance supports block storage.
                      nullable: true
                    boot_types:
                      type: array
                      description: List of supported boot types.
                      items:
                        $ref: '#/components/schemas/scaleway.instance.v1.BootType'
                    max_file_systems:
                      type: integer
                      description: Max number of SFS (Scaleway File Systems) that can be attached to the Instance.
                      format: uint32
                  x-properties-order:
                  - block_storage
                  - boot_types
                  - max_file_systems
                scratch_storage_max_size:
                  type: integer
                  description: Maximum available scratch storage. (in bytes)
                  format: uint64
                  nullable: true
                scratch_storage_max_volumes_count:
                  type: integer
                  description: Maximum supported number of scratch volumes.
                  format: uint32
                block_bandwidth:
                  type: integer
                  description: The maximum bandwidth allocated to block storage access (in bytes per second).
                  format: uint64
                  nullable: true
                end_of_service:
                  type: boolean
                  description: True if this Instance type has reached end of service.
              x-properties-order:
              - monthly_price
              - hourly_price
              - alt_names
              - per_volume_constraint
              - volumes_constraint
              - ncpus
              - gpu
              - ram
              - gpu_info
              - arch
              - network
              - capabilities
              - scratch_storage_max_size
              - scratch_storage_max_volumes_count
              - block_bandwidth
              - end_of_service
          additionalProperties: true
      x-properties-order:
      - servers
    scaleway.instance.v1.GetServerTypesAvailabilityResponse:
      type: object
      properties:
        servers:
          type: object
          description: Map of server types.
          properties:
            <serverKey>:
              type: object
              description: Map of server types.
              properties:
                availability:
                  $ref: '#/components/schemas/scaleway.instance.v1.ServerTypesAvailability'
              x-properties-order:
              - availability
          additionalProperties: true
      x-properties-order:
      - servers
    scaleway.instance.v1.ServerTypesAvailability:
      type: string
      enum:
      - available
      - scarce
      - shortage
      default: available
    scaleway.instance.v1.ServerType.Network.Interface:
      type: object
      properties:
        internal_bandwidth:
          type: integer
          description: Maximum internal bandwidth in bits per seconds.
          format: uint64
          nullable: true
        internet_bandwidth:
          type: integer
          description: Maximum internet bandwidth in bits per seconds.
          format: uint64
          nullable: true
      x-properties-order:
      - internal_bandwidth
      - internet_bandwidth
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
