openapi: 3.2.0
info:
  title: Serverless Functions Crons API
  description: Deploying applications to the cloud becomes simpler with Serverless Functions.
  version: v1beta1
servers:
- url: https://api.scaleway.com
tags:
- name: Crons
  description: Crons allow you to schedule the execution of functions
paths:
  /functions/v1beta1/regions/{region}/crons:
    get:
      tags:
      - Crons
      operationId: ListCrons
      summary: List all crons
      description: List all the cronjobs in a specified region.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Number of crons per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        description: Order of the crons.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          default: created_at_asc
      - in: query
        name: function_id
        description: UUID of the function.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListCronsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons?function_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  function_id==string"
    post:
      tags:
      - Crons
      operationId: CreateCron
      summary: Create a new cron
      description: Create a new cronjob for a function with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Cron'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                function_id:
                  type: string
                  description: UUID of the function to use the cron with.
                schedule:
                  type: string
                  description: Schedule of the cron in UNIX cron format.
                args:
                  type: object
                  description: Arguments to use with the cron.
                  properties:
                    <fieldKey>:
                      type: object
                name:
                  type: string
                  description: Name of the cron.
                  nullable: true
              x-properties-order:
              - function_id
              - schedule
              - args
              - name
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"function_id\":\"string\",\"schedule\":\"string\"}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  function_id=\"string\" \\\n  schedule=\"string\""
  /functions/v1beta1/regions/{region}/crons/{cron_id}:
    get:
      tags:
      - Crons
      operationId: GetCron
      summary: Get a cron
      description: Get the cron associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cron_id
        description: UUID of the cron to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Cron'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Crons
      operationId: UpdateCron
      summary: Update an existing cron
      description: Update the cron associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cron_id
        description: UUID of the cron to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Cron'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                function_id:
                  type: string
                  description: UUID of the function to use the cron with.
                  nullable: true
                schedule:
                  type: string
                  description: Schedule of the cron in UNIX cron format.
                  nullable: true
                args:
                  type: object
                  description: Arguments to use with the cron.
                  properties:
                    <fieldKey>:
                      type: object
                name:
                  type: string
                  description: Name of the cron.
                  nullable: true
              x-properties-order:
              - function_id
              - schedule
              - args
              - name
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Crons
      operationId: DeleteCron
      summary: Delete an existing cron
      description: Delete the cron associated with the specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cron_id
        description: UUID of the cron to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Cron'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/functions/v1beta1/regions/{region}/crons/{cron_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.functions.v1beta1.Cron:
      type: object
      properties:
        id:
          type: string
          description: UUID of the cron.
        function_id:
          type: string
          description: UUID of the function the cron applies to.
        schedule:
          type: string
          description: Schedule of the cron.
        args:
          type: object
          description: Arguments to pass with the cron.
          properties:
            <fieldKey>:
              type: object
        status:
          type: string
          description: Status of the cron.
          enum:
          - unknown
          - ready
          - deleting
          - error
          - locked
          - creating
          - pending
          default: unknown
        name:
          type: string
          description: Name of the cron.
      x-properties-order:
      - id
      - function_id
      - schedule
      - args
      - status
      - name
    scaleway.functions.v1beta1.ListCronsResponse:
      type: object
      properties:
        crons:
          type: array
          description: Array of crons.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Cron'
        total_count:
          type: integer
          description: Total number of crons.
          format: uint32
      x-properties-order:
      - crons
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
