openapi: 3.2.0
info:
  title: IAM JW Ts API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: JWTs
paths:
  /iam/v1alpha1/jwts:
    get:
      tags:
      - JWTs
      operationId: ListJWTs
      summary: List JWTs
      parameters:
      - in: query
        name: order_by
        description: Criteria for sorting results.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - updated_at_asc
          - updated_at_desc
          x-enum-descriptions:
            values:
              created_at_asc: Creation date ascending
              created_at_desc: Creation date descending
              updated_at_asc: Update date ascending
              updated_at_desc: Update date descending
          default: created_at_asc
      - in: query
        name: audience_id
        description: ID of the user to search.
        schema:
          type: string
      - in: query
        name: page_size
        description: Number of results per page. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: Page number. Value must be greater to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: expired
        description: Filter out expired JWTs or not.
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListJWTsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/jwts?audience_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/jwts\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  audience_id==string"
  /iam/v1alpha1/jwts/{jti}:
    get:
      tags:
      - JWTs
      operationId: GetJWT
      summary: Get a JWT
      parameters:
      - in: path
        name: jti
        description: JWT ID of the JWT to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.JWT'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/jwts/{jti}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/jwts/{jti}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - JWTs
      operationId: DeleteJWT
      summary: Delete a JWT
      parameters:
      - in: path
        name: jti
        description: JWT ID of the JWT to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/jwts/{jti}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/iam/v1alpha1/jwts/{jti}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.iam.v1alpha1.JWT:
      type: object
      properties:
        jti:
          type: string
          description: JWT ID.
        issuer_id:
          type: string
          description: ID of the user who issued the JWT.
        audience_id:
          type: string
          description: ID of the user targeted by the JWT.
        created_at:
          type: string
          description: Creation date of the JWT. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Last update date of the JWT. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        expires_at:
          type: string
          description: Expiration date of the JWT. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        ip:
          type: string
          description: IP address used during the creation of the JWT. (IP address)
          example: 1.2.3.4
        user_agent:
          type: string
          description: User-agent used during the creation of the JWT.
      x-properties-order:
      - jti
      - issuer_id
      - audience_id
      - created_at
      - updated_at
      - expires_at
      - ip
      - user_agent
    scaleway.iam.v1alpha1.ListJWTsResponse:
      type: object
      properties:
        jwts:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.JWT'
        total_count:
          type: integer
          format: uint64
      x-properties-order:
      - jwts
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
