openapi: 3.2.0
info:
  title: Kubernetes Pools API
  description: Kubernetes is an open-source platform that enables developers to manage their containerized applications.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Pools
  description: 'A pool is a set of identical nodes

    A pool has a name, a size (its desired number of nodes), node number limits (min, max), and a Scaleway Instance type. Changing those limits increases/decreases the size of a pool. As a result and depending on its load, the pool will grow or shrink within those limits when autoscaling is enabled.'
paths:
  /k8s/v1/regions/{region}/clusters/{cluster_id}/pools:
    get:
      tags:
      - Pools
      operationId: ListPools
      summary: List Pools in a Cluster
      description: List all the existing pools for a specific Kubernetes cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cluster_id
        description: ID of the cluster whose pools will be listed.
        required: true
        schema:
          type: string
      - in: query
        name: order_by
        description: Sort order of returned pools.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - updated_at_asc
          - updated_at_desc
          - name_asc
          - name_desc
          - status_asc
          - status_desc
          - version_asc
          - version_desc
          default: created_at_asc
      - in: query
        name: page
        description: Page number for the returned pools.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of pools per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: name
        description: Name to filter on, only pools containing this substring in their name will be returned.
        schema:
          type: string
      - in: query
        name: status
        description: Status to filter on, only pools with this status will be returned.
        schema:
          type: string
          enum:
          - unknown
          - ready
          - deleting
          - deleted
          - scaling
          - warning
          - locked
          - upgrading
          x-enum-descriptions:
            values:
              ready: Pool has the right amount of nodes and is ready to process the workload
              deleting: Pool is waiting to be processed for deletion
              scaling: Pool is growing or shrinking
              warning: Pool has some issues, check nodes
              locked: Pool is locked because an abuse has been detected or reported
              upgrading: Pool is upgrading its Kubernetes version
          default: unknown
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.ListPoolsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/pools\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/pools\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Pools
      operationId: CreatePool
      summary: Create a new Pool in a Cluster
      description: Create a new pool in a specific Kubernetes cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: cluster_id
        description: Cluster ID to which the pool will be attached.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Pool name.
                node_type:
                  type: string
                  description: Node type is the type of Scaleway Instance wanted for the pool. Nodes with insufficient memory are not eligible (DEV1-S, PLAY2-PICO, STARDUST). 'external' is a special node type used to provision instances from other cloud providers in a Kosmos Cluster.
                placement_group_id:
                  type: string
                  description: Placement group ID in which all the nodes of the pool will be created, placement groups are limited to 20 instances.
                  nullable: true
                autoscaling:
                  type: boolean
                  description: Defines whether the autoscaling feature is enabled for the pool.
                size:
                  type: integer
                  description: Size (number of nodes) of the pool.
                  format: uint32
                min_size:
                  type: integer
                  description: Defines the minimum size of the pool. Note that this field is only used when autoscaling is enabled on the pool.
                  format: uint32
                  nullable: true
                max_size:
                  type: integer
                  description: Defines the maximum size of the pool. Note that this field is only used when autoscaling is enabled on the pool.
                  format: uint32
                  nullable: true
                container_runtime:
                  type: string
                  description: Customization of the container runtime is available for each pool.
                  enum:
                  - unknown_runtime
                  - docker
                  - containerd
                  - crio
                  x-enum-descriptions:
                    values:
                      containerd: Containerd Runtime will be configured (https://github.com/containerd/containerd)
                  default: unknown_runtime
                autohealing:
                  type: boolean
                  description: Defines whether the autohealing feature is enabled for the pool.
                tags:
                  type: array
                  description: Tags associated with the pool, see [managing tags](https://www.scaleway.com/en/docs/kubernetes/api-cli/managing-tags).
                  items:
                    type: string
                kubelet_args:
                  type: object
                  description: Kubelet arguments to be used by this pool. Note that this feature is experimental.
                  properties:
                    <kubelet_argKey>:
                      type: string
                      description: Kubelet arguments to be used by this pool. Note that this feature is experimental.
                  additionalProperties: true
                upgrade_policy:
                  type: object
                  description: Pool upgrade policy.
                  properties:
                    max_unavailable:
                      $ref: '#/components/schemas/google.protobuf.UInt32Value'
                    max_surge:
                      $ref: '#/components/schemas/google.protobuf.UInt32Value'
                  x-properties-order:
                  - max_unavailable
                  - max_surge
                zone:
                  type: string
                  description: Zone in which the pool's nodes will be spawned.
                root_volume_type:
                  type: string
                  description: 'Defines the system volume disk type. Several types of volume (`volume_type`) are provided:.

                    * `l_ssd` is a local block storage which means your system is stored locally on your node''s hypervisor. This type is not available for all node types

                    * `sbs_5k` is a remote block storage which means your system is stored on a centralized and resilient cluster with 5k IOPS limits

                    * `sbs_15k` is a faster remote block storage which means your system is stored on a centralized and resilient cluster with 15k IOPS limits

                    * `b_ssd` is the legacy remote block storage which means your system is stored on a centralized and resilient cluster. Not available for new pools, use `sbs_5k` or `sbs_15k` instead.'
                  enum:
                  - default_volume_type
                  - l_ssd
                  - b_ssd
                  - sbs_5k
                  - sbs_15k
                  x-enum-descriptions:
                    values:
                      l_ssd: 'Local Block Storage: your system is stored locally on your node hypervisor'
                      b_ssd: 'Remote Block Storage: your system is stored on a centralized and resilient cluster (deprecated: will use sbs_5k instead)'
                      sbs_5k: 'Remote Block Storage: your system is stored on a centralized and resilient cluster with up to 5k IOPS'
                      sbs_15k: 'Remote Block Storage: your system is stored on a centralized and resilient cluster with up to 15k IOPS'
                  default: default_volume_type
                root_volume_size:
                  type: integer
                  description: System volume disk size. (in bytes)
                  format: uint64
                  nullable: true
                public_ip_disabled:
                  type: boolean
                  description: Defines if the public IP should be removed from Nodes. To use this feature, your Cluster must have an attached Private Network set up with a Public Gateway.
                security_group_id:
                  type: string
                  description: Security group ID in which all the nodes of the pool will be created. If unset, the pool will use default Kapsule security group in current zone.
                labels:
                  type: object
                  description: Kubernetes labels applied and reconciled on the nodes.
                  properties:
                    <labelKey>:
                      type: string
                      description: Kubernetes labels applied and reconciled on the nodes.
                  additionalProperties: true
                taints:
                  type: array
                  description: Kubernetes taints applied and reconciled on the nodes.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
                startup_taints:
                  type: array
                  description: Kubernetes taints applied at node creation but not reconciled afterwards.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
              required:
              - name
              - node_type
              - size
              x-properties-order:
              - name
              - node_type
              - placement_group_id
              - autoscaling
              - size
              - min_size
              - max_size
              - container_runtime
              - autohealing
              - tags
              - kubelet_args
              - upgrade_policy
              - zone
              - root_volume_type
              - root_volume_size
              - public_ip_disabled
              - security_group_id
              - labels
              - taints
              - startup_taints
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"autohealing\": false,\n    \"autoscaling\": false,\n    \"kubelet_args\": {\n        \"<kubelet_argKey>\": \"string\"\n    },\n    \"labels\": {\n        \"<labelKey>\": \"string\"\n    },\n    \"name\": \"string\",\n    \"node_type\": \"string\",\n    \"public_ip_disabled\": false,\n    \"size\": 42,\n    \"zone\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/pools\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/k8s/v1/regions/{region}/clusters/{cluster_id}/pools\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  autohealing:=false \\\n  autoscaling:=false \\\n  kubelet_args:='{\n    \"<kubelet_argKey>\": \"string\"\n  }' \\\n  labels:='{\n    \"<labelKey>\": \"string\"\n  }' \\\n  name=\"string\" \\\n  node_type=\"string\" \\\n  public_ip_disabled:=false \\\n  size:=42 \\\n  zone=\"string\""
  /k8s/v1/regions/{region}/pools/{pool_id}:
    get:
      tags:
      - Pools
      operationId: GetPool
      summary: Get a Pool in a Cluster
      description: Retrieve details about a specific pool in a Kubernetes cluster.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the requested pool.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Pools
      operationId: UpdatePool
      summary: Update a Pool in a Cluster
      description: Update the attributes of a specific pool, such as its desired size, autoscaling settings, and tags. To upgrade a pool, you will need to use the dedicated endpoint.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the pool to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                autoscaling:
                  type: boolean
                  description: New value for the pool autoscaling enablement.
                  nullable: true
                size:
                  type: integer
                  description: New desired pool size.
                  format: uint32
                  nullable: true
                min_size:
                  type: integer
                  description: New minimum size for the pool.
                  format: uint32
                  nullable: true
                max_size:
                  type: integer
                  description: New maximum size for the pool.
                  format: uint32
                  nullable: true
                autohealing:
                  type: boolean
                  description: New value for the pool autohealing enablement.
                  nullable: true
                tags:
                  type: array
                  description: New tags associated with the pool.
                  nullable: true
                  items:
                    type: string
                kubelet_args:
                  type: object
                  description: New Kubelet arguments to be used by this pool. Note that this feature is experimental.
                  properties:
                    <key>:
                      type: string
                  nullable: true
                upgrade_policy:
                  type: object
                  description: New upgrade policy for the pool.
                  properties:
                    max_unavailable:
                      $ref: '#/components/schemas/google.protobuf.UInt32Value'
                    max_surge:
                      $ref: '#/components/schemas/google.protobuf.UInt32Value'
                  x-properties-order:
                  - max_unavailable
                  - max_surge
                security_group_id:
                  type: string
                  description: Security group ID in which all the nodes of the pool will be moved.
              x-properties-order:
              - autoscaling
              - size
              - min_size
              - max_size
              - autohealing
              - tags
              - kubelet_args
              - upgrade_policy
              - security_group_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Pools
      operationId: DeletePool
      summary: Delete a Pool in a Cluster
      description: Delete a specific pool from a cluster. Note that all the pool's nodes will also be deleted.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the pool to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /k8s/v1/regions/{region}/pools/{pool_id}/set-labels:
    put:
      tags:
      - Pools
      operationId: SetPoolLabels
      summary: Set a list of labels for a specific pool
      description: Apply a list of taints to all nodes of the pool (only apply to labels which was set through scaleway api).
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  type: object
                  properties:
                    <labelKey>:
                      type: string
                  additionalProperties: true
              x-properties-order:
              - labels
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"labels\":{\"<labelKey>\":\"string\"}}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-labels\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-labels\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  labels:='{\"<labelKey>\":\"string\"}'"
  /k8s/v1/regions/{region}/pools/{pool_id}/set-startup-taints:
    put:
      tags:
      - Pools
      operationId: SetPoolStartupTaints
      summary: Set a list of startup taints for a specific pool
      description: Apply a list of taints to new nodes of the pool which would not be reconciled by scaleway.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the pool to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startup_taints:
                  type: array
                  description: List of startup taints to set.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
              x-properties-order:
              - startup_taints
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-startup-taints\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-startup-taints\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /k8s/v1/regions/{region}/pools/{pool_id}/set-taints:
    put:
      tags:
      - Pools
      operationId: SetPoolTaints
      summary: Set a list of taints for a specific pool
      description: Apply a list of taints to all nodes of the pool which will be periodically reconciled by scaleway.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the pool to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taints:
                  type: array
                  description: List of taints to set.
                  items:
                    $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
              x-properties-order:
              - taints
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-taints\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/set-taints\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /k8s/v1/regions/{region}/pools/{pool_id}/upgrade:
    post:
      tags:
      - Pools
      operationId: UpgradePool
      summary: Upgrade a Pool in a Cluster
      description: 'Upgrade the Kubernetes version of a specific pool. Note that it only works if the targeted version matches the cluster''s version.

        This will drain and replace the nodes in that pool.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: pool_id
        description: ID of the pool to upgrade.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: New Kubernetes version for the pool.
              required:
              - version
              x-properties-order:
              - version
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"version\":\"string\"}' \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/upgrade\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/k8s/v1/regions/{region}/pools/{pool_id}/upgrade\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  version=\"string\""
components:
  schemas:
    scaleway.k8s.v1.Pool:
      type: object
      properties:
        id:
          type: string
          description: Pool ID.
        cluster_id:
          type: string
          description: Cluster ID of the pool.
        created_at:
          type: string
          description: Date on which the pool was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date on which the pool was last updated. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        name:
          type: string
          description: Pool name.
        status:
          type: string
          description: Pool status.
          enum:
          - unknown
          - ready
          - deleting
          - deleted
          - scaling
          - warning
          - locked
          - upgrading
          x-enum-descriptions:
            values:
              ready: Pool has the right amount of nodes and is ready to process the workload
              deleting: Pool is waiting to be processed for deletion
              scaling: Pool is growing or shrinking
              warning: Pool has some issues, check nodes
              locked: Pool is locked because an abuse has been detected or reported
              upgrading: Pool is upgrading its Kubernetes version
          default: unknown
        version:
          type: string
          description: Pool version.
        node_type:
          type: string
          description: Node type is the type of Scaleway Instance wanted for the pool. Nodes with insufficient memory are not eligible (DEV1-S, PLAY2-PICO, STARDUST). 'external' is a special node type used to provision instances from other cloud providers in a Kosmos Cluster.
        autoscaling:
          type: boolean
          description: Defines whether the autoscaling feature is enabled for the pool.
        size:
          type: integer
          description: Size (number of nodes) of the pool.
          format: uint32
        min_size:
          type: integer
          description: Defines the minimum size of the pool. Note that this field is only used when autoscaling is enabled on the pool.
          format: uint32
        max_size:
          type: integer
          description: Defines the maximum size of the pool. Note that this field is only used when autoscaling is enabled on the pool.
          format: uint32
        container_runtime:
          type: string
          description: Customization of the container runtime is available for each pool.
          enum:
          - unknown_runtime
          - docker
          - containerd
          - crio
          x-enum-descriptions:
            values:
              containerd: Containerd Runtime will be configured (https://github.com/containerd/containerd)
          default: unknown_runtime
        autohealing:
          type: boolean
          description: Defines whether the autohealing feature is enabled for the pool.
        tags:
          type: array
          description: Tags associated with the pool, see [managing tags](https://www.scaleway.com/en/docs/kubernetes/api-cli/managing-tags).
          items:
            type: string
        placement_group_id:
          type: string
          description: Placement group ID in which all the nodes of the pool will be created, placement groups are limited to 20 instances.
          nullable: true
        kubelet_args:
          type: object
          description: Kubelet arguments to be used by this pool. Note that this feature is experimental.
          properties:
            <kubelet_argKey>:
              type: string
              description: Kubelet arguments to be used by this pool. Note that this feature is experimental.
          additionalProperties: true
        upgrade_policy:
          type: object
          description: Pool upgrade policy.
          properties:
            max_unavailable:
              type: integer
              format: uint32
            max_surge:
              type: integer
              format: uint32
          x-properties-order:
          - max_unavailable
          - max_surge
        zone:
          type: string
          description: Zone in which the pool's nodes will be spawned.
        root_volume_type:
          type: string
          description: 'Defines the system volume disk type. Several types of volume (`volume_type`) are provided:.

            * `l_ssd` is a local block storage which means your system is stored locally on your node''s hypervisor. This type is not available for all node types

            * `sbs_5k` is a remote block storage which means your system is stored on a centralized and resilient cluster with 5k IOPS limits

            * `sbs_15k` is a faster remote block storage which means your system is stored on a centralized and resilient cluster with 15k IOPS limits

            * `b_ssd` is the legacy remote block storage which means your system is stored on a centralized and resilient cluster. Not available for new pools, use `sbs_5k` or `sbs_15k` instead.'
          enum:
          - default_volume_type
          - l_ssd
          - b_ssd
          - sbs_5k
          - sbs_15k
          x-enum-descriptions:
            values:
              l_ssd: 'Local Block Storage: your system is stored locally on your node hypervisor'
              b_ssd: 'Remote Block Storage: your system is stored on a centralized and resilient cluster (deprecated: will use sbs_5k instead)'
              sbs_5k: 'Remote Block Storage: your system is stored on a centralized and resilient cluster with up to 5k IOPS'
              sbs_15k: 'Remote Block Storage: your system is stored on a centralized and resilient cluster with up to 15k IOPS'
          default: default_volume_type
        root_volume_size:
          type: integer
          description: System volume disk size. (in bytes)
          format: uint64
          nullable: true
        public_ip_disabled:
          type: boolean
          description: Defines if the public IP should be removed from Nodes. To use this feature, your Cluster must have an attached Private Network set up with a Public Gateway.
        security_group_id:
          type: string
          description: Security group ID in which all the nodes of the pool will be created. If unset, the pool will use default Kapsule security group in current zone.
        labels:
          type: object
          description: Kubernetes labels applied and reconciled on the nodes.
          properties:
            <labelKey>:
              type: string
              description: Kubernetes labels applied and reconciled on the nodes.
          additionalProperties: true
        taints:
          type: array
          description: Kubernetes taints applied and reconciled on the nodes.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
        startup_taints:
          type: array
          description: Kubernetes taints applied at node creation but not reconciled afterwards.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.CoreV1Taint'
        region:
          type: string
          description: Cluster region of the pool.
      required:
      - node_type
      - size
      x-properties-order:
      - id
      - cluster_id
      - created_at
      - updated_at
      - name
      - status
      - version
      - node_type
      - autoscaling
      - size
      - min_size
      - max_size
      - container_runtime
      - autohealing
      - tags
      - placement_group_id
      - kubelet_args
      - upgrade_policy
      - zone
      - root_volume_type
      - root_volume_size
      - public_ip_disabled
      - security_group_id
      - labels
      - taints
      - startup_taints
      - region
    google.protobuf.UInt32Value:
      type: integer
      format: uint32
      nullable: true
    scaleway.k8s.v1.CoreV1Taint:
      type: object
      properties:
        key:
          type: string
          description: The taint key to be applied to a node.
        value:
          type: string
          description: The taint value corresponding to the taint key.
        effect:
          type: string
          description: Effect defines the effects of Taint.
          enum:
          - NoSchedule
          - PreferNoSchedule
          - NoExecute
          x-enum-descriptions:
            values:
              NoSchedule: Do not allow new pods to schedule onto the node unless they tolerate the taint
              PreferNoSchedule: Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely
              NoExecute: Evict any already-running pods that do not tolerate the taint (Currently enforced by NodeController)
          default: NoSchedule
      x-properties-order:
      - key
      - value
      - effect
    scaleway.k8s.v1.ListPoolsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of pools that exists for the cluster.
          format: uint64
        pools:
          type: array
          description: Paginated returned pools.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.Pool'
      x-properties-order:
      - total_count
      - pools
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
