openapi: 3.2.0
info:
  title: Transactional Email Project Consumption API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Project Consumption
  description: Project consumption allow you to see your project consumption.
paths:
  /transactional-email/v1alpha1/regions/{region}/project-consumption:
    get:
      tags:
      - Project Consumption
      operationId: GetProjectConsumption
      summary: Get project resource consumption
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: project_id
        description: ID of the project. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ProjectConsumption'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project-consumption?project_id=6170692e-7363-616c-6577-61792e636f6d\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/project-consumption\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  project_id==6170692e-7363-616c-6577-61792e636f6d"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.ProjectConsumption:
      type: object
      properties:
        project_id:
          type: string
          description: ID of the project.
        domains_count:
          type: integer
          description: Number of domains in the project.
          format: int32
        dedicated_ips_count:
          type: integer
          description: Number of dedicated IP in the project.
          format: int32
        monthly_emails_count:
          type: integer
          description: Number of emails sent during the current month in the project.
          format: int32
        webhooks_count:
          type: integer
          description: Number of webhooks in the project.
          format: int32
        custom_blocklists_count:
          type: integer
          description: Number of custom blocklists in the project.
          format: int32
      x-properties-order:
      - project_id
      - domains_count
      - dedicated_ips_count
      - monthly_emails_count
      - webhooks_count
      - custom_blocklists_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
