openapi: 3.2.0
info:
  title: Load Balancer Types API
  description: Load Balancers are highly available and fully managed Instances that facilitate the distribution of incoming traffic across multiple servers.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Load Balancer Types
  description: The Load Balancer offer type object. It represents the different commercial types of Load Balancer offered by Scaleway, each with different specifications and pricing. Use this endpoint to list all Load Balancer offer types.
paths:
  /lb/v1/zones/{zone}/lb-types:
    get:
      tags:
      - Load Balancer Types
      operationId: ListLbTypes
      summary: List all Load Balancer offer types
      description: List all the different commercial Load Balancer types. The response includes an array of offer types, each with a name, description, and information about its stock availability.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: query
        name: page
        description: The page number to return, from the paginated results.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: The number of items to return.
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.ListLbTypesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lb-types\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/lb-types\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.lb.v1.LbType:
      type: object
      properties:
        name:
          type: string
          description: Load Balancer commercial offer type name.
        stock_status:
          type: string
          description: Current stock status for a given Load Balancer type.
          enum:
          - unknown
          - low_stock
          - out_of_stock
          - available
          default: unknown
        bandwidth:
          type: integer
          description: Maximum bandwidth for a given Load Balancer type.
          format: uint64
        multicloud:
          type: boolean
          description: Ability to handle backend servers outside Scaleway for a given Load Balancer type.
        description:
          type: string
          description: Load Balancer commercial offer type description.
        region:
          type: string
          description: The region the Load Balancer stock is in.
          deprecated: true
        zone:
          type: string
          description: The zone the Load Balancer stock is in.
      x-properties-order:
      - name
      - stock_status
      - bandwidth
      - multicloud
      - description
      - region
      - zone
    scaleway.lb.v1.ListLbTypesResponse:
      type: object
      properties:
        lb_types:
          type: array
          description: List of Load Balancer commercial offer type objects.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.LbType'
        total_count:
          type: integer
          description: Total number of Load Balancer offer type objects.
          format: uint32
      x-properties-order:
      - lb_types
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
