openapi: 3.2.0
info:
  title: Kubernetes Cluster types API
  description: Kubernetes is an open-source platform that enables developers to manage their containerized applications.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Cluster types
  description: 'All cluster types available in a specified region

    A cluster type represents the different commercial types of clusters offered by Scaleway.'
paths:
  /k8s/v1/regions/{region}/cluster-types:
    get:
      tags:
      - Cluster types
      operationId: ListClusterTypes
      summary: List cluster types
      description: List available cluster types and their technical details.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number, from the paginated results, to return for cluster-types.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of clusters per page.
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.k8s.v1.ListClusterTypesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/k8s/v1/regions/{region}/cluster-types\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/k8s/v1/regions/{region}/cluster-types\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.k8s.v1.ClusterType:
      type: object
      properties:
        name:
          type: string
          description: Cluster type name.
        availability:
          type: string
          description: Cluster type availability.
          enum:
          - available
          - scarce
          - shortage
          x-enum-descriptions:
            values:
              available: Type is available in quantity
              scarce: Limited availability
              shortage: Out of stock
          default: available
        max_nodes:
          type: integer
          description: Maximum number of nodes supported by the offer.
          format: uint32
        commitment_delay:
          type: string
          description: Time period during which you can no longer switch to a lower offer. (in seconds)
          example: 2.5s
          nullable: true
        sla:
          type: number
          description: Value of the Service Level Agreement of the offer.
          format: float
        resiliency:
          type: string
          description: Resiliency offered by the offer.
          enum:
          - unknown_resiliency
          - standard
          - high_availability
          x-enum-descriptions:
            values:
              standard: The control plane is rescheduled on other machines in case of failure of a lower layer
              high_availability: The control plane has replicas to ensure service continuity in case of failure of a lower layer.
          default: unknown_resiliency
        memory:
          type: integer
          description: Max RAM allowed for the control plane. (in bytes)
          format: uint64
        dedicated:
          type: boolean
          description: Returns information if this offer uses dedicated resources.
        audit_logs_supported:
          type: boolean
          description: True if the offer allows activation of the audit log functionality. Please note that audit logs are sent to Cockpit.
      x-properties-order:
      - name
      - availability
      - max_nodes
      - commitment_delay
      - sla
      - resiliency
      - memory
      - dedicated
      - audit_logs_supported
    scaleway.k8s.v1.ListClusterTypesResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of cluster-types.
          format: uint64
        cluster_types:
          type: array
          description: Paginated returned cluster-types.
          items:
            $ref: '#/components/schemas/scaleway.k8s.v1.ClusterType'
      x-properties-order:
      - total_count
      - cluster_types
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
