openapi: 3.2.0
info:
  title: Scaleway Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: scaleway-database-openapi.yml, scaleway-iam-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.scaleway.com
tags:
- name: Users
  description: Users are profiles to which you can attribute database-level permissions. They allow you to define permissions specific to each type of database usage. For example, users with an `admin` role can create new databases and users.
paths:
  /rdb/v1/regions/{region}/instances/{instance_id}/users:
    get:
      tags:
      - Users
      operationId: ListUsers
      summary: List users of a Database Instance
      description: List all users of a given Database Instance. By default, the users returned in the list are ordered by creation date in ascending order, though this can be modified via the order_by field.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance.
        required: true
        schema:
          type: string
      - in: query
        name: name
        description: Name of the user.
        schema:
          type: string
      - in: query
        name: order_by
        description: Criteria to use when requesting user listing.
        schema:
          type: string
          enum:
          - name_asc
          - name_desc
          - is_admin_asc
          - is_admin_desc
          default: name_asc
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ListUsersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Users
      operationId: CreateUser
      summary: Create a user for a Database Instance
      description: Create a new user for a Database Instance. You must define the `name`, `password` and `is_admin` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance in which you want to create a user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the user you want to create.
                password:
                  type: string
                  description: Password of the user you want to create. Password must be between 8 and 128 characters, contain at least one digit, one uppercase, one lowercase and one special character.
                is_admin:
                  type: boolean
                  description: Defines whether the user will have administrative privileges.
              x-properties-order:
              - name
              - password
              - is_admin
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"is_admin\": false,\n    \"name\": \"string\",\n    \"password\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  is_admin:=false \\\n  name=\"string\" \\\n  password=\"string\""
    servers:
    - url: https://api.scaleway.com
  /rdb/v1/regions/{region}/instances/{instance_id}/users/{name}:
    patch:
      tags:
      - Users
      operationId: UpdateUser
      summary: Update a user on a Database Instance
      description: Update the parameters of a user on a Database Instance. You can update the `password` and `is_admin` parameters, but you cannot change the name of the user.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance the user belongs to.
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: Name of the database user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: Password of the database user. Password must be between 8 and 128 characters, contain at least one digit, one uppercase, one lowercase and one special character.
                  nullable: true
                is_admin:
                  type: boolean
                  description: Defines whether or not this user got administrative privileges.
                  nullable: true
              x-properties-order:
              - password
              - is_admin
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users/{name}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users/{name}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Users
      operationId: DeleteUser
      summary: Delete a user on a Database Instance
      description: Delete a given user on a Database Instance. You must specify, in the endpoint, the `region`, `instance_id` and `name` parameters of the user you want to delete.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance to delete the user from.
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: Name of the user.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users/{name}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/users/{name}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/grace-periods:
    get:
      tags:
      - Users
      operationId: ListGracePeriods
      summary: List grace periods of a member
      description: List the grace periods of a member.
      parameters:
      - in: query
        name: user_id
        description: ID of the user to list grace periods for.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListGracePeriodsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/grace-periods?user_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/grace-periods\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  user_id==string"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users:
    get:
      tags:
      - Users
      operationId: ListUsers
      summary: List users of an Organization
      description: List the users of an Organization. By default, the users listed are ordered by creation date in ascending order. This can be modified via the `order_by` field. You must define the `organization_id` in the query path of your request. You can also define additional parameters for your query such as `user_ids`.
      parameters:
      - in: query
        name: order_by
        description: Criteria for sorting results.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          - updated_at_asc
          - updated_at_desc
          - email_asc
          - email_desc
          - last_login_asc
          - last_login_desc
          - username_asc
          - username_desc
          x-enum-descriptions:
            values:
              created_at_asc: Creation date ascending
              created_at_desc: Creation date descending
              updated_at_asc: Update date ascending
              updated_at_desc: Update date descending
              email_asc: Email ascending
              email_desc: Email descending
              last_login_asc: Last login ascending
              last_login_desc: Last login descending
              username_asc: Username ascending
              username_desc: Username descending
          default: created_at_asc
      - in: query
        name: page_size
        description: Number of results per page. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: Page number. Value must be greater or equal to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: organization_id
        description: ID of the Organization to filter.
        schema:
          type: string
      - in: query
        name: user_ids
        description: Filter by list of IDs.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: mfa
        description: Filter by MFA status.
        schema:
          type: boolean
      - in: query
        name: tag
        description: Filter by tags containing a given string.
        schema:
          type: string
      - in: query
        name: type
        description: Filter by user type.
        schema:
          type: string
          enum:
          - unknown_type
          - owner
          - member
          x-enum-descriptions:
            values:
              unknown_type: Unknown type
              owner: Owner
          default: unknown_type
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ListUsersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/users?organization_id=string\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/users\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id==string"
    post:
      tags:
      - Users
      operationId: CreateUser
      summary: Create a new user
      description: Create a new user. You must define the `organization_id` in your request. If you are adding a member, enter the member's details. If you are adding a guest, you must define the `email` and not add the member attribute.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
                  description: ID of the Organization.
                email:
                  type: string
                  description: Email of the user.
                  nullable: true
                  x-one-of: type
                tags:
                  type: array
                  description: Tags associated with the user.
                  items:
                    type: string
                member:
                  type: object
                  description: Details of IAM member.
                  properties:
                    email:
                      type: string
                      description: Email of the user to create.
                    send_password_email:
                      type: boolean
                      description: Whether or not to send an email containing the member's password.
                    send_welcome_email:
                      type: boolean
                      description: Whether or not to send a welcome email that includes onboarding information.
                    username:
                      type: string
                      description: The member's username.
                    password:
                      type: string
                      description: The member's password.
                    first_name:
                      type: string
                      description: The member's first name.
                    last_name:
                      type: string
                      description: The member's last name.
                    phone_number:
                      type: string
                      description: The member's phone number.
                    locale:
                      type: string
                      description: The member's locale.
                  nullable: true
                  x-properties-order:
                  - email
                  - send_password_email
                  - send_welcome_email
                  - username
                  - password
                  - first_name
                  - last_name
                  - phone_number
                  - locale
                  x-one-of: type
              required:
              - organization_id
              x-properties-order:
              - organization_id
              - email
              - tags
              - member
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"organization_id\":\"string\"}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  organization_id=\"string\""
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}:
    get:
      tags:
      - Users
      operationId: GetUser
      summary: Get a given user
      description: Retrieve information about a user, specified by the `user_id` parameter. The user's full details, including `id`, `email`, `organization_id`, `status` and `mfa` are returned in the response.
      parameters:
      - in: path
        name: user_id
        description: ID of the user to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Users
      operationId: UpdateUser
      summary: Update a user
      description: Update the parameters of a user, including `tags`.
      parameters:
      - in: path
        name: user_id
        description: ID of the user to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  description: New tags for the user (maximum of 10 tags).
                  nullable: true
                  items:
                    type: string
                email:
                  type: string
                  description: IAM member email.
                  nullable: true
                first_name:
                  type: string
                  description: IAM member first name.
                  nullable: true
                last_name:
                  type: string
                  description: IAM member last name.
                  nullable: true
                phone_number:
                  type: string
                  description: IAM member phone number.
                  nullable: true
                locale:
                  type: string
                  description: IAM member locale.
                  nullable: true
              x-properties-order:
              - tags
              - email
              - first_name
              - last_name
              - phone_number
              - locale
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Users
      operationId: DeleteUser
      summary: Delete a guest user from an Organization
      description: Remove a user from an Organization in which they are a guest. You must define the `user_id` in your request. Note that removing a user from an Organization automatically deletes their API keys, and any policies directly attached to them become orphaned.
      parameters:
      - in: path
        name: user_id
        description: ID of the user to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/lock:
    post:
      tags:
      - Users
      operationId: LockUser
      summary: Lock a member
      description: Lock a member. A locked member cannot log in or use API keys until the locked status is removed.
      parameters:
      - in: path
        name: user_id
        description: ID of the user to lock.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/lock\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/lock\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/mfa-otp:
    post:
      tags:
      - Users
      operationId: CreateUserMFAOTP
      summary: Create a MFA OTP
      parameters:
      - in: path
        name: user_id
        description: User ID of the MFA OTP.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.MFAOTP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/mfa-otp\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/mfa-otp\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Users
      operationId: DeleteUserMFAOTP
      summary: Delete a MFA OTP
      parameters:
      - in: path
        name: user_id
        description: User ID of the MFA OTP.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/mfa-otp\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/mfa-otp\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/unlock:
    post:
      tags:
      - Users
      operationId: UnlockUser
      summary: Unlock a member
      parameters:
      - in: path
        name: user_id
        description: ID of the user to unlock.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/unlock\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/unlock\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/update-password:
    post:
      tags:
      - Users
      operationId: UpdateUserPassword
      summary: Update an user's password
      parameters:
      - in: path
        name: user_id
        description: ID of the user to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: The new password.
              required:
              - password
              x-properties-order:
              - password
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"password\":\"string\"}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/update-password\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/update-password\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  password=\"string\""
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/update-username:
    post:
      tags:
      - Users
      operationId: UpdateUserUsername
      summary: Update an user's username
      parameters:
      - in: path
        name: user_id
        description: ID of the user to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The new username.
              required:
              - username
              x-properties-order:
              - username
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"username\":\"string\"}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/update-username\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/update-username\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  username=\"string\""
    servers:
    - url: https://api.scaleway.com
  /iam/v1alpha1/users/{user_id}/validate-mfa-otp:
    post:
      tags:
      - Users
      operationId: ValidateUserMFAOTP
      summary: Validate a MFA OTP
      parameters:
      - in: path
        name: user_id
        description: User ID of the MFA OTP.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.ValidateUserMFAOTPResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                one_time_password:
                  type: string
                  description: A password generated using the OTP.
              x-properties-order:
              - one_time_password
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"one_time_password\":\"string\"}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/validate-mfa-otp\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/iam/v1alpha1/users/{user_id}/validate-mfa-otp\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  one_time_password=\"string\""
    servers:
    - url: https://api.scaleway.com
components:
  schemas:
    scaleway.rdb.v1.ListUsersResponse:
      type: object
      properties:
        users:
          type: array
          description: List of users in a Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.User'
        total_count:
          type: integer
          description: Total count of users present on a Database Instance.
          format: uint32
      x-properties-order:
      - users
      - total_count
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.rdb.v1.User:
      type: object
      properties:
        name:
          type: string
          description: Name of the user (Length must be between 1 and 63 characters for PostgreSQL and between 1 and 32 characters for MySQL. First character must be an alphabet character (a-zA-Z). Your username cannot start with '_rdb' or in PostgreSQL, 'pg_'. Only a-zA-Z0-9_$- characters are accepted).
        is_admin:
          type: boolean
          description: Defines whether or not a user got administrative privileges on the Database Instance.
      x-properties-order:
      - name
      - is_admin
    scaleway.iam.v1alpha1.ListUsersResponse:
      type: object
      properties:
        users:
          type: array
          description: List of users.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.User'
        total_count:
          type: integer
          description: Total count of users.
          format: uint32
      x-properties-order:
      - users
      - total_count
    scaleway.iam.v1alpha1.ValidateUserMFAOTPResponse:
      type: object
      properties:
        recovery_codes:
          type: array
          description: List of recovery codes usable for this OTP method.
          items:
            type: string
      x-properties-order:
      - recovery_codes
    scaleway.iam.v1alpha1.MFAOTP:
      type: object
      properties:
        secret:
          type: string
      x-properties-order:
      - secret
    scaleway.iam.v1alpha1.User:
      type: object
      properties:
        id:
          type: string
          description: ID of user.
        email:
          type: string
          description: Email of user.
        username:
          type: string
          description: User identifier unique to the Organization.
        first_name:
          type: string
          description: First name of the user.
        last_name:
          type: string
          description: Last name of the user.
        phone_number:
          type: string
          description: Phone number of the user.
        locale:
          type: string
          description: Locale of the user.
        created_at:
          type: string
          description: Date user was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date of last user update. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        organization_id:
          type: string
          description: ID of the Organization.
        deletable:
          type: boolean
          description: Deletion status of user. Owners cannot be deleted.
        last_login_at:
          type: string
          description: Date of the last login. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        type:
          type: string
          description: Type of user.
          enum:
          - unknown_type
          - owner
          - member
          x-enum-descriptions:
            values:
              unknown_type: Unknown type
              owner: Owner
          default: unknown_type
        two_factor_enabled:
          type: boolean
          description: Deprecated, use "mfa" instead.
          deprecated: true
        status:
          type: string
          description: Status of user invitation.
          deprecated: true
          enum:
          - unknown_status
          - invitation_pending
          - activated
          x-enum-descriptions:
            values:
              unknown_status: Unknown status
              invitation_pending: Invitation pending
              activated: Activated
          default: unknown_status
        mfa:
          type: boolean
          description: Defines whether MFA is enabled.
        account_root_user_id:
          type: string
          description: ID of the account root user associated with the user.
        tags:
          type: array
          description: Tags associated with the user.
          items:
            type: string
        locked:
          type: boolean
          description: Defines whether the user is locked.
      x-properties-order:
      - id
      - email
      - username
      - first_name
      - last_name
      - phone_number
      - locale
      - created_at
      - updated_at
      - organization_id
      - deletable
      - last_login_at
      - type
      - two_factor_enabled
      - status
      - mfa
      - account_root_user_id
      - tags
      - locked
    scaleway.iam.v1alpha1.ListGracePeriodsResponse:
      type: object
      properties:
        grace_periods:
          type: array
          description: List of grace periods.
          items:
            $ref: '#/components/schemas/scaleway.iam.v1alpha1.GracePeriod'
      x-properties-order:
      - grace_periods
    scaleway.iam.v1alpha1.GracePeriod:
      type: object
      properties:
        type:
          type: string
          description: Type of grace period.
          enum:
          - unknown_grace_period_type
          - update_password
          - set_mfa
          x-enum-descriptions:
            values:
              unknown_grace_period_type: Unknown grace period type
              update_password: Password should be updated
              set_mfa: MFA should be configured
          default: unknown_grace_period_type
        created_at:
          type: string
          description: Date and time the grace period was created. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        expires_at:
          type: string
          description: Date and time the grace period expires. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - type
      - created_at
      - expires_at
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
x-refined-from:
- scaleway-database-openapi.yml
- scaleway-iam-openapi.yml
