openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Read Replicas API
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Read Replicas
  description: A Read Replica is a live copy of a Database Instance that behaves like an Instance, but that only allows read-only connections.
paths:
  /rdb/v1/regions/{region}/read-replicas:
    post:
      tags:
      - Read Replicas
      operationId: CreateReadReplica
      summary: Create a Read Replica
      description: Create a new Read Replica of a Database Instance. You must specify the `region` and the `instance_id`. You can only create a maximum of 3 Read Replicas per Database Instance.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: UUID of the Database Instance you want to create a Read Replica from. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                endpoint_spec:
                  type: array
                  description: Specification of the endpoint you want to create.
                  items:
                    $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplicaEndpointSpec'
                same_zone:
                  type: boolean
                  description: Defines whether to create the replica in the same availability zone as the main instance nodes or not.
                  nullable: true
              required:
              - instance_id
              x-properties-order:
              - instance_id
              - endpoint_spec
              - same_zone
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"instance_id\":\"6170692e-7363-616c-6577-61792e636f6d\"}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  instance_id=\"6170692e-7363-616c-6577-61792e636f6d\""
  /rdb/v1/regions/{region}/read-replicas/{read_replica_id}:
    get:
      tags:
      - Read Replicas
      operationId: GetReadReplica
      summary: Get a Read Replica
      description: Retrieve information about a Database Instance Read Replica. Full details about the Read Replica, like `endpoints`, `status` and `region` are returned in the response.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: read_replica_id
        description: UUID of the Read Replica. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Read Replicas
      operationId: DeleteReadReplica
      summary: Delete a Read Replica
      description: Delete a Read Replica of a Database Instance. You must specify the `region` and `read_replica_id` parameters of the Read Replica you want to delete.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: read_replica_id
        description: UUID of the Read Replica. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /rdb/v1/regions/{region}/read-replicas/{read_replica_id}/endpoints:
    post:
      tags:
      - Read Replicas
      operationId: CreateReadReplicaEndpoint
      summary: Create an endpoint for a Read Replica
      description: Create a new endpoint for a Read Replica. Read Replicas can have at most one direct access and one Private Network endpoint.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: read_replica_id
        description: UUID of the Read Replica. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint_spec:
                  type: array
                  description: Specification of the endpoint you want to create.
                  items:
                    $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplicaEndpointSpec'
              required:
              - endpoint_spec
              x-properties-order:
              - endpoint_spec
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"endpoint_spec\":[\"\"]}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/endpoints\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/endpoints\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  endpoint_spec:='[\"\"]'"
  /rdb/v1/regions/{region}/read-replicas/{read_replica_id}/promote:
    post:
      tags:
      - Read Replicas
      operationId: PromoteReadReplica
      summary: Promote a Read Replica
      description: Promote a Read Replica to Database Instance automatically.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: read_replica_id
        description: UUID of the Read Replica. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.Instance'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/promote\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/promote\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /rdb/v1/regions/{region}/read-replicas/{read_replica_id}/reset:
    post:
      tags:
      - Read Replicas
      operationId: ResetReadReplica
      summary: Resync a Read Replica
      description: 'When you resync a Read Replica, first it is reset, then its data is resynchronized from the primary node. Your Read Replica remains unavailable during the resync process. The duration of this process is proportional to the size of your Database Instance.

        The configured endpoints do not change.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: read_replica_id
        description: UUID of the Read Replica. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/reset\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/read-replicas/{read_replica_id}/reset\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.rdb.v1.Maintenance:
      type: object
      properties:
        starts_at:
          type: string
          description: Start date of the maintenance window. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        stops_at:
          type: string
          description: End date of the maintenance window. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        closed_at:
          type: string
          description: Closed maintenance date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        reason:
          type: string
          description: Maintenance information message.
        status:
          type: string
          description: Status of the maintenance.
          enum:
          - unknown
          - pending
          - done
          - canceled
          - ongoing
          default: unknown
        forced_at:
          type: string
          description: Time when Scaleway-side maintenance will be applied. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        is_applicable:
          type: boolean
          description: Indicate if the maintenance can be applied by the user.
      x-properties-order:
      - starts_at
      - stops_at
      - closed_at
      - reason
      - status
      - forced_at
      - is_applicable
    scaleway.rdb.v1.Instance:
      type: object
      properties:
        created_at:
          type: string
          description: Creation date (must follow the ISO 8601 format). (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        volume:
          type: object
          description: Volumes of the Database Instance.
          properties:
            type:
              $ref: '#/components/schemas/scaleway.rdb.v1.Volume.Type'
            size:
              type: integer
              description: (in bytes)
              format: uint64
            class:
              $ref: '#/components/schemas/scaleway.rdb.v1.StorageClass'
          x-properties-order:
          - type
          - size
          - class
        region:
          type: string
          description: Region the Database Instance is in.
        id:
          type: string
          description: UUID of the Database Instance. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
          description: Name of the Database Instance.
        organization_id:
          type: string
          description: Organization ID the Database Instance belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        project_id:
          type: string
          description: Project ID the Database Instance belongs to. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        status:
          type: string
          description: Status of the Database Instance.
          enum:
          - unknown
          - ready
          - provisioning
          - configuring
          - deleting
          - error
          - autohealing
          - locked
          - initializing
          - disk_full
          - backuping
          - snapshotting
          - restarting
          default: unknown
        engine:
          type: string
          description: Database engine of the database (PostgreSQL, MySQL, ...).
        upgradable_version:
          type: array
          description: Available database engine versions for upgrade.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.UpgradableVersion'
        endpoint:
          type: object
          description: Endpoint of the Database Instance.
          deprecated: true
          properties:
            id:
              type: string
              description: UUID of the endpoint. (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            ip:
              type: string
              description: IPv4 address of the endpoint. (IP address)
              example: 1.2.3.4
              nullable: true
              x-one-of: address
            port:
              type: integer
              description: TCP port of the endpoint.
              format: uint32
            name:
              type: string
              description: Name of the endpoint.
              nullable: true
            private_network:
              type: object
              description: Private Network details. One maximum per Database Instance or Read Replica (a Database Instance and its Read Replica can have different Private Networks). Cannot be updated (has to be deleted and recreated).
              properties:
                private_network_id:
                  type: string
                  description: UUID of the private network. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                service_ip:
                  type: string
                  description: CIDR notation of the endpoint IPv4 address. (IP network)
                  example: 1.2.3.4/32
                zone:
                  type: string
                  description: Private network zone.
                provisioning_mode:
                  type: string
                  description: How endpoint ips are provisioned.
                  enum:
                  - static
                  - ipam
                  default: static
              nullable: true
              x-properties-order:
              - private_network_id
              - service_ip
              - zone
              - provisioning_mode
              x-one-of: details
            load_balancer:
              type: object
              description: Load balancer details. Public endpoint for Database Instance which is systematically present. One per Database Instance.
              nullable: true
              x-one-of: details
            direct_access:
              type: object
              description: Direct access details. Public endpoint reserved for Read Replicas. One per Read Replica.
              nullable: true
              x-one-of: details
            hostname:
              type: string
              description: Hostname of the endpoint.
              nullable: true
              x-one-of: address
          x-properties-order:
          - id
          - ip
          - port
          - name
          - private_network
          - load_balancer
          - direct_access
          - hostname
        tags:
          type: array
          description: List of tags applied to the Database Instance.
          items:
            type: string
        settings:
          type: array
          description: Advanced settings of the Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
        backup_schedule:
          type: object
          description: Backup schedule of the Database Instance.
          properties:
            frequency:
              type: integer
              description: Frequency of the backup schedule (in hours).
              format: uint32
            retention:
              type: integer
              description: Default retention period of backups (in days).
              format: uint32
            disabled:
              type: boolean
              description: Defines whether the backup schedule feature is disabled.
            next_run_at:
              type: string
              description: Next run of the backup schedule (accurate to 10 minutes). (RFC 3339 format)
              format: date-time
              example: '2022-03-22T12:34:56.123456Z'
              nullable: true
          x-properties-order:
          - frequency
          - retention
          - disabled
          - next_run_at
        is_ha_cluster:
          type: boolean
          description: Defines whether or not High-Availability is enabled.
        read_replicas:
          type: array
          description: Read Replicas of the Database Instance.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.ReadReplica'
        node_type:
          type: string
          description: Node type of the Database Instance.
        init_settings:
          type: array
          description: List of engine settings to be set at database initialization.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.InstanceSetting'
        endpoints:
          type: array
          description: List of Database Instance endpoints.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.Endpoint'
        logs_policy:
          type: object
          description: Logs policy of the Database Instance.
          properties:
            max_age_retention:
              type: integer
              description: Max age (in days) of remote logs to keep on the Database Instance.
              format: uint32
              nullable: true
            total_disk_retention:
              type: integer
              description: Max disk size of remote logs to keep on the Database Instance. (in bytes)
              format: uint64
              nullable: true
          x-properties-order:
          - max_age_retention
          - total_disk_retention
        backup_same_region:
          type: boolean
          description: Store logical backups in the same region as the Database Instance.
        maintenances:
          type: array
          description: List of Database Instance maintenance events.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.Maintenance'
        encryption:
          type: object
          description: Encryption at rest settings for your Database Instance.
          properties:
            enabled:
              type: boolean
          x-properties-order:
          - enabled
      x-properties-order:
      - created_at
      - volume
      - region
      - id
      - name
      - organization_id
      - project_id
      - status
      - engine
      - upgradable_version
      - endpoint
      - tags
      - settings
      - backup_schedule
      - is_ha_cluster
      - read_replicas
      - node_type
      - init_settings
      - endpoints
      - logs_policy
      - backup_same_region
      - maintenances
      - encryption
    scaleway.rdb.v1.StorageClass:
      type: string
      enum:
      - unknown_storage_class
      - lssd
      - bssd
      - sbs
      default: unknown_storage_class
    scaleway.rdb.v1.InstanceSetting:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      x-properties-order:
      - name
      - value
    scaleway.rdb.v1.Endpoint:
      type: object
      properties:
        id:
          type: string
          description: UUID of the endpoint. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        ip:
          type: string
          description: IPv4 address of the endpoint. (IP address)
          example: 1.2.3.4
          nullable: true
          x-one-of: address
        port:
          type: integer
          description: TCP port of the endpoint.
          format: uint32
        name:
          type: string
          description: Name of the endpoint.
          nullable: true
        private_network:
          type: object
          description: Private Network details. One maximum per Database Instance or Read Replica (a Database Instance and its Read Replica can have different Private Networks). Cannot be updated (has to be deleted and recreated).
          properties:
            private_network_id:
              type: string
              description: UUID of the private network. (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            service_ip:
              type: string
              description: CIDR notation of the endpoint IPv4 address. (IP network)
              example: 1.2.3.4/32
            zone:
              type: string
              description: Private network zone.
            provisioning_mode:
              type: string
              description: How endpoint ips are provisioned.
              enum:
              - static
              - ipam
              default: static
          nullable: true
          x-properties-order:
          - private_network_id
          - service_ip
          - zone
          - provisioning_mode
          x-one-of: details
        load_balancer:
          type: object
          description: Load balancer details. Public endpoint for Database Instance which is systematically present. One per Database Instance.
          nullable: true
          x-one-of: details
        direct_access:
          type: object
          description: Direct access details. Public endpoint reserved for Read Replicas. One per Read Replica.
          nullable: true
          x-one-of: details
        hostname:
          type: string
          description: Hostname of the endpoint.
          nullable: true
          x-one-of: address
      x-properties-order:
      - id
      - ip
      - port
      - name
      - private_network
      - load_balancer
      - direct_access
      - hostname
    scaleway.rdb.v1.ReadReplica:
      type: object
      properties:
        id:
          type: string
          description: UUID of the Read Replica. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        endpoints:
          type: array
          description: Display Read Replica connection information.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.Endpoint'
        status:
          type: string
          description: Read replica status.
          enum:
          - unknown
          - provisioning
          - initializing
          - ready
          - deleting
          - error
          - locked
          - configuring
          - promoting
          default: unknown
        region:
          type: string
          description: Region the Read Replica is in.
        same_zone:
          type: boolean
          description: Whether the replica is in the same availability zone as the main instance nodes or not.
        instance_id:
          type: string
          description: UUID of the Database Instance.
      x-properties-order:
      - id
      - endpoints
      - status
      - region
      - same_zone
      - instance_id
    scaleway.rdb.v1.Volume.Type:
      type: string
      enum:
      - lssd
      - bssd
      - sbs_5k
      - sbs_15k
      default: lssd
    scaleway.rdb.v1.UpgradableVersion:
      type: object
      properties:
        id:
          type: string
          description: (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
        version:
          type: string
        minor_version:
          type: string
      x-properties-order:
      - id
      - name
      - version
      - minor_version
    scaleway.rdb.v1.ReadReplicaEndpointSpec:
      type: object
      properties:
        direct_access:
          type: object
          description: Direct access endpoint specifications. Public endpoint reserved for Read Replicas. One per Read Replica.
          nullable: true
          x-one-of: spec
        private_network:
          type: object
          description: Private Network endpoint specifications. One at the most per Read Replica. Cannot be updated (has to be deleted and recreated).
          properties:
            private_network_id:
              type: string
              description: UUID of the Private Network to be connected to the Read Replica. (UUID format)
              example: 6170692e-7363-616c-6577-61792e636f6d
            service_ip:
              type: string
              description: Endpoint IPv4 address with a CIDR notation. Refer to the official Scaleway documentation to learn more about IP and subnet limitations. (IP network)
              example: 1.2.3.4/32
              nullable: true
              x-one-of: config
            ipam_config:
              type: object
              description: Automated configuration of your Private Network endpoint with Scaleway IPAM service. One at the most per Database Instance or Read Replica (a Database Instance and its Read Replica can have different private networks). Cannot be updated (has to be deleted and recreated).
              nullable: true
              x-one-of: config
          nullable: true
          x-properties-order:
          - private_network_id
          - service_ip
          - ipam_config
          x-one-of: spec
      x-properties-order:
      - direct_access
      - private_network
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
