openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Engines API
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Engines
  description: A database engine is the software component that stores and retrieves your data from a database. Currently PostgreSQL 11, 12, 13 and 14 are available. MySQL is available in version 8.
paths:
  /rdb/v1/regions/{region}/database-engines:
    get:
      tags:
      - Engines
      operationId: ListDatabaseEngines
      summary: List available database engines
      description: List the PostgreSQL and MySQL database engines available at Scaleway.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: name
        description: Name of the database engine.
        schema:
          type: string
      - in: query
        name: version
        description: Version of the database engine.
        schema:
          type: string
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ListDatabaseEnginesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/database-engines\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/database-engines\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.rdb.v1.EngineVersion:
      type: object
      properties:
        version:
          type: string
          description: Database engine version.
        name:
          type: string
          description: Database engine name.
        end_of_life:
          type: string
          description: End of life date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        available_settings:
          type: array
          description: Engine settings available to be set.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.EngineSetting'
        disabled:
          type: boolean
          description: Disabled versions cannot be created.
        beta:
          type: boolean
          description: Beta status of engine version.
        available_init_settings:
          type: array
          description: Engine settings available to be set at database initialization.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.EngineSetting'
      x-properties-order:
      - version
      - name
      - end_of_life
      - available_settings
      - disabled
      - beta
      - available_init_settings
    scaleway.rdb.v1.EngineSetting:
      type: object
      properties:
        name:
          type: string
          description: Setting name from the database engine.
        default_value:
          type: string
          description: Value set when not specified.
        hot_configurable:
          type: boolean
          description: Setting can be applied without restarting.
        description:
          type: string
          description: Setting description.
        property_type:
          type: string
          description: Setting type.
          enum:
          - BOOLEAN
          - INT
          - STRING
          - FLOAT
          default: BOOLEAN
        unit:
          type: string
          description: Setting base unit.
          nullable: true
        string_constraint:
          type: string
          description: Validation regex for string type settings.
          nullable: true
        int_min:
          type: integer
          description: Minimum value for int types.
          format: int32
          nullable: true
        int_max:
          type: integer
          description: Maximum value for int types.
          format: int32
          nullable: true
        float_min:
          type: object
          description: Minimum value for float types.
          properties:
            value:
              type: number
              format: float
          x-properties-order:
          - value
        float_max:
          type: object
          description: Maximum value for float types.
          properties:
            value:
              type: number
              format: float
          x-properties-order:
          - value
      x-properties-order:
      - name
      - default_value
      - hot_configurable
      - description
      - property_type
      - unit
      - string_constraint
      - int_min
      - int_max
      - float_min
      - float_max
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.rdb.v1.DatabaseEngine:
      type: object
      properties:
        name:
          type: string
          description: Engine name.
        logo_url:
          type: string
          description: Engine logo URL.
        versions:
          type: array
          description: Available versions.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.EngineVersion'
        region:
          type: string
          description: Region of this Database Instance.
      x-properties-order:
      - name
      - logo_url
      - versions
      - region
    scaleway.rdb.v1.ListDatabaseEnginesResponse:
      type: object
      properties:
        engines:
          type: array
          description: List of the available database engines.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.DatabaseEngine'
        total_count:
          type: integer
          description: Total count of database engines available.
          format: uint32
      x-properties-order:
      - engines
      - total_count
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
