openapi: 3.2.0
info:
  title: Scaleway Triggers API
  version: '1.0'
  description: 'Operations tagged Triggers across 2 of this provider''s published API definitions: scaleway-serverless-containers-openapi.yml, scaleway-serverless-functions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.scaleway.com
tags:
- name: Triggers
  description: 'A trigger is a way to invoke a container based on specific events, such as a periodic schedule or a message arriving in a queue.


    When the event occurs, the trigger invokes the container, passing relevant information about the event to it.'
paths:
  /containers/v1/regions/{region}/triggers:
    get:
      tags:
      - Triggers
      operationId: ListTriggers
      summary: List all triggers the caller can access (read permission)
      description: 'By default, the triggers listed are ordered by creation date in ascending order. This can be modified via the `order_by` field.


        Additional parameters can be set in the query to filter, such as `organization_id`, `project_id`, `namespace_id`, or `container_id`.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        schema:
          $ref: '#/components/schemas/scaleway.containers.v1.ListTriggersRequest.OrderBy'
      - in: query
        name: organization_id
        schema:
          type: string
      - in: query
        name: project_id
        schema:
          type: string
      - in: query
        name: namespace_id
        schema:
          type: string
      - in: query
        name: container_id
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.ListTriggersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/triggers\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/containers/v1/regions/{region}/triggers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Triggers
      operationId: CreateTrigger
      summary: Create a new trigger for the container with the specified ID
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Trigger'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                container_id:
                  type: string
                  description: ID of the container to trigger.
                name:
                  type: string
                  description: Name of the trigger.
                description:
                  type: string
                  description: Description of the trigger.
                tags:
                  type: array
                  description: Tags of the trigger.
                  items:
                    type: string
                destination_config:
                  type: object
                  description: Configuration of the destination to trigger.
                  properties:
                    http_path:
                      type: string
                      description: The HTTP path to send the request to (e.g., "/my-webhook-endpoint").
                    http_method:
                      type: string
                      description: The HTTP method to use when sending the request (e.g., get, post, put, patch, delete). Must be specified as lowercase.
                      enum:
                      - unknown_http_method
                      - get
                      - post
                      - put
                      - patch
                      - delete
                      default: unknown_http_method
                  required:
                  - http_path
                  - http_method
                  x-properties-order:
                  - http_path
                  - http_method
                cron_config:
                  type: object
                  description: Configuration for a cron source.
                  properties:
                    schedule:
                      type: string
                      description: UNIX cron schedule to run job (e.g., "* * * * *").
                    timezone:
                      type: string
                      description: Timezone for the cron schedule, in tz database format (e.g., "Europe/Paris").
                    body:
                      type: string
                      description: Body to send to the container when the trigger is invoked.
                    headers:
                      type: object
                      description: Additional headers to send to the container when the trigger is invoked.
                      properties:
                        <headerKey>:
                          type: string
                          description: Additional headers to send to the container when the trigger is invoked.
                      additionalProperties: true
                  nullable: true
                  required:
                  - schedule
                  - timezone
                  x-properties-order:
                  - schedule
                  - timezone
                  - body
                  - headers
                  x-one-of: source_config
                sqs_config:
                  type: object
                  description: Configuration for an SQS queue source.
                  properties:
                    region:
                      type: string
                      description: The region where the SQS queue is hosted (e.g., "fr-par", "nl-ams").
                    endpoint:
                      type: string
                      description: Endpoint URL to use to access SQS (e.g., "https://sqs.mnq.fr-par.scaleway.com").
                    access_key_id:
                      type: string
                      description: The access key for accessing the SQS queue.
                    secret_access_key:
                      type: string
                      description: The secret key for accessing the SQS queue.
                    queue_url:
                      type: string
                      description: The URL of the SQS queue to monitor for messages.
                  nullable: true
                  required:
                  - region
                  - endpoint
                  - access_key_id
                  - secret_access_key
                  - queue_url
                  x-properties-order:
                  - region
                  - endpoint
                  - access_key_id
                  - secret_access_key
                  - queue_url
                  x-one-of: source_config
                nats_config:
                  type: object
                  description: Configuration for a NATS source.
                  properties:
                    server_urls:
                      type: array
                      description: The URLs of the NATS server (e.g., "nats://nats.mnq.fr-par.scaleway.com:4222").
                      items:
                        type: string
                    subject:
                      type: string
                      description: NATS subject to subscribe to (e.g., "my-subject").
                    credentials_file_content:
                      type: string
                      description: 'The content of the NATS credentials file.

                        The credentials from this file will be used to authenticate with the NATS server and subscribe to the specified subject.'
                  nullable: true
                  required:
                  - server_urls
                  - subject
                  - credentials_file_content
                  x-properties-order:
                  - server_urls
                  - subject
                  - credentials_file_content
                  x-one-of: source_config
              required:
              - container_id
              - name
              x-properties-order:
              - container_id
              - name
              - description
              - tags
              - destination_config
              - cron_config
              - sqs_config
              - nats_config
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"container_id\":\"string\",\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/triggers\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/containers/v1/regions/{region}/triggers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  container_id=\"string\" \\\n  name=\"string\""
    servers:
    - url: https://api.scaleway.com
  /containers/v1/regions/{region}/triggers/{trigger_id}:
    get:
      tags:
      - Triggers
      operationId: GetTrigger
      summary: Get the trigger associated with the specified ID
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Trigger'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Triggers
      operationId: UpdateTrigger
      summary: Update the trigger associated with the specified ID
      description: 'When updating a trigger, you cannot specify a different source type than the one already set.

        Only fields present in the request are updated; others are left untouched.'
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        description: ID of the trigger to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Trigger'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the trigger.
                description:
                  type: string
                  description: Description of the trigger.
                tags:
                  type: array
                  description: Tags of the trigger.
                  nullable: true
                  items:
                    type: string
                destination_config:
                  type: object
                  description: Configuration of the destination to trigger.
                  properties:
                    http_path:
                      type: string
                      description: The HTTP path to send the request to (e.g., "/my-webhook-endpoint").
                    http_method:
                      type: string
                      description: The HTTP method to use when sending the request (e.g., get, post, put, patch, delete). Must be specified as lowercase.
                      enum:
                      - unknown_http_method
                      - get
                      - post
                      - put
                      - patch
                      - delete
                      default: unknown_http_method
                  x-properties-order:
                  - http_path
                  - http_method
                cron_config:
                  type: object
                  description: Configuration for a cron source.
                  properties:
                    schedule:
                      type: string
                      description: UNIX cron schedule to run job (e.g., "* * * * *").
                    timezone:
                      type: string
                      description: Timezone for the cron schedule, in tz database format (e.g., "Europe/Paris").
                    body:
                      type: string
                      description: Body to send to the container when the trigger is invoked.
                    headers:
                      type: object
                      description: Additional headers to send to the container when the trigger is invoked.
                      properties:
                        <key>:
                          type: string
                      nullable: true
                  nullable: true
                  x-properties-order:
                  - schedule
                  - timezone
                  - body
                  - headers
                  x-one-of: source_config
                sqs_config:
                  type: object
                  description: Configuration for an SQS queue source.
                  properties:
                    region:
                      type: string
                      description: The region where the SQS queue is hosted (e.g., "fr-par", "nl-ams").
                    endpoint:
                      type: string
                      description: Endpoint URL to use to access SQS (e.g., "https://sqs.mnq.fr-par.scaleway.com").
                    access_key_id:
                      type: string
                      description: The access key for accessing the SQS queue.
                    secret_access_key:
                      type: string
                      description: The secret key for accessing the SQS queue.
                    queue_url:
                      type: string
                      description: The URL of the SQS queue to monitor for messages.
                  nullable: true
                  x-properties-order:
                  - region
                  - endpoint
                  - access_key_id
                  - secret_access_key
                  - queue_url
                  x-one-of: source_config
                nats_config:
                  type: object
                  description: Configuration for a NATS source.
                  properties:
                    server_urls:
                      type: array
                      description: The URLs of the NATS server (e.g., "nats://nats.mnq.fr-par.scaleway.com:4222").
                      nullable: true
                      items:
                        type: string
                    subject:
                      type: string
                      description: NATS subject to subscribe to (e.g., "my-subject").
                    credentials_file_content:
                      type: string
                      description: 'The content of the NATS credentials file.

                        The credentials from this file will be used to authenticate with the NATS server and subscribe to the specified subject.'
                  nullable: true
                  x-properties-order:
                  - server_urls
                  - subject
                  - credentials_file_content
                  x-one-of: source_config
              x-properties-order:
              - name
              - description
              - tags
              - destination_config
              - cron_config
              - sqs_config
              - nats_config
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Triggers
      operationId: DeleteTrigger
      summary: Delete the trigger associated with the specified ID
      description: This action **cannot** be undone.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        description: ID of the trigger to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.containers.v1.Trigger'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/containers/v1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
  /functions/v1beta1/regions/{region}/triggers:
    get:
      tags:
      - Triggers
      operationId: ListTriggers
      summary: List all triggers
      description: List all triggers belonging to a specified Organization or Project.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: query
        name: page
        description: Page number to return.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Maximum number of triggers to return per page.
        schema:
          type: integer
          format: uint32
      - in: query
        name: order_by
        description: Order in which to return results.
        schema:
          type: string
          enum:
          - created_at_asc
          - created_at_desc
          x-enum-descriptions:
            values:
              created_at_asc: Order by creation date ascending
              created_at_desc: Order by creation date descending
          default: created_at_asc
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.ListTriggersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Triggers
      operationId: CreateTrigger
      summary: Create a trigger
      description: Create a new trigger for a specified function.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Trigger'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the trigger.
                function_id:
                  type: string
                  description: ID of the function to trigger.
                description:
                  type: string
                  description: Description of the trigger.
                  nullable: true
                scw_sqs_config:
                  type: object
                  description: Configuration for a Scaleway Messaging and Queuing SQS queue.
                  properties:
                    queue:
                      type: string
                      description: Name of the SQS queue the trigger should listen to.
                    mnq_project_id:
                      type: string
                      description: 'ID of the Messaging and Queuing project.

                        You must have activated SQS on this project.'
                    mnq_region:
                      type: string
                      description: 'Region in which the Messaging and Queuing project is activated.

                        Currently, only the `fr-par` and `nl-ams` regions are available.'
                  nullable: true
                  required:
                  - queue
                  - mnq_project_id
                  - mnq_region
                  x-properties-order:
                  - queue
                  - mnq_project_id
                  - mnq_region
                  x-one-of: config
                scw_nats_config:
                  type: object
                  description: Configuration for a Scaleway Messaging and Queuing NATS subject.
                  properties:
                    subject:
                      type: string
                      description: Name of the NATS subject the trigger should listen to.
                    mnq_nats_account_id:
                      type: string
                      description: ID of the Messaging and Queuing NATS account.
                    mnq_project_id:
                      type: string
                      description: ID of the Messaging and Queuing project.
                    mnq_region:
                      type: string
                      description: 'Region in which the Messaging and Queuing project is activated.

                        Currently, only the `fr-par` and `nl-ams` regions are available.'
                  nullable: true
                  required:
                  - subject
                  - mnq_nats_account_id
                  - mnq_region
                  x-properties-order:
                  - subject
                  - mnq_nats_account_id
                  - mnq_project_id
                  - mnq_region
                  x-one-of: config
              required:
              - name
              - function_id
              x-properties-order:
              - name
              - function_id
              - description
              - scw_sqs_config
              - scw_nats_config
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"function_id\":\"string\",\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  function_id=\"string\" \\\n  name=\"string\""
    servers:
    - url: https://api.scaleway.com
  /functions/v1beta1/regions/{region}/triggers/{trigger_id}:
    get:
      tags:
      - Triggers
      operationId: GetTrigger
      summary: Get a trigger
      description: Get a trigger with a specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        description: ID of the trigger to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Trigger'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Triggers
      operationId: UpdateTrigger
      summary: Update a trigger
      description: Update a trigger with a specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        description: ID of the trigger to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Trigger'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the trigger.
                  nullable: true
                description:
                  type: string
                  description: Description of the trigger.
                  nullable: true
              x-properties-order:
              - name
              - description
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Triggers
      operationId: DeleteTrigger
      summary: Delete a trigger
      description: Delete a trigger with a specified ID.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: trigger_id
        description: ID of the trigger to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.functions.v1beta1.Trigger'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/functions/v1beta1/regions/{region}/triggers/{trigger_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    servers:
    - url: https://api.scaleway.com
components:
  schemas:
    scaleway.containers.v1.ListTriggersRequest.OrderBy:
      type: string
      enum:
      - created_at_asc
      - created_at_desc
      - name_asc
      - name_desc
      default: created_at_asc
    scaleway.containers.v1.Trigger:
      type: object
      properties:
        id:
          type: string
          description: Trigger unique ID. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        name:
          type: string
          description: Name of the trigger.
        description:
          type: string
          description: Description of the trigger.
        tags:
          type: array
          description: Tags of the trigger.
          items:
            type: string
        status:
          type: string
          description: Trigger status.
          enum:
          - unknown_status
          - ready
          - deleting
          - error
          - updating
          - creating
          - locking
          - locked
          - upgrading
          x-enum-descriptions:
            values:
              unknown_status: Unknown status
              ready: Ready status
              deleting: Deleting status
              error: Error status
              updating: Updating status. Resource is being redeployed to match the desired configuration
              creating: Creating status. Resource is being created
              locking: Locking status
              locked: Locked status. Resource cannot be modified
              upgrading: Upgrading status. Resource is being upgraded as part of a planned maintenance. No downtime is expected
          default: unknown_status
        error_message:
          type: string
          description: Trigger last error message.
        container_id:
          type: string
          description: ID of the container to trigger. (UUID format)
          example: 6170692e-7363-616c-6577-61792e636f6d
        destination_config:
          type: object
          description: Configuration of the destination to trigger.
          properties:
            http_path:
              type: string
              description: The HTTP path to send the request to (e.g., "/my-webhook-endpoint").
            http_method:
              type: string
              description: The HTTP method to use when sending the request (e.g., get, post, put, patch, delete). Must be specified as lowercase.
              enum:
              - unknown_http_method
              - get
              - post
              - put
              - patch
              - delete
              default: unknown_http_method
          x-properties-order:
          - http_path
          - http_method
        source_type:
          type: string
          description: Type of source that will trigger the container.
          enum:
          - unknown_source_type
          - cron
          - sqs
          - nats
          x-enum-descriptions:
            values:
              unknown_source_type: Unknown source type
              cron: Cron source type
              sqs: SQS source type
              nats: NATS source type
          default: unknown_source_type
        cron_config:
          type: object
          description: Configuration for a cron source.
          properties:
            schedule:
              type: string
              description: UNIX cron schedule to run job (e.g., "* * * * *").
            timezone:
              type: string
              description: Timezone for the cron schedule, in tz database format (e.g., "Europe/Paris").
            body:
              type: string
              description: Body to send to the container when the trigger is invoked.
            headers:
              type: object
              description: Additional headers to send to the container when the trigger is invoked.
              properties:
                <headerKey>:
                  type: string
                  description: Additional headers to send to the container when the trigger is invoked.
              additionalProperties: true
          nullable: true
          x-properties-order:
          - schedule
          - timezone
          - body
          - headers
          x-one-of: source_config
        sqs_config:
          type: object
          description: Configuration for an SQS queue source.
          properties:
            region:
              type: string
              description: The region where the SQS queue is hosted (e.g., "fr-par", "nl-ams").
            endpoint:
              type: string
              description: Endpoint URL to use to access SQS (e.g., "https://sqs.mnq.fr-par.scaleway.com").
            access_key_id:
              type: string
              description: The access key for accessing the SQS queue.
            queue_url:
              type: string
              description: The URL of the SQS queue to monitor for messages.
          nullable: true
          x-properties-order:
          - region
          - endpoint
          - access_key_id
          - queue_url
          x-one-of: source_config
        nats_config:
          type: object
          description: Configuration for a NATS source.
          properties:
            server_urls:
              type: array
              description: The URLs of the NATS servers (e.g., "nats://nats.mnq.fr-par.scaleway.com:4222").
              items:
                type: string
            subject:
              type: string
              description: NATS subject to subscribe to (e.g., "my-subject").
          nullable: true
          x-properties-order:
          - server_urls
          - subject
          x-one-of: source_config
        created_at:
          type: string
          description: Trigger creation date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Trigger last update date. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
      x-properties-order:
      - id
      - name
      - description
      - tags
      - status
      - error_message
      - container_id
      - destination_config
      - source_type
      - cron_config
      - sqs_config
      - nats_config
      - created_at
      - updated_at
    scaleway.containers.v1.ListTriggersResponse:
      type: object
      properties:
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/scaleway.containers.v1.Trigger'
        total_count:
          type: integer
          format: uint64
      x-properties-order:
      - triggers
      - total_count
    scaleway.functions.v1beta1.Trigger:
      type: object
      properties:
        id:
          type: string
          description: ID of the trigger.
        name:
          type: string
          description: Name of the trigger.
        description:
          type: string
          description: Description of the trigger.
        function_id:
          type: string
          description: ID of the function to trigger.
        input_type:
          type: string
          description: Type of the input.
          enum:
          - unknown_input_type
          - sqs
          - scw_sqs
          - nats
          - scw_nats
          x-enum-descriptions:
            values:
              unknown_input_type: Unknown input type
              scw_sqs: Scaleway Messaging and Queuing SQS queue
              scw_nats: Scaleway Messaging and Queuing NATS subject
          default: unknown_input_type
        status:
          type: string
          description: Status of the trigger.
          enum:
          - unknown_status
          - ready
          - deleting
          - error
          - creating
          - pending
          x-enum-descriptions:
            values:
              unknown_status: Unknown status
              ready: Ready status
              deleting: Deleting status
              error: Error status
              creating: Creating status
              pending: Pending status
          default: unknown_status
        error_message:
          type: string
          description: Error message of the trigger.
          nullable: true
        scw_sqs_config:
          type: object
          description: Configuration for a Scaleway Messaging and Queuing SQS queue.
          properties:
            queue:
              type: string
              description: Name of the SQS queue the trigger listens to.
            mnq_project_id:
              type: string
              description: ID of the Messaging and Queuing project.
            mnq_region:
              type: string
              description: 'Region in which the Messaging and Queuing project is activated.

                Currently, only the `fr-par` and `nl-ams` regions are available.'
            mnq_credential_id:
              type: string
              description: ID of the Messaging and Queuing credentials used to read from the SQS queue.
              nullable: true
          nullable: true
          x-properties-order:
          - queue
          - mnq_project_id
          - mnq_region
          - mnq_credential_id
          x-one-of: config
        scw_nats_config:
          type: object
          description: Configuration for a Scaleway Messaging and Queuing NATS subject.
          properties:
            subject:
              type: string
              description: Name of the NATS subject the trigger listens to.
            mnq_nats_account_id:
              type: string
              description: ID of the Messaging and Queuing NATS account.
            mnq_project_id:
              type: string
              description: ID of the Messaging and Queuing project.
            mnq_region:
              type: string
              description: 'Region in which the Messaging and Queuing project is activated.

                Currently, only the `fr-par` and `nl-ams` regions are available.'
            mnq_credential_id:
              type: string
              description: ID of the Messaging and Queuing credentials used to subscribe to the NATS subject.
              nullable: true
          nullable: true
          x-properties-order:
          - subject
          - mnq_nats_account_id
          - mnq_project_id
          - mnq_region
          - mnq_credential_id
          x-one-of: config
      x-properties-order:
      - id
      - name
      - description
      - function_id
      - input_type
      - status
      - error_message
      - scw_sqs_config
      - scw_nats_config
    scaleway.functions.v1beta1.ListTriggersResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total count of existing triggers (matching any filters specified).
          format: uint32
        triggers:
          type: array
          description: Triggers on this page.
          items:
            $ref: '#/components/schemas/scaleway.functions.v1beta1.Trigger'
      x-properties-order:
      - total_count
      - triggers
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
x-refined-from:
- scaleway-serverless-containers-openapi.yml
- scaleway-serverless-functions-openapi.yml
