openapi: 3.2.0
info:
  title: Transactional Email Offers API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Offers
  description: This section allows you to manage and get get subscribed information about your project email offer.
paths:
  /transactional-email/v1alpha1/regions/{region}/offer-subscriptions:
    get:
      tags:
      - Offers
      operationId: ListOfferSubscriptions
      summary: Get information about subscribed offers
      description: Retrieve information about the offers you are subscribed to using the `project_id` and `region` parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: project_id
        description: ID of the Project. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListOfferSubscriptionsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offer-subscriptions?project_id=6170692e-7363-616c-6577-61792e636f6d\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offer-subscriptions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  project_id==6170692e-7363-616c-6577-61792e636f6d"
    patch:
      tags:
      - Offers
      operationId: UpdateOfferSubscription
      summary: Update a subscribed offer
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.OfferSubscription'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: string
                  description: ID of the Project. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                name:
                  type: string
                  description: Name of the offer-subscription.
                  enum:
                  - unknown_name
                  - essential
                  - scale
                  x-enum-descriptions:
                    values:
                      unknown_name: If unspecified, the offer name is unknown by default
                      essential: The 'essential' offer
                      scale: The 'scale' offer
                  default: unknown_name
              x-properties-order:
              - project_id
              - name
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"project_id\":\"6170692e-7363-616c-6577-61792e636f6d\"}' \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offer-subscriptions\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offer-subscriptions\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  project_id=\"6170692e-7363-616c-6577-61792e636f6d\""
  /transactional-email/v1alpha1/regions/{region}/offers:
    get:
      tags:
      - Offers
      operationId: ListOffers
      summary: List the available offers
      description: Retrieve the list of the available and free-of-charge offers you can subscribe to.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListOffersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offers\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/offers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /transactional-email/v1alpha1/regions/{region}/pools:
    get:
      tags:
      - Offers
      operationId: ListPools
      summary: Get information about a sending pool
      description: Retrieve information about a sending pool, including its creation status and configuration parameters.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: page
        description: Requested page number. Value must be greater or equal to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: Requested page size. Value must be between 1 and 1000.
        schema:
          type: integer
          format: uint32
      - in: query
        name: project_id
        description: ID of the Project. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListPoolsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/pools?project_id=6170692e-7363-616c-6577-61792e636f6d\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/pools\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  project_id==6170692e-7363-616c-6577-61792e636f6d"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.ListPoolsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of pools matching the requested criteria.
          format: uint64
        pools:
          type: array
          description: Single page of pools matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Pool'
      x-properties-order:
      - total_count
      - pools
    scaleway.transactional_email.v1alpha1.ListOffersResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of offers matching the requested criteria.
          format: uint64
        offers:
          type: array
          description: Single page of offers matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Offer'
      x-properties-order:
      - total_count
      - offers
    scaleway.transactional_email.v1alpha1.ListOfferSubscriptionsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of offer-subscriptions matching the requested criteria.
          format: uint64
        offer_subscriptions:
          type: array
          description: Single page of offer-subscriptions matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.OfferSubscription'
      x-properties-order:
      - total_count
      - offer_subscriptions
    scaleway.transactional_email.v1alpha1.Offer:
      type: object
      properties:
        name:
          type: string
          description: Name of the offer.
          enum:
          - unknown_name
          - essential
          - scale
          x-enum-descriptions:
            values:
              unknown_name: If unspecified, the offer name is unknown by default
              essential: The 'essential' offer
              scale: The 'scale' offer
          default: unknown_name
        created_at:
          type: string
          description: Date and time of the offer creation. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        commitment_period:
          type: string
          description: Period of commitment. (in seconds)
          example: 2.5s
          nullable: true
        sla:
          type: number
          description: Service Level Agreement percentage of the offer.
          format: float
        max_domains:
          type: integer
          description: Max number of checked domains that can be associated with the offer.
          format: int32
        max_dedicated_ips:
          type: integer
          description: Max number of dedicated IPs that can be associated with the offer.
          format: int32
        included_monthly_emails:
          type: integer
          description: Number of emails included in the offer per month.
          format: int32
        max_webhooks_per_domain:
          type: integer
          description: Max number of webhooks that can be associated with the offer.
          format: int32
        max_custom_blocklists_per_domain:
          type: integer
          description: Max number of active custom blocklists that can be associated with the offer.
          format: int32
      x-properties-order:
      - name
      - created_at
      - commitment_period
      - sla
      - max_domains
      - max_dedicated_ips
      - included_monthly_emails
      - max_webhooks_per_domain
      - max_custom_blocklists_per_domain
    scaleway.transactional_email.v1alpha1.Pool:
      type: object
      properties:
        project_id:
          type: string
          description: ID of the Project.
        status:
          type: string
          description: Status of the pool.
          enum:
          - unknown_status
          - disabled
          - creating
          - ready
          - error
          x-enum-descriptions:
            values:
              unknown_status: If unspecified, the status is unknown by default
              disabled: The pool is disabled
              creating: The pool is being created
              ready: The pool is ready to be used
              error: The pool has an error status
          default: unknown_status
        details:
          type: string
          description: Details of the pool.
        zone:
          type: string
          description: Zone of the pool.
        ips:
          type: array
          description: IPs of the pool. (IP address)
          example:
          - 1.2.3.4
          items:
            type: string
        reverse:
          type: string
          description: Reverse hostname of all IPs of the pool.
      x-properties-order:
      - project_id
      - status
      - details
      - zone
      - ips
      - reverse
    scaleway.transactional_email.v1alpha1.OfferSubscription:
      type: object
      properties:
        organization_id:
          type: string
          description: ID of the offer-subscription Organization.
        project_id:
          type: string
          description: ID of the offer-subscription Project.
        offer_name:
          type: string
          description: Name of the offer associated with the Project.
          enum:
          - unknown_name
          - essential
          - scale
          x-enum-descriptions:
            values:
              unknown_name: If unspecified, the offer name is unknown by default
              essential: The 'essential' offer
              scale: The 'scale' offer
          default: unknown_name
        subscribed_at:
          type: string
          description: Date and time of the subscription. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        cancellation_available_at:
          type: string
          description: Date and time of the end of the offer-subscription commitment. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        sla:
          type: number
          description: Service Level Agreement percentage of the offer-subscription.
          format: float
        max_domains:
          type: integer
          description: Max number of domains that can be associated with the offer-subscription for a particular Project.
          format: int32
        max_dedicated_ips:
          type: integer
          description: Max number of dedicated IPs that can be associated with the offer-subscription for a particular Project.
          format: int32
        max_webhooks_per_domain:
          type: integer
          description: Max number of webhooks that can be associated with the offer-subscription for a particular Project.
          format: int32
        max_custom_blocklists_per_domain:
          type: integer
          description: Max number of custom blocklists that can be associated with the offer-subscription for a particular Project.
          format: int32
        included_monthly_emails:
          type: integer
          description: Number of emails included in the offer-subscription per month.
          format: int32
      x-properties-order:
      - organization_id
      - project_id
      - offer_name
      - subscribed_at
      - cancellation_available_at
      - sla
      - max_domains
      - max_dedicated_ips
      - max_webhooks_per_domain
      - max_custom_blocklists_per_domain
      - included_monthly_emails
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
