openapi: 3.2.0
info:
  title: Instance Placement Groups API
  description: Scaleway Instances are virtual machines in the cloud.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Placement Groups
  description: 'Placement groups allow the user to express a preference regarding

    the physical position of a group of Instances.'
paths:
  /instance/v1/zones/{zone}/placement_groups:
    get:
      tags:
      - Placement Groups
      operationId: ListPlacementGroups
      summary: List placement groups
      description: List all placement groups in a specified Availability Zone.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: query
        name: per_page
        description: A positive integer lower or equal to 100 to select the number of items to return.
        schema:
          type: integer
          format: uint32
      - in: query
        name: page
        description: A positive integer to choose the page to return.
        schema:
          type: integer
          format: int32
      - in: query
        name: organization
        description: List only placement groups of this Organization ID.
        schema:
          type: string
      - in: query
        name: project
        description: List only placement groups of this Project ID.
        schema:
          type: string
      - in: query
        name: tags
        description: List placement groups with these exact tags (to filter with several tags, use commas to separate them).
        schema:
          type: string
      - in: query
        name: name
        description: Filter placement groups by name (for eg. "cluster1" will return "cluster100" and "cluster1" but not "foo").
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.ListPlacementGroupsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Placement Groups
      operationId: CreatePlacementGroup
      summary: Create a placement group
      description: Create a new placement group in a specified Availability Zone.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.CreatePlacementGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the placement group.
                organization:
                  type: string
                  description: Organization ID of the placement group.
                  deprecated: true
                  nullable: true
                  x-one-of: ProjectIdentifier
                project:
                  type: string
                  description: Project ID of the placement group.
                  nullable: true
                  x-one-of: ProjectIdentifier
                tags:
                  type: array
                  description: Tags of the placement group.
                  items:
                    type: string
                policy_mode:
                  type: string
                  description: Operating mode of the placement group.
                  enum:
                  - optional
                  - enforced
                  default: optional
                policy_type:
                  type: string
                  description: Policy type of the placement group.
                  enum:
                  - max_availability
                  - low_latency
                  default: max_availability
              x-properties-order:
              - name
              - organization
              - project
              - tags
              - policy_mode
              - policy_type
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\""
  /instance/v1/zones/{zone}/placement_groups/{placement_group_id}:
    get:
      tags:
      - Placement Groups
      operationId: GetPlacementGroup
      summary: Get a placement group
      description: Get the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group you want to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetPlacementGroupResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Placement Groups
      operationId: SetPlacementGroup
      summary: Set placement group
      description: Set all parameters of the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.SetPlacementGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                organization:
                  type: string
                policy_mode:
                  $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup.PolicyMode'
                policy_type:
                  $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup.PolicyType'
                project:
                  type: string
                tags:
                  $ref: '#/components/schemas/scaleway.std.StringsValue'
              x-properties-order:
              - name
              - organization
              - policy_mode
              - policy_type
              - project
              - tags
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"string\",\n    \"organization\": \"string\",\n    \"project\": \"string\"\n  }' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\" \\\n  organization=\"string\" \\\n  project=\"string\""
    patch:
      tags:
      - Placement Groups
      operationId: UpdatePlacementGroup
      summary: Update a placement group
      description: Update one or more parameter of the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.UpdatePlacementGroupResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the placement group.
                  nullable: true
                tags:
                  type: array
                  description: Tags of the placement group.
                  nullable: true
                  items:
                    type: string
                policy_mode:
                  type: string
                  description: Operating mode of the placement group.
                  enum:
                  - optional
                  - enforced
                  default: optional
                policy_type:
                  type: string
                  description: Policy type of the placement group.
                  enum:
                  - max_availability
                  - low_latency
                  default: max_availability
              x-properties-order:
              - name
              - tags
              - policy_mode
              - policy_type
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    delete:
      tags:
      - Placement Groups
      operationId: DeletePlacementGroup
      summary: Delete the specified placement group
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group you want to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
  /instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers:
    get:
      tags:
      - Placement Groups
      operationId: GetPlacementGroupServers
      summary: Get placement group servers
      description: Get all Instances belonging to the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group you want to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.GetPlacementGroupServersResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    put:
      tags:
      - Placement Groups
      operationId: SetPlacementGroupServers
      summary: Set placement group servers
      description: Set all Instances belonging to the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group you want to set.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.SetPlacementGroupServersResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                servers:
                  type: array
                  description: An array of the Instances' UUIDs you want to configure.
                  items:
                    type: string
              required:
              - servers
              x-properties-order:
              - servers
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"servers\":[\"string\"]}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\""
      - lang: HTTPie
        source: "http PUT \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  servers:='[\"string\"]'"
    patch:
      tags:
      - Placement Groups
      operationId: UpdatePlacementGroupServers
      summary: Update placement group servers
      description: Update all Instances belonging to the specified placement group.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - fr-par-3
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
          - it-mil-1
      - in: path
        name: placement_group_id
        description: UUID of the placement group you want to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.instance.v1.UpdatePlacementGroupServersResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                servers:
                  type: array
                  description: An array of the Instances' UUIDs you want to configure.
                  items:
                    type: string
              required:
              - servers
              x-properties-order:
              - servers
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"servers\":[\"string\"]}' \\\n  \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/instance/v1/zones/{zone}/placement_groups/{placement_group_id}/servers\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  servers:='[\"string\"]'"
components:
  schemas:
    scaleway.std.StringsValue:
      type: array
      nullable: true
      items:
        type: string
    scaleway.instance.v1.UpdatePlacementGroupResponse:
      type: object
      properties:
        placement_group:
          $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup'
      x-properties-order:
      - placement_group
    scaleway.instance.v1.ListPlacementGroupsResponse:
      type: object
      properties:
        placement_groups:
          type: array
          description: List of placement groups.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup'
      x-properties-order:
      - placement_groups
    scaleway.instance.v1.UpdatePlacementGroupServersResponse:
      type: object
      properties:
        servers:
          type: array
          description: Instances attached to the placement group.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroupServer'
      x-properties-order:
      - servers
    scaleway.instance.v1.GetPlacementGroupResponse:
      type: object
      properties:
        placement_group:
          $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup'
      x-properties-order:
      - placement_group
    scaleway.instance.v1.PlacementGroup:
      type: object
      properties:
        id:
          type: string
          description: Placement group unique ID.
        name:
          type: string
          description: Placement group name.
        organization:
          type: string
          description: Placement group Organization ID.
        project:
          type: string
          description: Placement group Project ID.
        tags:
          type: array
          description: Placement group tags.
          items:
            type: string
        policy_mode:
          type: string
          description: Select the failure mode when the placement cannot be respected, either optional or enforced.
          enum:
          - optional
          - enforced
          default: optional
        policy_type:
          type: string
          description: Select the behavior of the placement group, either low_latency (group) or max_availability (spread).
          enum:
          - max_availability
          - low_latency
          default: max_availability
        policy_respected:
          type: boolean
          description: 'True if the policy is respected, false otherwise.

            In the server endpoints the value is always false as it is deprecated.

            In the placement group endpoints the value is correct.'
        zone:
          type: string
          description: Zone in which the placement group is located.
      x-properties-order:
      - id
      - name
      - organization
      - project
      - tags
      - policy_mode
      - policy_type
      - policy_respected
      - zone
    scaleway.instance.v1.GetPlacementGroupServersResponse:
      type: object
      properties:
        servers:
          type: array
          description: Instances attached to the placement group.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroupServer'
      x-properties-order:
      - servers
    scaleway.instance.v1.PlacementGroupServer:
      type: object
      properties:
        id:
          type: string
          description: Instance UUID.
        name:
          type: string
          description: Instance name.
        policy_respected:
          type: boolean
          description: Defines whether the placement group policy is respected (either 1 or 0).
      x-properties-order:
      - id
      - name
      - policy_respected
    scaleway.instance.v1.SetPlacementGroupResponse:
      type: object
      properties:
        placement_group:
          $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup'
      x-properties-order:
      - placement_group
    scaleway.instance.v1.PlacementGroup.PolicyMode:
      type: string
      enum:
      - optional
      - enforced
      default: optional
    scaleway.instance.v1.CreatePlacementGroupResponse:
      type: object
      properties:
        placement_group:
          $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroup'
      x-properties-order:
      - placement_group
    scaleway.instance.v1.SetPlacementGroupServersResponse:
      type: object
      properties:
        servers:
          type: array
          description: Instances attached to the placement group.
          items:
            $ref: '#/components/schemas/scaleway.instance.v1.PlacementGroupServer'
      x-properties-order:
      - servers
    scaleway.instance.v1.PlacementGroup.PolicyType:
      type: string
      enum:
      - max_availability
      - low_latency
      default: max_availability
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
