openapi: 3.2.0
info:
  title: Transactional Email Blocklist API
  description: Transactional Email is a platform that allows you to send transactional emails.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Blocklist
  description: This section allows you to manage the blocklist of your emails.
paths:
  /transactional-email/v1alpha1/regions/{region}/blocklists:
    get:
      tags:
      - Blocklist
      operationId: ListBlocklists
      summary: List blocklists
      description: Retrieve the list of blocklists.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: query
        name: order_by
        description: (Optional) List blocklist corresponding to specific criteria.
        schema:
          type: string
          enum:
          - created_at_desc
          - created_at_asc
          - ends_at_desc
          - ends_at_asc
          x-enum-descriptions:
            values:
              created_at_desc: Order by creation date (descending chronological order)
              created_at_asc: Order by creation date (ascending chronological order)
              ends_at_desc: Order by blocklist ends date (descending chronological order)
              ends_at_asc: Order by blocklist ends date (ascending chronological order)
          default: created_at_desc
      - in: query
        name: page
        description: (Optional) Requested page number. Value must be greater or equal to 1.
        schema:
          type: integer
          format: int32
      - in: query
        name: page_size
        description: (Optional) Requested page size. Value must be between 1 and 100.
        schema:
          type: integer
          format: uint32
      - in: query
        name: domain_id
        description: (Optional) Filter by a domain ID. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      - in: query
        name: email
        description: (Optional) Filter by an email address.
        schema:
          type: string
      - in: query
        name: type
        description: (Optional) Filter by a blocklist type.
        schema:
          type: string
          enum:
          - unknown_type
          - mailbox_full
          - mailbox_not_found
          x-enum-descriptions:
            values:
              unknown_type: If unspecified, the type of blocklist is unknown by default
              mailbox_full: The recipient's mailbox is full and cannot receive any new email
              mailbox_not_found: The recipient's mailbox does not exist
          default: unknown_type
      - in: query
        name: custom
        description: (Optional) Filter by custom blocklist (true) or automatic Transactional Email blocklist (false).
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.ListBlocklistsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists?domain_id=6170692e-7363-616c-6577-61792e636f6d\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  domain_id==6170692e-7363-616c-6577-61792e636f6d"
    post:
      tags:
      - Blocklist
      operationId: BulkCreateBlocklists
      summary: Bulk create blocklists
      description: Create multiple blocklists in a specific Project or Organization using the `region` parameter.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.BulkCreateBlocklistsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_id:
                  type: string
                  description: Domain ID linked to the blocklist. (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                emails:
                  type: array
                  description: Email blocked by the blocklist.
                  items:
                    type: string
                type:
                  type: string
                  description: Type of blocklist.
                  enum:
                  - unknown_type
                  - mailbox_full
                  - mailbox_not_found
                  x-enum-descriptions:
                    values:
                      unknown_type: If unspecified, the type of blocklist is unknown by default
                      mailbox_full: The recipient's mailbox is full and cannot receive any new email
                      mailbox_not_found: The recipient's mailbox does not exist
                  default: unknown_type
                reason:
                  type: string
                  description: Reason to block the email.
              x-properties-order:
              - domain_id
              - emails
              - type
              - reason
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"domain_id\":\"6170692e-7363-616c-6577-61792e636f6d\"}' \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  domain_id=\"6170692e-7363-616c-6577-61792e636f6d\""
  /transactional-email/v1alpha1/regions/{region}/blocklists/{blocklist_id}:
    delete:
      tags:
      - Blocklist
      operationId: DeleteBlocklist
      summary: Delete a blocklist
      description: You must specify the blocklist you want to delete by the `region` and `blocklist_id`.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
      - in: path
        name: blocklist_id
        description: ID of the blocklist to delete. (UUID format)
        required: true
        schema:
          type: string
          example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists/{blocklist_id}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/transactional-email/v1alpha1/regions/{region}/blocklists/{blocklist_id}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.transactional_email.v1alpha1.BulkCreateBlocklistsResponse:
      type: object
      properties:
        blocklists:
          type: array
          description: List of blocklist created.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Blocklist'
      x-properties-order:
      - blocklists
    scaleway.transactional_email.v1alpha1.Blocklist:
      type: object
      properties:
        id:
          type: string
          description: ID of the blocklist.
        domain_id:
          type: string
          description: Domain ID linked to the blocklist.
        created_at:
          type: string
          description: Date and time of the blocklist creation. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        updated_at:
          type: string
          description: Date and time of the blocklist's last update. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        ends_at:
          type: string
          description: Date and time when the blocklist ends. Empty if the blocklist has no end. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        email:
          type: string
          description: Email blocked by the blocklist.
        type:
          type: string
          description: Type of block for this email.
          enum:
          - unknown_type
          - mailbox_full
          - mailbox_not_found
          x-enum-descriptions:
            values:
              unknown_type: If unspecified, the type of blocklist is unknown by default
              mailbox_full: The recipient's mailbox is full and cannot receive any new email
              mailbox_not_found: The recipient's mailbox does not exist
          default: unknown_type
        reason:
          type: string
          description: Reason to block this email.
        custom:
          type: boolean
          description: True if this blocklist was created manually. False for an automatic Transactional Email blocklist.
      x-properties-order:
      - id
      - domain_id
      - created_at
      - updated_at
      - ends_at
      - email
      - type
      - reason
      - custom
    scaleway.transactional_email.v1alpha1.ListBlocklistsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Number of blocklists matching the requested criteria.
          format: uint64
        blocklists:
          type: array
          description: Single page of blocklists matching the requested criteria.
          items:
            $ref: '#/components/schemas/scaleway.transactional_email.v1alpha1.Blocklist'
      x-properties-order:
      - total_count
      - blocklists
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
