openapi: 3.2.0
info:
  title: IAM Security Settings API
  description: Identity and Access Management (IAM) allows you to share access to the management of your Scaleway resources and Organization settings, in a controlled and secure manner.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Security Settings
  description: Security settings are organization-wide configurations that apply to all users in an organization. These settings enforce restrictions on how users authenticate with Scaleway's services.
paths:
  /iam/v1alpha1/organizations/{organization_id}/security-settings:
    get:
      tags:
      - Security Settings
      operationId: GetOrganizationSecuritySettings
      summary: Get security settings of an Organization
      description: Retrieve information about the security settings of an Organization, specified by the `organization_id` parameter.
      parameters:
      - in: path
        name: organization_id
        description: ID of the Organization.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.OrganizationSecuritySettings'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/security-settings\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/security-settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    patch:
      tags:
      - Security Settings
      operationId: UpdateOrganizationSecuritySettings
      summary: Update the security settings of an Organization
      parameters:
      - in: path
        name: organization_id
        description: ID of the Organization.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.iam.v1alpha1.OrganizationSecuritySettings'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enforce_password_renewal:
                  type: boolean
                  description: Defines whether password renewal is enforced during first login.
                grace_period_duration:
                  type: string
                  description: Duration of the grace period to renew password or enable MFA. (in seconds)
                  example: 2.5s
                  nullable: true
                login_attempts_before_locked:
                  type: integer
                  description: Number of login attempts before the account is locked.
                  format: uint32
                max_login_session_duration:
                  type: string
                  description: Maximum duration a login session will stay active before needing to relogin. (in seconds)
                  example: 2.5s
                  nullable: true
                max_api_key_expiration_duration:
                  type: string
                  description: Maximum duration the `expires_at` field of an API key can represent. A value of 0 means there is no maximum duration. (in seconds)
                  example: 2.5s
                  nullable: true
              x-properties-order:
              - enforce_password_renewal
              - grace_period_duration
              - login_attempts_before_locked
              - max_login_session_duration
              - max_api_key_expiration_duration
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}' \\\n  \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/security-settings\""
      - lang: HTTPie
        source: "http PATCH \"https://api.scaleway.com/iam/v1alpha1/organizations/{organization_id}/security-settings\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.iam.v1alpha1.OrganizationSecuritySettings:
      type: object
      properties:
        enforce_password_renewal:
          type: boolean
          description: Defines whether password renewal is enforced during first login.
        grace_period_duration:
          type: string
          description: Duration of the grace period to renew password or enable MFA. (in seconds)
          example: 2.5s
          nullable: true
        login_attempts_before_locked:
          type: integer
          description: Number of login attempts before the account is locked.
          format: uint32
        max_login_session_duration:
          type: string
          description: Maximum duration a login session will stay active before needing to relogin. (in seconds)
          example: 2.5s
          nullable: true
        max_api_key_expiration_duration:
          type: string
          description: Maximum duration the `expires_at` field of an API key can represent. A value of 0 means there is no maximum duration. (in seconds)
          example: 2.5s
          nullable: true
      x-properties-order:
      - enforce_password_renewal
      - grace_period_duration
      - login_attempts_before_locked
      - max_login_session_duration
      - max_api_key_expiration_duration
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
