openapi: 3.2.0
info:
  title: Managed Database for PostgreSQL and MySQL Databases API
  description: Managed Database for PostgreSQL and MySQL provides fully-managed relational Database Instances, with MySQL or PostgreSQL as database engines.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Databases
  description: Databases can be used to store and manage sets of structured information, or data. The interaction between the user and a database is done using a Database Engine, which provides a structured query language to add, modify or delete information from the database.
paths:
  /rdb/v1/regions/{region}/instances/{instance_id}/databases:
    get:
      tags:
      - Databases
      operationId: ListDatabases
      summary: List databases in a Database Instance
      description: List all databases of a given Database Instance. By default, the databases returned in the list are ordered by creation date in ascending order, though this can be modified via the order_by field. You can define additional parameters for your query, such as `name`, `managed` and `owner`.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance to list the databases of.
        required: true
        schema:
          type: string
      - in: query
        name: name
        description: Name of the database.
        schema:
          type: string
      - in: query
        name: managed
        description: Defines whether or not the database is managed.
        schema:
          type: boolean
      - in: query
        name: owner
        description: User that owns this database.
        schema:
          type: string
      - in: query
        name: order_by
        description: Criteria to use when ordering database listing.
        schema:
          type: string
          enum:
          - name_asc
          - name_desc
          - size_asc
          - size_desc
          default: name_asc
      - in: query
        name: skip_size_retrieval
        description: Whether to skip the retrieval of each database size. If true, the size of each returned database will be set to 0.
        schema:
          type: boolean
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/google.protobuf.Int32Value'
      - in: query
        name: page_size
        schema:
          type: integer
          format: uint32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.ListDatabasesResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
    post:
      tags:
      - Databases
      operationId: CreateDatabase
      summary: Create a database in a Database Instance
      description: Create a new database. You must define the `name` parameter in the request.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance where to create the database.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.rdb.v1.Database'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the database.
              x-properties-order:
              - name
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"string\"}' \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases\""
      - lang: HTTPie
        source: "http POST \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases\" \\\n  X-Auth-Token:$SCW_SECRET_KEY \\\n  name=\"string\""
  /rdb/v1/regions/{region}/instances/{instance_id}/databases/{name}:
    delete:
      tags:
      - Databases
      operationId: DeleteDatabase
      summary: Delete a database in a Database Instance
      description: Delete a given database on a Database Instance. You must specify, in the endpoint, the `region`, `instance_id` and `name` parameters of the database you want to delete.
      parameters:
      - in: path
        name: region
        description: The region you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par
          - nl-ams
          - pl-waw
      - in: path
        name: instance_id
        description: UUID of the Database Instance where to delete the database.
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: Name of the database to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases/{name}\""
      - lang: HTTPie
        source: "http DELETE \"https://api.scaleway.com/rdb/v1/regions/{region}/instances/{instance_id}/databases/{name}\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    google.protobuf.Int32Value:
      type: integer
      format: int32
      nullable: true
    scaleway.rdb.v1.ListDatabasesResponse:
      type: object
      properties:
        databases:
          type: array
          description: List of the databases.
          items:
            $ref: '#/components/schemas/scaleway.rdb.v1.Database'
        total_count:
          type: integer
          description: Total count of databases present on a Database Instance.
          format: uint32
      x-properties-order:
      - databases
      - total_count
    scaleway.rdb.v1.Database:
      type: object
      properties:
        name:
          type: string
          description: Name of the database.
        owner:
          type: string
          description: Name of the database owner.
        managed:
          type: boolean
          description: Defines whether the database is managed or not.
        size:
          type: integer
          description: Size of the database. Set to 0 if the size retrieval is too time-consuming or `skip_size_retrieval` is set to true. (in bytes)
          format: uint64
      x-properties-order:
      - name
      - owner
      - managed
      - size
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
