openapi: 3.2.0
info:
  title: Load Balancer Stats API
  description: Load Balancers are highly available and fully managed Instances that facilitate the distribution of incoming traffic across multiple servers.
  version: v1
servers:
- url: https://api.scaleway.com
tags:
- name: Stats
  description: Load balancer statistics (deprecated).
paths:
  /lb/v1/zones/{zone}/lbs/{lb_id}/stats:
    get:
      tags:
      - Stats
      operationId: GetLbStats
      summary: Get usage statistics of a given Load Balancer
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
          - nl-ams-2
          - nl-ams-3
          - pl-waw-1
          - pl-waw-2
          - pl-waw-3
      - in: path
        name: lb_id
        description: Load Balancer ID.
        required: true
        schema:
          type: string
      - in: query
        name: backend_id
        description: ID of the backend.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.lb.v1.LbStats'
      security:
      - scaleway: []
      deprecated: true
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"X-Auth-Token: $SCW_SECRET_KEY\" \\\n  \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/stats\""
      - lang: HTTPie
        source: "http GET \"https://api.scaleway.com/lb/v1/zones/{zone}/lbs/{lb_id}/stats\" \\\n  X-Auth-Token:$SCW_SECRET_KEY"
components:
  schemas:
    scaleway.lb.v1.BackendServerStats:
      type: object
      properties:
        instance_id:
          type: string
          description: ID of your Load Balancer's underlying Instance.
        backend_id:
          type: string
          description: Backend ID.
        ip:
          type: string
          description: IPv4 or IPv6 address of the backend server.
        server_state:
          type: string
          description: Server operational state (stopped/starting/running/stopping).
          enum:
          - stopped
          - starting
          - running
          - stopping
          default: stopped
        server_state_changed_at:
          type: string
          description: Time since last operational change. (RFC 3339 format)
          format: date-time
          example: '2022-03-22T12:34:56.123456Z'
          nullable: true
        last_health_check_status:
          type: string
          description: Last health check status (unknown/neutral/failed/passed/condpass).
          enum:
          - unknown
          - neutral
          - failed
          - passed
          - condpass
          default: unknown
      x-properties-order:
      - instance_id
      - backend_id
      - ip
      - server_state
      - server_state_changed_at
      - last_health_check_status
    scaleway.lb.v1.LbStats:
      type: object
      properties:
        backend_servers_stats:
          type: array
          description: List of objects containing Load Balancer statistics.
          items:
            $ref: '#/components/schemas/scaleway.lb.v1.BackendServerStats'
      x-properties-order:
      - backend_servers_stats
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
